{% extends 'main/base.html' %}
{% load static %}


{% block content %}


    <!-- pagebanner -->
    <section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'images/cc_disposal1.jpg' %}{% endif %}');">
        <div class="page-title">
            <h2 class="white text-center">Disposal</h2>
        </div>
    </section>
    <!-- End Pagebanner -->

    <!-- breadcrumb -->
    <div class="breadcrumb-main">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'webapp:home' %}"><i class="fa fa-home"></i></a></li>
                <li><a href="{% url 'webapp:services' %}">Services</a></li>
                <li class="active">Disposal</li>
            </ul>
        </div>
    </div>
    <!-- End breadcrumb -->

    <!--store detail -->
    <section id="store-detail" class="store-detail">
        <div class="container">
            <div class="single-product-content">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="thumbnail-images">
                            <div class="slider slider-store">
                                <div>
                                    <img src="{% static 'images/project/confide_disposal_pr.png' %}" alt="1">
                                </div>
                                <div>
                                    <img src="{% static 'images/project/confide_badger5.JPG' %}" alt="1">
                                </div>
                                <div>
                                    <img src="{% static 'images/project/confide_scr.JPG' %}" alt="1">
                                </div>
                                <div>
                                    <img src="{% static 'images/project/confide_insinc.JPG' %}" alt="1">
                                </div>
                                <div>
                                    <img src="{% static 'images/project/confide_insinc_bag.jpg' %}" alt="1">
                                </div>
                            </div>
                            <div class="slider slider-thumbs">
                                <div>
                                    <img src="{% static 'images/project/confide_disposal_pr.png' %}" alt="1">
                                </div>
                                <div>
                                    <img src="{% static 'images/project/confide_badger5.JPG' %}" alt="1">
                                </div>
                                <div>
                                    <img src="{% static 'images/project/confide_scr.JPG' %}" alt="1">
                                </div>
                                <div>
                                    <img src="{% static 'images/project/confide_insinc.JPG' %}" alt="1">
                                </div>
                                <div>
                                    <img src="{% static 'images/project/confide_insinc_bag.jpg' %}" alt="1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="single-product-summary">
                            <div class="entry-summary">
                                <h2 class="single-product-title">DISPOSAL</h2>
                                <div class="rt-product-meta-wrapper">
                                    <span class="price">
                                        <del>
                                            <span class="rt-price-amount">
                                                <span>$</span>150.00
                                            </span>
                                        </del>
                                        <ins>
                                            <span class="rt-price-amount">
                                                <span>$</span>100.00
                                            </span>
                                        </ins>
                                    </span>
                                </div>
                                <div class="product-details_short-description mar-top-30">
                                    <p>InSinkErator Badger 5 Garbage Disposal,
                                        Standard Series 1/2 HP<br>Continuous Feed Food Waste Disposer, Black, Set of 1
                                        <br></p>
                                </div>

                                <form class="cart mar-top-30" action="" method="post">

                                    <div class="quantity-buttons">
                                        <label class="screen-reader-text">Quantity</label>
                                        <input type="number" class="quantity-input" name="quantity" min="1" max="100"
                                               placeholder="No.">
                                    </div>

                                    <button type="submit" name="add-to-cart" value="1605" class="mt_btn_yellow">Add to
                                        cart
                                    </button>

                                </form>

                                <div class="product_meta mar-top-30">

                                    <span class="sku_wrapper">Brand: <span class="sku">InSinkErator</span></span>
                                    <span class="posted_in">Capacity: <a href="#" rel="tag">1 Gallons</a></span>
                                    <span class="tagged_as">Color:<a href="#" rel="tag">Black</a></span>
                                    <span class="tagged_as">Material:<a href="#" rel="tag">Other</a></span>
                                    <span class="tagged_as">Power Source:<a href="#" rel="tag">electric</a></span>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--/End store detail -->

    <!-- store tab -->
    <section id="store-tabs" class="store-tabs store-detail">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 ">
                    <div id="store-tab-main" class="">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#1" data-toggle="tab">Description</a></li>
                            <li><a href="#2" data-toggle="tab">Additional Information</a></li>
                            <li><a href="#3" data-toggle="tab">Solution</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="1">
                                <p>RELIABLE & EASY INSTALL: Badger Series disposers are a reliable & functional choice
                                    when affordability is the prime concern, and features a compact, space-saving design
                                    that fits existing InSinkErator hardware for a quick and easy install.
                                    DURABLE COMPONENTS: This garbage disposal features our exclusive 1/2 hp Dura-Drive
                                    Induction Motor and long lasting galvanized steel components to ensure a dependable
                                    grind for everyday food scraps.
                                    AMERICA'S #1 DISPOSER BRAND: There are more American-built InSinkErator garbage
                                    disposals in US homes than all other brands combined. A full line of models means
                                    there's one right for every need and budget.
                                    FASTER, CLEANER, SMARTER: From meal prep to cleanup, InSinkErator helps make it fast
                                    & easy to keep your kitchen clean with our iconic appliances: garbage disposals &
                                    instant hot water dispensers.
                                    A HISTORY OF INNOVATION FOR THE SINK: We invented garbage disposals in 1927, & we're
                                    the world’s largest manufacturer of garbage disposals & instant hot water dispensers
                                    for home & commercial use.
                                    Voltage: 120 V</p>
                            </div>

                            <div class="tab-pane" id="2">
                                <p>Manufacturer - In-Sink-Erator
                                    Part Number - 79883-ISE
                                    Item Weight - 13.95 pounds
                                    Product Dimensions - 6.31 x 6.31 x 11.5 inches
                                    Item model number - 79883-ISE
                                    Is Discontinued By Manufacturer No
                                    Size - Set of 1
                                    Color - Black
                                    Style - Badger 5
                                    Finish - Stainless Steel
                                    Material - Other
                                    Pattern - Garbage Disposal
                                    Power Source - electric
                                    Voltage - 120 Volts
                                    Horsepower - 0.50
                                    Installation Method - Freestanding
                                    Item Package Quantity - 1
                                    Flow Rate - 30 Cubic Feet Per Minute
                                    Switch Type - Wall
                                    Certification - UL
                                    Included Components - Insinkerator Badger 5, Stopper And Installation Instructions.,
                                    The Badger 5 Comes With A Quick Lock Sink Mount, 1/2 Hp Food Waste Disposer,
                                    Tailpipe Gasket, Tailpipe, Jam-Buster Wrench
                                    Batteries Included? - No
                                    Batteries Required? - No
                                    Warranty Description - 2-Year We Come To You In-Home Full Service Limited Warranty
                                    Covers parts and labor</p>
                            </div>

                            <div class="tab-pane" id="3">
                                <p>Products with electrical plugs are designed for use in the US. Outlets and voltage
                                    differ internationally and this product may require an adapter or converter for use
                                    in your destination. Please check compatibility before purchasing.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- End store tab -->


    <!--* Services*-->
    <section id="mt_services" class="services_one">
        <div class="container">

            <div class="services-detail mar-bottom-80">
                <div class="row">
                    {% for main_disposal in disp_obj %}
                        <div class="col-md-8 col-sm-12">
                            <span class="page-title mar-bottom-15">Confide Construction</span>
                            <h2 class="mar-bottom-15">INSTALLATION BY OUR COMPANY</h2>
                            <p>{{ main_disposal.description }}</p>
                            {% if checkout_session %}
                                <form action="{% url 'webapp:checkout' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="session_id" value="{{ checkout_session.sessionId }}">
                                    <button class="mt_btn_yellow" type="submit">Pay for the installation</button>
                                </form>
                            {% else %}
                                <p>Ошибка создания чекаут-сессии</p>
                            {% endif %}
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="slider-services">
                                {% for all_photo in main_disposal.photos.all %}
                                    <div><img src="{{ all_photo.photo.url }}" class="img-fixed-size-eight"
                                              alt="services-img"></div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>


            <!--*Newsletter*-->
            <div id="newsletter">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <div class="news-content">
                                <h3>ORDER FREE CONSULTATION</h3>
                                <p class="beige"><b><br>WRITE US TODAY FOR A FREE CONSULTATION ON HOW WE CAN HELP YOU
                                    ACHIEVE
                                    YOUR
                                    LIFESTYLE DREAMS.</b></p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="mailpoet_form">
                                <form target="_self" method="post" action="{% url 'webapp:contacts' %}" novalidate="">
                                    {% csrf_token %}
                                    <input type="text" name="name" placeholder="Your Name">
                                    <input type="email" class="mailpoet_text" name="email" title="Email"
                                           placeholder="Please specify your email address.">
                                    <input type="text" name="description" placeholder="Description Service">
                                    <div class="button">
                                        <input type="submit" class="mailpoet_submit" value="Free Quote">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--*End Newsletter*-->

            <div class="services-detail mar-bottom-80">
                <div class="row">
                    {% for main_disposal_serv in disp_serv %}
                        <div class="col-md-4 col-sm-12">
                            <div class="box">
                                <div class="box-content">
                                    <h3 class="mar-bottom-20">{{ main_disposal_serv.name }}</h3>
                                    <img src="{{ main_disposal_serv.photo.url }}" class="img-fixed-size-seven"
                                         alt="services-1">
                                    <p class="mar-top-20">{{ main_disposal_serv.description }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!--* End Services*-->


{% endblock %}
