{% extends 'main/base.html' %}
{% load static %}


{% block content %}


    <!-- pagebanner -->
    <section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'webapp/images/cc_drywall7.jpg' %}{% endif %}');">
        <div class="page-title">
            <h2 class="white text-center">Drywall</h2>
        </div>
    </section>
    <!-- End Pagebanner -->

    <!-- breadcrumb -->
    <div class="breadcrumb-main">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'webapp:home' %}"><i class="fa fa-home"></i></a></li>
                <li><a href="{% url 'webapp:services' %}">Services</a></li>
                <li class="active">Drywall</li>
            </ul>
        </div>
    </div><!-- End breadcrumb -->

    <!--store detail -->
    <section id="store-detail" class="store-detail">
        <div class="container">
            <div class="single-product-content">
                <div class="row">
                 {% for main_photo in disp_obj %}
                    <div class="col-sm-6">
                        <div class="thumbnail-images">
                            <div class="slider slider-store">
                                <div>
                                   <img src="{{ main_photo.photo.url }}" alt="1">
                                </div>
                            </div>
                            <div class="slider slider-thumbs">
                                <div>
                                   <img src="{{ main_photo.photo.url }}" alt="1">
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    {% for main_disposal in disp_obj %}
                    <div class="col-sm-6">
                        <div class="single-product-summary">
                            <div class="entry-summary">
                                <h2 class="single-product-title">{{ main_disposal.name }}</h2>
                                <div class="rt-product-meta-wrapper">
                                    <span class="price">
                                        <del>
                                            <span class="rt-price-amount">
                                                <span>$</span>{{ main_disposal.price }}</span>
                                        </del>
                                        <ins>
                                            <span class="rt-price-amount">
                                                <span>$</span>{{ main_disposal.discount }}</span>
                                        </ins>
                                    </span>
                                </div>
                                <div class="product-details_short-description mar-top-30">
                                    <p>Our sink clog removal services are designed to provide swift and efficient solutions for unclogging sinks in both kitchens and bathrooms. A clogged sink can disrupt your daily routine and lead to inconvenience, but our expert team is here to help.<br>
                                        <br> Nec sagittis sem nibh idi elit. vulputate cursus a sit amet mauri s. Morbi accumsan ipsum velit adipiscing elit.</p>
                                </div>

                                <form class="cart mar-top-30" action="{% url 'webapp:process_payment' %}" method="post">
                                    <div class="quantity-buttons">
                                        <label class="screen-reader-text">Quantity</label>
                                        <input type="number" class="quantity-input" name="quantity" min="1" max="100" placeholder="No.">
                                    </div>

                                    <button type="submit" name="add-to-cart" value="1605" class="mt_btn_yellow">Add to
                                        cart
                                    </button>
                                </form>


{#                                <div class="product_meta mar-top-30">#}
{##}
{#                                    <span class="sku_wrapper">SKU: <span class="sku">125</span></span>#}
{##}
{#                                    <span class="posted_in">#}
{#                                        Category: <a href="{% url 'webapp:process_payment' %}" rel="tag">Wall Decoration</a>#}
{#                                    </span>#}
{##}
{#                                    <span class="tagged_as">Tags:#}
{#                                        <a href="#" rel="tag">Color</a>,#}
{#                                        <a href="#" rel="tag">Design</a>#}
{#                                    </span>#}
{##}
{#                                </div>#}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </section>
    <!--/End store detail -->

    <!-- store tab -->
    <section id="store-tabs" class="store-tabs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 ">
                    {% for main_info in disp_obj %}
                    <div id="store-tab-main" class="">
                        <ul class="nav nav-tabs">
                            <li class="active"><a  href="#1" data-toggle="tab">Description</a></li>
                            <li><a href="#2" data-toggle="tab">Advantages Information</a></li>
                            <li><a href="#3" data-toggle="tab">Material</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="1">
                                <p>{{ main_info.description }}</p>
                            </div>

                            <div class="tab-pane" id="2">
                              <p>{{ main_info.advantages }}</p>
                            </div>

                            <div class="tab-pane" id="3">
                              <p>{{ main_info.material }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>
    <!-- End store tab -->

    <!-- store -->
    <section id="our_store" class="our_store related_store">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!-- section title -->
                    <div class="section_heading">
                        <h2 class="section_title">
                            <span>Our Services</span>
                        </h2>
                        <p class="heading_txt">We offer a range of services in the field of repair and construction.</p>
                    </div>
                </div>
            </div>

            <div class="row slider-shop">
                {% for main_sl_cart_prod in main_serv %}
                <div class="col-md-3 col-xs-12">
                    <div class="rt-product-wrapper">
                        <div class="product-thumbnail-wrapper">
                                <div class="product-image">
                                    <img src="{{ main_sl_cart_prod.image.url }}" class="img-fixed-size" alt="product-list">
                                </div>
                            <div class="product-label"><span class="onsale">Sale</span></div>
                        </div>
                        <div class="rt-product-meta-wrapper">
                            <h3 class="product_title">
                                <a href="store-detail.html">{{ main_sl_cart_prod.name }}</a>
                            </h3>
                            <div class="rt-cartprice-wrapper">
                                <span class="price mar-bottom-20">
{#                                    <del>#}
{#                                        <span class="rt-price-amount">#}
{#                                            <span >$</span>#}
{#                                        </span>#}
{#                                    </del>#}
                                    <ins>
                                        <span class="rrt-price-amount">
                                            <span>$</span>{{ main_sl_cart_prod.price }}
                                        </span>
                                    </ins>
                                </span>
                                <div class="button">
                                    <a href="{% url 'webapp:process_payment' %}" class="mt_btn_yellow">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End store -->


{% endblock %}
