{% extends 'main/base.html' %}
{% load static %}


{% block content %}

    <!-- pagebanner -->
    <section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'images/cc_work_tools.jpg' %}{% endif %}'); background-size: cover;">
        <div class="page-title">
            <h2 class="white text-center">Services</h2>
        </div>
    </section>
    <!-- End Pagebanner -->


    <!-- breadcrumb -->
    <div class="breadcrumb-main">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'webapp:home' %}"><i class="fa fa-home"></i></a></li>
                <li class="active">Services</li>
            </ul>
        </div>
    </div>
    <!-- End breadcrumb -->

    <!--* Contact*-->
    <section id="mt_services">
        <div class="container wow slideInRight">

            <div class="row">
                <div class="col-xs-12 mar-bottom-30">
                    <div class="contact-info text-center slide-in">
                        <ul>
                            <a href="{% url 'webapp:disposal' %}"><h2>We INSTALL and SELL waste disposal units buy NOW
                                <i class="fa fa-hand-o-down"></i></h2></a>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <div class="main_disposal">
                        <a href="{% url 'webapp:disposal' %}"><img
                                src="{% static 'images/confide_constract_disposal.png' %}"
                                class="img-fixed-size-for-disposal-main">
                            <button class="mt_btn_yellow" type="submit">Buy Now or order the Installation</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--* End Contact*-->

    <!--* Services*-->
    <section id="mt_services" class="wow slideInLeft">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!-- section title -->
                    <div class="section_heading">
                        <h2 class="section_title">
                            <span>OUR SERVICES</span>
                        </h2>
                        <p class="heading_txt">We offer a range of services in the field of repair and construction.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for main_ser in serv_serv|slice:":8" %}
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="box mar-bottom-30 text-center">
                            <img src="{{ main_ser.image.url }}" class="img-fixed-size">
                            <div class="box-content">
                                <h3><a href="{{ main_ser.link }}">{{ main_ser.name }}</a></h3>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:4 %} {# Закрываем текущий ряд после каждой четвертой модели #}
                        </div>
                        <div class="row">
                    {% endif %}
                {% endfor %}
                </div>
        </div>
    </section>
    <!--* End Services*-->


    <!--* Services*-->
    <section id="mt_services_two" class="services_two">
        <div class="container">

            <div class="services_listing mar-top-60">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- section title -->
                        <div class="section_heading">
                            <h2 class="section_title">
                                <span>INTRODUCING THE COMPANY</span>
                            </h2>
                            <p class="heading_txt smaller-font">Our company specializing in remodeling and renovation, we are your trusted choice for all your home improvement needs.</p>
                        </div>
                    </div>
                    {% for main_quality in qual %}
                    <div class="col-md-4 col-sm-6 col-xs-6">
                        <div class="box mar-bottom-30 text-center transparent-background">
                            <div class="box-content">
                                <div class="icon mar-bottom-20"><i class="{{ main_quality.icon }}"></i></div>
                                <h3 class="text-uppercase"><a href="#">{{ main_quality.name }}</a></h3>
                                <p class="smaller-font-two">{{ main_quality.description }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!--* End Services*-->


    <!--* Slider Services*-->
    <section id="mt_services" class="services_one">
        <div class="container">
            <div class="services-detail mar-bottom-80">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <span class="page-title mar-bottom-15">Confide Construction</span>
                        <h2 class="mar-bottom-15">We individually assess each <br> plan and offer optimal solutions</h2>
                        <p class="mar-bottom-15">Each project undergoes a meticulous assessment,
                            <br>enabling us to deliver the most efficient and effective solutions tailored to your specific requirements.</p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="slider-services">
                            {% for slider in servis_slider %}
                                <div><img src="{{ slider.image.url }}" class="img-fixed-size-two" alt="{{ main_slider.name }}"><h3>{{ slider.name }}</h3></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--* End Slider Services*-->

    <!--*Newsletter*-->
    <div id="newsletter">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="news-content">
                        <h3>ORDER FREE CONSULTATION</h3>
                        <p class="beige"><b><br>WRITE US TODAY FOR A FREE CONSULTATION ON HOW WE CAN HELP YOU ACHIEVE
                            YOUR
                            LIFESTYLE DREAMS.</b></p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="mailpoet_form">
                        <form target="_self" method="post" action="{% url 'webapp:contacts' %}" novalidate="">
                            {% csrf_token %}
                            <input type="text" name="name" placeholder="Your Name">
                            <input type="email" class="mailpoet_text" name="email" title="Email"
                                   placeholder="Please specify your email address.">
                            <input type="text" name="description" placeholder="Description Service">
                            <div class="button">
                                <input type="submit" class="mailpoet_submit" value="Free Quote">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--*End Newsletter*-->


{% endblock %}
