{% extends 'main/base.html' %}
{% load static %}


{% block content %}

    <!-- pagebanner -->
    <section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'images/cc_work_tools.jpg' %}{% endif %}'); background-size: cover;">
        <div class="page-title">
            <h2 class="white text-center">Services</h2>
        </div>
    </section>
    <!-- End Pagebanner -->


    <!-- breadcrumb -->
    <div class="breadcrumb-main">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'webapp:home' %}"><i class="fa fa-home"></i></a></li>
                <li class="active">Services</li>
            </ul>
        </div>
    </div>
    <!-- End breadcrumb -->

    <!--* Contact*-->
    <section id="mt_services">
        <div class="container wow slideInRight">

            <div class="row">
                <div class="col-xs-12 mar-bottom-30">
                    <div class="contact-info text-center slide-in">
                        <ul>
                            <a href="https://dchomefix.co/services/disposal"><h2>We INSTALL and SELL waste disposal units buy NOW
                                <i class="fa fa-hand-o-down"></i></h2></a>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <div class="main_disposal">
                        <a href="https://dchomefix.co/services/disposal"><img
                                src="{% static 'images/confide_disposal.png' %}"
                                class="img-fixed-size-for-disposal-main">
                        </a>
                    </div>
                    <a href="https://dchomefix.co/services/disposal" class="mt_btn_yellow">Restore</a>
                </div>
            </div>
        </div>
    </section>
    <!--* End Contact*-->

    <!--* Products*-->
    <section id="mt_services_prod">
        <div class="container wow slideInLeft">
            <div class="row">
                <div class="col-xs-12">
                    <!-- Section title -->
                    <div class="section_heading">
                        <h2 class="section_title">
                            <span>OUR PRODUCTS</span>
                        </h2>
                        <p class="heading_txt">We offer a range of products in the field of repair and construction.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for main_product in product|slice:":8" %}
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="box mar-bottom-30 text-center text_products">
                            {% if main_product.image %}
                                <a href="{% url 'webapp:services_with_slug' main_product.slug %}">
                                <img src="{{ main_product.image.url }}" class="img-fixed-size" alt="{{ main_product.name }}">
                                </a>
                            {% else %}
                                <a href="{% url 'webapp:services_with_slug' main_product.slug %}">
                                <img src="{% static 'images/cc_hacker.jpg' %}" class="img-fixed-size"
                                     alt="Default product image">
                                </a>
                            {% endif %}
                            <div class="box-content">
                                <h3><a href="{% url 'webapp:services_with_slug' main_product.slug %}">{{ main_product.name }}</a></h3>
                                <span class="price">${{ main_product.price }}</span>
                            </div>
                        </div>
                    </div>

                    {% if forloop.counter|divisibleby:4 and not forloop.last %}
                        </div>
                        <div class="row">
                    {% endif %}
                {% endfor %}
                </div>
        </div>
    </section>
    <!--* End Products*-->



    <!--* Services*-->
    <section id="mt_services_two" class="services_two">
        <div class="container">

            <div class="services_listing mar-top-60">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- section title -->
                        <div class="section_heading">
                            <h2 class="section_title">
                                <span>INTRODUCING THE COMPANY</span>
                            </h2>
                            <p class="heading_txt smaller-font">Our company specializing in remodeling and renovation, we are your trusted choice for all your home improvement needs.</p>
                        </div>
                    </div>
                    {% for main_quality in qual %}
                    <div class="col-md-4 col-sm-6 col-xs-6">
                        <div class="box mar-bottom-30 text-center transparent-background">
                            <div class="box-content">
                                <div class="icon mar-bottom-20"><i class="{{ main_quality.icon }}"></i></div>
                                <h3 class="text-uppercase"><a href="#">{{ main_quality.name }}</a></h3>
                                <p class="smaller-font-two">{{ main_quality.description }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!--* End Services*-->


    <!--* Slider Services*-->
    <section id="mt_services" class="services_one">
        <div class="container">
            <div class="services-detail mar-bottom-80">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <span class="page-title mar-bottom-15">Confide Construction</span>
                        <h2 class="mar-bottom-15">We individually assess each <br> plan and offer optimal solutions</h2>
                        <p class="mar-bottom-15">Each project undergoes a meticulous assessment,
                            <br>enabling us to deliver the most efficient and effective solutions tailored to your specific requirements.</p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="slider-services">
                            {% for slider in servis_slider %}
                                <div><img src="{{ slider.image.url }}" class="img-fixed-size-two" alt="{{ main_slider.name }}"><h3>{{ slider.name }}</h3></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--* End Slider Services*-->

{##}
{#    <!--* Services*-->#}
{#    <section id="mt_services" class="services_one">#}
{#        <div class="container">#}
{#            <div class="services-detail">#}
{#                <div class="services-faq">#}
{#                    <!-- section title -->#}
{#                    <div class="section_heading">#}
{#                        <h2 class="section_title">#}
{#                            <span>Frequemtly Asked Question</span>#}
{#                        </h2>#}
{#                        <p class="heading_txt">There are variations available majoritaey suffered alteration words which#}
{#                            look believable#}
{#                            dolor sit.</p>#}
{#                    </div>#}
{#                    <div class="accrodion-grp faq-accrodion" data-grp-name="faq-accrodion">#}
{#                        <div class="accrodion active">#}
{#                            <div class="accrodion-title">#}
{#                                <h4>Lorem ipsum dolor sit amet</h4>#}
{#                            </div>#}
{#                            <div class="accrodion-content" style="display: block;">#}
{#                                <div class="inner">#}
{#                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque#}
{#                                        veniam, praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit#}
{#                                        voluptatem.</p>#}
{#                                </div><!-- /.inner -->#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="accrodion ">#}
{#                            <div class="accrodion-title">#}
{#                                <h4>Dolor sit amet, consectetuer adipiscing elit</h4>#}
{#                            </div>#}
{#                            <div class="accrodion-content" style="display: none;">#}
{#                                <div class="inner">#}
{#                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque#}
{#                                        veniam, praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit#}
{#                                        voluptatem.</p>#}
{#                                </div><!-- /.inner -->#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="accrodion">#}
{#                            <div class="accrodion-title">#}
{#                                <h4>Sed diam nonummy nibh euismod</h4>#}
{#                            </div>#}
{#                            <div class="accrodion-content" style="display: none;">#}
{#                                <div class="inner">#}
{#                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque#}
{#                                        veniam, praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit#}
{#                                        voluptatem.</p>#}
{#                                </div><!-- /.inner -->#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{#    <!--* End Services*-->#}


{% endblock %}
