{% extends 'main/base.html' %}
{% load static %}


{% block content %}


    <!-- pagebanner -->
    <section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'images/cc_soundproofing.jpg' %}{% endif %}');">
        <div class="page-title">
            <h2 class="white text-center">Soundproofing</h2>
        </div>
    </section>
    <!-- End Pagebanner -->

    <!-- breadcrumb -->
    <div class="breadcrumb-main">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'webapp:home' %}"><i class="fa fa-home"></i></a></li>
                <li><a href="{% url 'webapp:services' %}">Services</a></li>
                <li class="active">Soundproofing</li>
            </ul>
        </div>
    </div><!-- End breadcrumb -->


    <!--* Services*-->
    <section id="mt_services" class="services_one">
        <div class="container">

            <div class="services-detail mar-bottom-80">
                <div class="row">
                    {% for main_soundproof in soundproof_obj %}
                        <div class="col-md-8 col-sm-12">
                            <span class="page-title mar-bottom-15">Confide Construction</span>
                            <h2 class="mar-bottom-15">We individually assess each <br> plan and offer optimal solutions
                            </h2>
                            <p>{{ main_soundproof.description }}<br><br>
                                {{ main_soundproof.material }}</p>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="slider-services">
                                {% for all_photo in main_soundproof.photos.all %}
                                    <div><img src="{{ all_photo.photo.url }}" class="img-fixed-size-eight"
                                              alt="services-img"></div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!--*Newsletter*-->
            <div id="newsletter">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <div class="news-content">
                                <h3>ORDER FREE CONSULTATION</h3>
                                <p class="beige"><b><br>WRITE US TODAY FOR A FREE CONSULTATION ON HOW WE CAN HELP YOU
                                    ACHIEVE
                                    YOUR
                                    LIFESTYLE DREAMS.</b></p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="mailpoet_form">
                                <form target="_self" method="post" action="{% url 'webapp:contacts' %}" novalidate="">
                                    {% csrf_token %}
                                    <input type="text" name="name" placeholder="Your Name">
                                    <input type="email" class="mailpoet_text" name="email" title="Email"
                                           placeholder="Please specify your email address.">
                                    <input type="text" name="description" placeholder="Description Service">
                                    <div class="button button-mail">
                                        <input type="submit" class="mailpoet_submit" value="Free Quote">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--*End Newsletter*-->

            <div class="services-detail mar-bottom-80">
                <div class="row">
                    {% for main_soundpr_serv in soundproof_serv %}
                        <div class="col-md-4 col-sm-12">
                            <div class="box">
                                <div class="box-content">
                                    <h3 class="mar-bottom-20">{{ main_soundpr_serv.name }}</h3>
                                    <img src="{{ main_soundpr_serv.photo.url }}" class="img-fixed-size-seven"
                                         alt="services-1">
                                    <p class="mar-top-20">{{ main_soundpr_serv.description }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!--* End Services*-->

    <!-- store -->
    <section id="our_store" class="our_store related_store">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!-- section title -->
                    <div class="section_heading">
                        <h2 class="section_title">
                            <span>Our Services</span>
                        </h2>
                        <p class="heading_txt">We offer a range of services in the field of repair and construction.</p>
                    </div>
                </div>
            </div>

            <div class="row slider-shop">
                {% for main_sl_cart_prod in main_serv %}
                <div class="col-md-3 col-xs-12">
                    <div class="rt-product-wrapper">
                        <div class="product-thumbnail-wrapper">
                                <div class="product-image">
                                    <img src="{{ main_sl_cart_prod.image.url }}" class="img-fixed-size" alt="product-list">
                                </div>
                            <div class="product-label"><span class="onsale">Sale</span></div>
                        </div>
                        <div class="rt-product-meta-wrapper">
                            <h3 class="product_title">
                                <a href="{{ main_sl_cart_prod.link }}">{{ main_sl_cart_prod.name }}</a>
                            </h3>
                            <div class="rt-cartprice-wrapper">
                                <div class="button">
                                    <a href="{{ main_sl_cart_prod.link }}" class="mt_btn_yellow">Go to service</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End store -->


{% endblock %}
