<html>
    <body style="font-family: Arial, sans-serif; background-color: #f4f4f4; padding: 20px;">
        <div style="max-width: 650px; margin: auto; background: beige; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
            <h2 style="color: #333;">📌 Confide Construction<br><br>Consultation Request</h2>
            <br>
            <p><strong>「 First 𝐍𝐚𝐦𝐞 」:</strong> {{ first_name }}</p>
            <p><strong>「 Last 𝐍𝐚𝐦𝐞 」:</strong> {{ last_name }}</p><br>
            <p><strong>📋 Job Description:</strong> {{ description }}</p>
            <p><strong>🇿ℹ️🇵 Code:</strong> {{ zip_code }}</p>
            <p><strong>📅 Date of Visit:</strong> {{ date }}</p>
            <p><strong>『⩇⩇:⩇⩇』At what Time:</strong> {{ time }}</p>
            <p><strong>™️ Number of Hours:</strong> {{ hours }}</p>
            <p>────⋆⋅☆⋅⋆──</p>
            <p><strong>📧 Email:</strong> {{ email }}</p>
            <p><strong>☎️ Phone Number:</strong> {{ phone }}</p>
            <p>────⋆⋅☆⋅⋆──</p>

            {% if saved_files %}
                <p><strong>📎 Attached Files:</strong></p>
                <ul>
                    {% for photo in saved_files %}
                        <li>{{ photo.file.url }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p><strong>📎 No files attached</strong></p>
            {% endif %}

            <p><br>ᵗᑋᵃᐢᵏ ᵞᵒᵘ*</p>
            <i>This mail is sent from website <a href="https://dchomefix.co">https://dchomefix.co</a> ®</i>
        </div>
    </body>
</html>
