{% extends 'main/base.html' %}
{% load static %}


{% block content %}

        <!-- pagebanner -->
    <section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'webapp/images/cc_reg.jpg' %}{% endif %}'); background-size: cover;">
        <div class="page-title">
            <h2 class="white text-center">Registrations</h2>
        </div>
    </section>
    <!-- End Pagebanner -->


    <!-- breadcrumb -->
    <div class="breadcrumb-main">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'webapp:home' %}"><i class="fa fa-home"></i></a></li>
                <li class="active">Callback</li>
            </ul>
        </div>
    </div>
    <!-- End breadcrumb -->

    <div class="form-container" style="margin-top: 25px; margin-bottom: 25px;">
        <form method="post">
            {% csrf_token %}
            {{ form.username.label_tag }} {{ form.username }}
            {{ form.first_name.label_tag }} {{ form.first_name }}
            {{ form.last_name.label_tag }} {{ form.last_name }}
            {{ form.phone.label_tag }} {{ form.phone }}
            {{ form.email.label_tag }} {{ form.email }}
            {{ form.password.label_tag }} {{ form.password }}
            {{ form.password2.label_tag }} {{ form.password2 }}
            {{ form.errors }}
            <input type="submit" value="Register">
        </form>
    </div>


{% endblock %}
