<!-- success_email.html -->
<html>
    <body style="font-family: Arial, sans-serif; background-color: #f4f4f4; padding: 20px;">
        <div style="max-width: 650px; margin: auto; background: beige; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
            <h2 style="color: #333;">📌 Confide Construction<br><br>Payment Response</h2>
            <br>
{#            <p><strong>「 First Name 」:</strong> {{ first_name }}</p>#}
            <p><strong>「 Last Name 」:</strong> {{ last_name }}</p>
            <p><strong>「 Name Check 」:</strong> {{ name_check }}</p><br>
            <p><strong>📋 Job Description:</strong> {{ description }}</p>
            <p><strong>📅 Date of Visit:</strong> {{ date }}</p>
            <p><strong>💸 Price:</strong> {{ discount_check }}</p>
            <p>────⋆⋅☆⋅⋆──</p>
            <p><strong>📧 Email:</strong> {{ email }}</p>
            <p><strong>☎️ Phone Number:</strong> {{ phone }}</p>
            <p>────⋆⋅☆⋅⋆──</p>
            <p><br>Thank You!</p>
            <i>This mail was sent from the website https://dchomefix.co ®</i>
        </div>
    </body>
</html>
