{% extends 'main/base.html' %}
{% load static %}


{% block content %}

    <!-- pagebanner -->
    <section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'webapp/images/cc_brcump_card1.png' %}{% endif %}'); background-size: cover;">
        <div class="page-title">
            <h2 class="white text-center"></h2>
        </div>
    </section>
    <!-- End Pagebanner -->

    <!-- breadcrumb -->
    <div class="breadcrumb-main">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'webapp:home' %}"><i class="fa fa-home"></i></a></li>
                <li><a href="{% url 'webapp:shop' %}">Shop</a></li>
                <li class="active">Check Out</li>
            </ul>
        </div>
    </div>
    <!-- End breadcrumb -->

    <!-- checkout -->
    <section id="checkout-main" class="checkout-main section-padding">
        <div class="container">
            <div class="checkout-inner">
                <div class="checkout-order">
                    <div class="section_heading">
                        <h2 class="section_title">
                            <span>Order</span>
                        </h2>
                        <p class="heading_txt"><b>Review data, proceed to payment in the STRIPE if accurate.</b></p>
                    </div>
                    <form method="get" action="{% url 'webapp:success' %}">
                        {% csrf_token %}
                        <div class="order-list">
                            <table class="shop_table rt-checkout-review-order-table">
                                <tr class="order-total">
                                    <th>Last Name:</th>
                                    <td><strong><span
                                            class="rt-Price-amount">{{ checkout_details.last_name }}</span></strong>
                                    </td>
                                </tr>
                                <tr class="order-total">
                                    <th>First Name:</th>
                                    <td><strong><span class="rt-Price-amount">{{ checkout_details.first_name }}</span></strong>
                                    </td>
                                </tr>
                                <tr class="order-total">
                                    <th>Town/City:</th>
                                    <td><strong><span
                                            class="rt-Price-amount">{{ checkout_details.town_city }}</span></strong>
                                    </td>
                                </tr>
                                <tr class="order-total">
                                    <th>Street Address:</th>
                                    <td><strong><span
                                            class="rt-Price-amount">{{ checkout_details.street_address }}</span></strong>
                                    </td>
                                </tr>
                                <tr class="order-total">
                                    <th>Date:</th>
                                    <td><strong><span
                                            class="rt-Price-amount">{{ checkout_details.date }}</span></strong></td>
                                </tr>
                                <tr class="order-total">
                                    <th>Phone Number:</th>
                                    <td><strong><span
                                            class="rt-Price-amount">{{ checkout_details.phone_number }}</span></strong>
                                    </td>
                                </tr>
                                <tr class="order-total">
                                    <th>Order Notes:</th>
                                    <td><strong><span class="rt-Price-amount">{{ checkout_details.order_notes }}</span></strong>
                                    </td>
                                </tr>
                                <tr class="order-total">
                                    <th>Price:</th>
                                    <td><strong><span
                                            class="rt-Price-amount">{{ checkout_details.price }}</span></strong></td>
                                </tr>
                            </table>
                            <div class="checkout-place-order" style="text-align: right;">
                                <div style="text-align: center; padding: 15px;">
                                    <p>Your personal data will be used to process your order, support your experience
                                        throughout
                                        this website, and for other purposes described in our <a href="#">privacy
                                            policy</a>.
                                    </p>
                                </div>
                                <button type="submit" class="btn mt_btn_yellow">Pay with Stripe</button>
                            </div>
                        </div>
                    </form>


                    <button onclick="window.location.href='{% url 'webapp:checkout' %}'"
                            class="back-to-checkout-btn btn mt_btn_yellow">Back
                        to Checkout
                    </button>
                </div>
            </div>
        </div>
    </section>
    <!-- End checkout -->

<form id="checkout-form" action="/process_payment/" method="POST">
  {% csrf_token %}
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ STRIPE_PUBLISHABLE_KEY }}"
            data-description="Example charge"
            data-amount="1000"
            data-currency="usd"
            data-name="dchomefix"
            data-locale="auto"
            data-label="Pay with Card"
            data-allow-remember-me="false"
            data-token="{{ form.stripe_token.value }}">
    </script>
</form>





{#<!-- checkout.html -->#}
{#<form method="post" action="{% url 'webapp:checkout' %}">#}
{#    {% csrf_token %}#}
{#    {{ form.as_p }}#}
{#    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"#}
{#            data-key="{{ STRIPE_PUBLISHABLE_KEY }}"#}
{#            data-description="Example charge"#}
{#            data-amount="1000"#}
{#            data-currency="usd"#}
{#            data-name="dchomefix"#}
{#            data-locale="auto"#}
{#            data-label="Pay with Card"#}
{#            data-allow-remember-me="false"#}
{#            data-token="{{ form.stripe_token.value }}">#}
{#    </script>#}
{#    <button type="submit">Submit Payment</button>#}
{#</form>#}


{% endblock %}
