{% extends 'main/base.html' %}
{% load static %}


{% block content %}

    <!-- pagebanner -->
    <section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'images/cc_confide_checkout.jpg' %}{% endif %}');">
        <div class="page-title">
            <h2 class="white text-center">CheckOut</h2>
        </div>
    </section>
    <!-- End Pagebanner -->

    <!-- breadcrumb -->
    <div class="breadcrumb-main">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'webapp:home' %}"><i class="fa fa-home"></i></a></li>
                <li><a href="{% url 'webapp:services' %}">Shop</a></li>
                <li class="active">CheckOut</li>
            </ul>
        </div>
    </div><!-- End breadcrumb -->

    <!-- checkout -->
    <section id="checkout-main" class="checkout-main section-padding">
        <div class="container">
            <div class="checkout-inner">
                <div class="checkout-info">
                    <h3 class="mar-bottom-20">Billing details</h3>
                    <h4 class="mar-bottom-20">Fill out the form to pay for the service</h4>
                    <form id="checkout-form" method="post" action="{% url 'payments' %}?product_id={{ product.id }}">
                        {% csrf_token %}
                        <input type="hidden" name="name_check" value="{{ product.name }}">
                        <input type="hidden" name="discount_check" value="{{ product.discount }}">
{#                        <input type="hidden" name="total_price" id="total-price-input">#}
{#                        <input type="hidden" name="quantity" id="quantity-input-hidden">#}

                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <div class="checkout-billing">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="title">
                                                <div class="form-group product-name-display-none">
                                                    <label>Name of the service and price: </label>
                                                    <span class="form-control-static"><br>{{ product.name }} {{ product.discount|floatformat:0 }}$</span>
                                                    <!-- Здесь мы заменяем ввод количества на отображение итоговой цены -->
                                                    {#                                                    <label>Quantity: <abbr class="required"#}
                                                    {#                                                                           title="required">*</abbr></label>#}
                                                    {#                                                    <span id="final-quantity-display">1</span>#}
                                                    {#                                                    <!-- Отображаем количество -->#}
                                                    {#                                                    <label>Total Price: </label>#}
                                                    {#                                                    <span id="final-price-display">$0.00</span>#}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label>Name: <abbr class="required" title="required">*</abbr></label>
                                                <input type="text" name="last_name_check" value="{{ current_name }}"
                                                       class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Town/City: <abbr class="required"
                                                                        title="required">*</abbr></label>
                                                <input type="text" name="town_city" class="form-control">
                                            </div>
{#                                            <div class="title">#}
{#                                                <div class="form-group mobile-product-name-display-none">#}
{#                                                    <label>Name of the service and price: </label>#}
{#                                                    <span class="form-control-static"><br>{{ product.name }} {{ product.discount|floatformat:0 }}$</span>#}
{#                                                    <!-- Отображение дисконта -->#}
{#                                                </div>#}
{#                                            </div>#}
                                        </div>
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label>Street Address: <abbr class="required" title="required">*</abbr></label>
                                                <input type="text" name="street_address" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Date: <abbr class="required" title="required">*</abbr></label>
                                                <input type="date" name="date" value="{{ current_name }}"
                                                       class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label>Phone No.: <abbr class="required" title="required">*</abbr></label>
                                            <input type="text" name="phone_number" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label>Email Address: <abbr class="required"
                                                                        title="required">*</abbr></label>
                                            <input type="text" name="email" value="{{ current_name }}"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label>Order notes: <abbr class="required" title="required">*</abbr></label>
                                            <textarea class="form-control" name="order_notes"
                                                      placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="session_id" value="{{ checkout_session.sessionId }}">
                            <input type="hidden" name="product_object_id" value="{{ product.id }}">
                            <!-- Измените тип кнопки на submit -->
                            <button type="button" id="placeOrderBtn" onclick="goToCheck({{ product.id }})" class="btn mt_btn_yellow_three">Confirm and Pay</button>
{#                            <button type="submit" class="btn mt_btn_yellow_three">GO TO CHECK</button>#}

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End checkout -->



{#    <script>#}
{#        function goToCheck(productId) {#}
{#            // Получаем элемент формы#}
{#            const form = document.getElementById('checkout-form');#}
{##}
{#            // Проверяем, что форма заполнена корректно#}
{#            if (form.checkValidity()) {#}
{#                // Отправляем форму#}
{#                form.submit();#}
{##}
{#                // Переходим на страницу через 150 мс (или другой интервал) после отправки#}
{#                setTimeout(() => {#}
{#                    const url = `/payments/?product_id=${productId}`;#}
{#                    window.location.href = url;#}
{#                }, 50); // Задержка в 50 миллисекунд#}
{#            } else {#}
{#                // Если форма невалидна, показываем сообщение об ошибке#}
{#                form.reportValidity(); // Показывает стандартные сообщения об ошибках для полей формы#}
{#            }#}
{#        }#}
{#    </script>#}

    <script>
        function goToCheck(productId) {
            // Отправляем форму
            document.getElementById('checkout-form').submit();

            // Переходим на страницу через 100 мс (или другой интервал)
            setTimeout(() => {
                const url = `/payments/?product_id=${productId}`;
                window.location.href = url;
            }, 100); // Задержка в 100 миллисекунд
        }
    </script>



{#    <script>#}
{##}
{#        function goToCheck(productId) {#}
{#            const url = `/payments/?product_id=${productId}`;#}
{#            document.getElementById('checkout-form').submit();#}
{#            window.location.href = url;#}
{#        }#}
{##}
{#    </script>#}



    <!-- store -->
    <section id="our_store" class="our_store related_store">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!-- section title -->
                    <div class="section_heading">
                        <h2 class="section_title">
                            <span>Our Services</span>
                        </h2>
                        <p class="heading_txt">We offer a range of services in the field of repair and construction.</p>
                    </div>
                </div>
            </div>

            <div class="row slider-shop">
                {% for main_sl_cart_prod in slider_product %}
                    <div class="col-md-3 col-xs-12">
                        <div class="rt-product-wrapper">
                            <div class="product-thumbnail-wrapper">
                                <div class="product-image">
                                    <img src="{{ main_sl_cart_prod.image.url }}" class="img-fixed-size"
                                         alt="product-list">
                                </div>
                                <div class="product-label"><span class="onsale">Sale</span></div>
                            </div>
                            <div class="rt-product-meta-wrapper">
                                <h3 class="product_title">
                                    <a href="{% url 'webapp:services_with_slug' main_sl_cart_prod.slug %}">{{ main_sl_cart_prod.name }}</a>
                                </h3>
                                <div class="rt-cartprice-wrapper">
                                <span class="price mar-bottom-20">
                                    <ins>
                                        <span class="rrt-price-amount">
                                            <span>$</span>{{ main_sl_cart_prod.discount }}
                                        </span>
                                    </ins>
                                </span>
                                    <div class="button">
                                        <a href="{% url 'webapp:services_with_slug' main_sl_cart_prod.slug %}" class="mt_btn_yellow">Go to service</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End store -->


    <!--* Partner*-->
    <section id="const-team" class="const-team">
        <div class="container wow slideInRight">
            <div class="my_row">
                <div class="col-md-6 col-sm-13">
                    <!-- section title -->
                    <div class="section_heading">
                        <h2 class="section_title">
                            <span>We are recommended by</span>
                        </h2>
                    </div>
                </div>
                <div class="col-md-6 col-sm-10">
                    <div class="row slider-team1">
                        {% for recomended in partner %}
                            <div class="col-md-4 item1">
                                <div class="team_member1">
                                    <a href="{{ recomended.link }}">
                                        <img src="{{ recomended.image.url }}" class="testimonial_main img-fixed-size-eleven" alt="team">
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--* End partner*-->

{% endblock %}
