{% extends 'main/base.html' %}
{% load static %}


{% block content %}

    <!-- pagebanner -->
    <section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'webapp/images/cc_confide_checkout.jpg' %}{% endif %}');">
        <div class="page-title">
            <h2 class="white text-center">CheckOut</h2>
        </div>
    </section>
    <!-- End Pagebanner -->

    <!-- breadcrumb -->
    <div class="breadcrumb-main">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'webapp:home' %}"><i class="fa fa-home"></i></a></li>
                <li><a href="{% url 'webapp:services' %}">Shop</a></li>
                <li class="active">CheckOut</li>
            </ul>
        </div>
    </div><!-- End breadcrumb -->
    {#                <div class="checkout-coupon mar-bottom-30">Have a coupon? <a href="#" class="showcoupon">Click here to#}
    {#                    enter your code</a></div>#}

    <!-- checkout -->
    <section id="checkout-main" class="checkout-main section-padding">
        <div class="container">
            <div class="checkout-inner">
                <div class="checkout-info">
                    <h3 class="mar-bottom-20">Billing details</h3>
                    <h4 class="mar-bottom-20">Fill out the form to pay for the service</h4>
                    <form method="post" action="{% url 'payments' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <div class="checkout-billing">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label>Last Name: <abbr class="required"
                                                                        title="required">*</abbr></label>
                                                <input type="text" name="last_name" value="{{ current_name }}"
                                                       class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Town/City: <abbr class="required"
                                                                        title="required">*</abbr></label>
                                                <input type="text" name="town_city"
                                                       class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Date: <abbr class="required"
                                                                        title="required">*</abbr></label>
                                                <input type="date" name="date" value="{{ current_name }}"
                                                       class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label>First Name: <abbr class="required"
                                                                         title="required">*</abbr></label>
                                                <input type="text" name="first_name" value="{{ current_name }}"
                                                       class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Street Address: <abbr class="required" title="required">*</abbr></label>
                                                <input type="text" name="street_address"
                                                       class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Price: <abbr class="required"
                                                                        title="required">*</abbr></label>
                                                <input type="text" name="price"
                                                       class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label>Phone No.: <abbr class="required" title="required">*</abbr></label>
                                            <input type="text" name="phone_number"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label>Email Address: <abbr class="required"
                                                                        title="required">*</abbr></label>
                                            <input type="text" name="email" value="{{ current_name }}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label>Order notes: <abbr class="required" title="required">*</abbr></label>
                                            <textarea class="form-control" name="order_notes"
                                                      placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn mt_btn_yellow_three">PLACE ORDER</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End checkout -->


    <!-- store -->
    <section id="our_store" class="our_store related_store">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!-- section title -->
                    <div class="section_heading">
                        <h2 class="section_title">
                            <span>Our Services</span>
                        </h2>
                        <p class="heading_txt">We offer a range of services in the field of repair and construction.</p>
                    </div>
                </div>
            </div>

            <div class="row slider-shop">
                {% for main_sl_cart_prod in main_serv %}
                    <div class="col-md-3 col-xs-12">
                        <div class="rt-product-wrapper">
                            <div class="product-thumbnail-wrapper">
                                <div class="product-image">
                                    <img src="{{ main_sl_cart_prod.image.url }}" class="img-fixed-size"
                                         alt="product-list">
                                </div>
                                <div class="product-label"><span class="onsale">Sale</span></div>
                            </div>
                            <div class="rt-product-meta-wrapper">
                                <h3 class="product_title">
                                    <a href="store-detail.html">{{ main_sl_cart_prod.name }}</a>
                                </h3>
                                <div class="rt-cartprice-wrapper">
                                <span class="price mar-bottom-20">
{#                                    <del>#}
{#                                        <span class="rt-price-amount">#}
{#                                            <span >$</span>#}
{#                                        </span>#}
{#                                    </del>#}
                                    <ins>
                                        <span class="rrt-price-amount">
                                            <span>$</span>{{ main_sl_cart_prod.price }}
                                        </span>
                                    </ins>
                                </span>
                                    <div class="button">
                                        <a href="{{ main_sl_cart_prod.link }}" class="mt_btn_yellow">Go to service</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End store -->


    <!--* Partner*-->
    <section id="const-team" class="const-team">
        <div class="container wow slideInRight">
            <div class="my_row">
                <div class="col-md-6 col-sm-13">
                    <!-- section title -->
                    <div class="section_heading">
                        <h2 class="section_title">
                            <span>We are recommended by</span>
                        </h2>
                    </div>
                </div>
                <div class="col-md-6 col-sm-10">
                    <div class="row slider-team1">
                        {% for recomended in partner %}
                            <div class="col-md-4 item1">
                                <div class="team_member1">
                                    <a href="{{ recomended.link }}">
                                        <img src="{{ recomended.image.url }}" class="testimonial_main img-fixed-size-eleven" alt="team">
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--* End partner*-->

{% endblock %}
