{% extends 'main/base.html' %}
{% load static %}


{% block content %}

    <!-- pagebanner -->
    <section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'images/cc_shop.jpg' %}{% endif %}');">
        <div class="page-title">
            <h2 class="white text-center">Find top-rated service pros for your project!</h2>
        </div>
    </section>
    <!-- End Pagebanner -->

    <!-- breadcrumb -->
    <div class="breadcrumb-main">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'webapp:home' %}"><i class="fa fa-home"></i></a></li>
                <li class="active">Find top-rated</li>
            </ul>
        </div>
    </div><!-- End breadcrumb -->

    <!--* Category *-->
    <section id="mt_services" class="services_two">
        <div class="container">

            <div class="row">
                <div class="col-xs-12">
                    <!-- section title -->
                    <div class="section_heading">
                        <h2 class="section_title">
                            <span><i class="fa fa-star-o"></i> Browse by category</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    {% for category in categories %}
                        <div class="col-md-2 col-sm-6 col-xs-6">
                            <div class="box box-categories text-center transparent-background">
                                <div class="box-content">
                                    <a href="{% url 'webapp:category_detail' category.slug %}"
                                       class="category-link"><img src="{{ category.image.url }}" alt="{{ category.name }}"></a>
                                </div>
                            </div>
                            <div class="text-left">
                                <a href="{% url 'webapp:category_detail' category.slug %}"
                                   class="category-link">
                                    <p>{{ category.name }}</p>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!--* End Category *-->


{#Are You a Home Improvement or Service Pro?#}
{#Find out how HomeAdvisor can help your business.#}


{% endblock %}
