{% extends 'main/base.html' %}
{% load static %}


{% block content %}


    <!-- pagebanner -->
    <section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'images/cc_brcr_market.png' %}{% endif %}');">
        <div class="page-title">
            {% if product in product_name %}
                <li class="active"><h2 class="white text-center">{{ product.name }}</h2></li>
                {% else %}
                    <li>No product selected.</li>
                {% endif %}
        </div>
    </section>
    <!-- End Pagebanner -->

    <!-- breadcrumb -->
    <div class="breadcrumb-main">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'webapp:home' %}"><i class="fa fa-home"></i></a></li>
                <li><a href="{% url 'webapp:services' %}">Services</a></li>
                {% if product in product_name %}
                    <li class="active">{{ product.name }}</li>
                {% else %}
                    <li>No product selected.</li>
                {% endif %}
            </ul>
        </div>
    </div>
    <!-- End breadcrumb -->

{#    <!-- Store Detail -->#}
{#    <section id="store-detail" class="store-detail">#}
{#        <div class="container">#}
{#            <div class="single-product-content">#}
{#                <div class="row">#}
{#                    <div class="col-sm-6">#}
{#                        <div class="thumbnail-images">#}
{#                            <div class="slider slider-store">#}
{#                                {% if product.image %}#}
{#                                    <div>#}
{#                                        <img src="{{ product.image.url }}" alt="{{ product.name }}"#}
{#                                             class="img-fixed-size-four">#}
{#                                    </div>#}
{#                                {% else %}#}
{#                                    <p>No images available for this product.</p>#}
{#                                {% endif %}#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="col-sm-6">#}
{#                        <div class="single-product-summary">#}
{#                            <div class="entry-summary">#}
{#                                <h2 class="single-product-title">{{ product.name }}</h2>#}
{#                                <div class="rt-product-meta-wrapper">#}
{#                                <span class="price">#}
{#                                    {% if product.discount > 0 %}#}
{#                                        <del>#}
{#                                            <span class="rt-price-amount"><span>$</span>{{ product.price }}</span>#}
{#                                        </del>#}
{#                                    {% endif %}#}
{#                                    <ins>#}
{#                                        <span class="rt-price-amount"><span>$</span>{{ product.discount }}</span>#}
{#                                    </ins>#}
{#                                      <ins>#}
{#                                          <span class="rt-price-amount">#}
{#                                              <span>$</span><span id="total-price">{{ product.discount }}</span>#}
{#                                          </span>#}
{#                                      </ins>#}
{#                                </span>#}
{#                                </div>#}
{##}
{#                                <div class="product-details_short-description mar-top-30">#}
{#                                    <h4>Description:</h4>#}
{#                                    <p>{{ product.description }}</p>#}
{#                                </div>#}
{##}
{#                                {% if product.additional_description %}#}
{#                                    <div class="product-details_short-description mar-top-30">#}
{#                                        <h6>Additional Information:</h6>#}
{#                                        <p>{{ product.additional_description }}</p>#}
{#                                    </div>#}
{#                                {% endif %}#}
{##}
{#                                {% if product.show_quantity %}#}
{#                                <div class="quantity-buttons">#}
{#                                    <label class="screen-reader-text">Quantity</label>#}
{#                                    <input type="number" class="quantity-input" name="quantity" min="1" max="100"#}
{#                                           placeholder="No." value="1" id="quantity-input">#}
{#                                </div>#}
{#                                {% endif %}#}
{##}
{#                                <div class="product_meta mar-top-30">#}
{#                                    <span class="sku_wrapper">Brand: <span class="sku">{{ product.brand }}</span></span>#}
{#                                    {% if product.color %}#}
{#                                        <span class="tagged_as">Color: <a href="#"#}
{#                                                                          rel="tag">{{ product.color }}</a></span>#}
{#                                    {% endif %}#}
{#                                    {% if product.power_source %}#}
{#                                        <span class="tagged_as">Power Source: {{ product.power_source }}</span>#}
{#                                    {% endif %}#}
{##}
{#                                    {% if checkout_session %}#}
{#                                        <form action="{% url 'webapp:checkout' %}?product_id={{ product.id }}"#}
{#                                              method="POST">#}
{#                                            {% csrf_token %}#}
{#                                            <input type="hidden" name="session_id"#}
{#                                                   value="{{ checkout_session.sessionId }}">#}
{#                                            <input type="hidden" name="discount_check" value="{{ product.discount }}">#}
{#                                            <button class="mt_btn_yellow mt_btn_yellow_position" type="submit">Order#}
{#                                                By#}
{#                                            </button>#}
{#                                        </form>#}
{#                                    {% else %}#}
{#                                        <p>Error creating checkout session</p>#}
{#                                    {% endif %}#}
{##}
{#                                    {% if checkout_session %}#}
{#                                        <form action="{% url 'webapp:checkout' %}?product_id={{ product.id }}"#}
{#                                              method="POST" id="checkout-form">#}
{#                                            {% csrf_token %}#}
{#                                            <input type="hidden" name="session_id"#}
{#                                                   value="{{ checkout_session.sessionId }}">#}
{#                                            <input type="hidden" name="discount_check" value="{{ product.discount }}">#}
{#                                            <input type="hidden" name="total_price" id="total-price-input">#}
{#                                            <input type="hidden" name="quantity" id="quantity-input-hidden">#}
{#                                            <!-- Скрытое поле для общей цены -->#}
{#                                            <button class="mt_btn_yellow mt_btn_yellow_position" id="goToCheckoutBtn" type="submit">Proceed to Checkout#}
{#                                            </button>#}
{#                                            <!-- Кнопка для перехода на страницу оформления заказа -->#}
{#                                            <button type="button" id="goToCheckoutBtn">Go to Checkout</button>#}
{#                                        </form>#}
{#                                    {% else %}#}
{#                                        <p>Error creating checkout session</p>#}
{#                                    {% endif %}#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    <br>#}
{#    <br>#}
{#    </section>#}
{#    <!-- /End Store Detail -->#}


    <!--* Mail Order Services *-->
    <section id="mt_services" class="services_one">
        <div class="container">
            <div class="row forms-wrapper">
            <div class="col-sm-7">
                        <div class="thumbnail-images">
                            <div class="slider slider-store">
                                {% if product.image %}
                                    <div>
                                        <img src="{{ product.image.url }}" alt="{{ product.name }}"
                                             class="img-fixed-size-four">
                                    </div>
                                {% else %}
                                    <p>No images available for this product.</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="single-product-summary">
                            <div class="entry-summary">
                                <h2 class="single-product-title">{{ product.name }}</h2>
                                 <span class="price">
                                 <p>Price:</p>
{#                                    {% if product.discount > 0 %}#}
{#                                        <del>#}
{#                                            <span class="rt-price-amount"><span>$</span>{{ product.price }}</span>#}
{#                                        </del>#}
{#                                    {% endif %}#}
{#                                    <ins>#}
{#                                        <span class="rt-price-amount"><span>$</span>{{ product.discount }}</span>#}
{#                                    </ins>#}
                                      <ins>
                                          <span class="rt-price-amount">
                                              <span>$</span><span id="total-price">{{ product.discount }}</span>
                                          </span>
                                      </ins>
                                </span>

                                <div class="product-details_short-description mar-top-25">
                                    <h4>Description:</h4>
                                    <p>{{ product.description }}</p>
                                </div>

                                {% if product.additional_description %}
                                    <div class="product-details_short-description mar-top-25">
                                        <h6>Additional Information:</h6>
                                        <p>{{ product.additional_description }}</p>
                                    </div>
                                {% endif %}

                                {% if product.show_quantity %}
                                <div class="quantity-buttons">
                                    <label class="screen-reader-text">Quantity</label>
                                    <input type="number" class="quantity-input" name="quantity" min="1" max="100"
                                           placeholder="No." value="1" id="quantity-input">
                                </div>
                                {% endif %}

                                <div class="product_meta mar-top-25">
                                    {% if product.brand %}
                                    <span class="sku_wrapper">Brand: <span class="sku">{{ product.brand }}</span></span>
                                    {% endif %}
                                    {% if product.material_up %}
                                    <span class="sku_wrapper">Material: <span class="sku">{{ product.material_up }}</span></span>
                                    {% endif %}
                                    {% if product.color %}
                                        <span class="tagged_as">Color: <a href="#"
                                                                          rel="tag">{{ product.color }}</a></span>
                                    {% endif %}
                                    {% if product.power_source %}
                                        <span class="tagged_as">Power Source: {{ product.power_source }}</span>
                                    {% endif %}


{#                                    {% if checkout_session %}#}
{#                                        <form action="{% url 'webapp:checkout' %}?product_id={{ product.id }}"#}
{#                                              method="POST">#}
{#                                            {% csrf_token %}#}
{#                                            <input type="hidden" name="session_id"#}
{#                                                   value="{{ checkout_session.sessionId }}">#}
{#                                            <input type="hidden" name="discount_check" value="{{ product.discount }}">#}
{#                                            <button class="mt_btn_yellow mt_btn_yellow_position" type="submit">Order#}
{#                                                By#}
{#                                            </button>#}
{#                                        </form>#}
{#                                    {% else %}#}
{#                                        <p>Error creating checkout session</p>#}
{#                                    {% endif %}#}

                                    {% if checkout_session %}
                                        <form action="{% url 'webapp:checkout' %}?product_id={{ product.id }}"
                                              method="POST" id="checkout-form">
                                            {% csrf_token %}
                                            <input type="hidden" name="session_id"
                                                   value="{{ checkout_session.sessionId }}">
                                            <input type="hidden" name="discount_check" value="{{ product.discount }}">
                                            <input type="hidden" name="total_price" id="total-price-input">
                                            <input type="hidden" name="quantity" id="quantity-input-hidden">
                                            <!-- Кнопка корзины -->
                                            <button type="button" class="basket-button" onclick="addToBasket({{ product.id }})">
                                                <p>Add to basket</p><img src="{% static 'images/basket-nbg.png' %}" alt="Корзина" class="basket-icon">
                                            </button>
                                            <!-- Скрытое поле для общей цены -->
                                            <button class="mt_btn_yellow mt_btn_yellow_position" id="goToCheckoutBtn" type="submit">Proceed to Checkout
                                            </button>
                                            <!-- Кнопка для перехода на страницу оформления заказа -->
{#                                            <button type="button" id="goToCheckoutBtn">Go to Checkout</button>#}
                                        </form>
                                    {% else %}
                                        <p>Error creating checkout session</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="col-sm-4"></div>
                <!--*Mail Order *-->
                <div id="newsletter">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="news-content">
                                    <h2 class="single-product-title">{{ product.name }}</h2>
                                    <p class="beige">
                                        <b>WRITE US TODAY FOR CONSULTATION.</b>
                                    </p>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="mailpoet_form">
                                    <form target="_self" method="post" action="{% url 'webapp:contacts' %}"
                                          novalidate="">
                                        {% csrf_token %}

                                        <!-- Поле для Имени -->
                                        <label for="first_name"><h5>First Name</h5></label>
                                        <input type="text" class="mailpoet_text" name="first_name" id="first_name"
                                               placeholder="First Name" required>

                                        <!-- Поле для Фамилии -->
                                        <label for="last_name"><h5>Last Name</h5></label>
                                        <input type="text" class="mailpoet_text" name="last_name" id="last_name"
                                               placeholder="Last Name" required>

                                        <!-- Поле для Зип кода -->
                                        <label for="zip_code"><h5>ZIP Code</h5></label>
                                        <input type="text" class="mailpoet_text" name="zip_code" id="zip_code"
                                               placeholder="ZIP Code" required>

                                        <!-- Поле для описания услуги -->
                                        <label for="description"><h5>Tell us about the job</h5></label>
                                        <input type="text" class="mailpoet_text" name="description" id="description"
                                               placeholder="Please describe the job in detail. (required)" required>

                                        <!-- Поле для выбора количества часов -->
                                        <label for="hours"><h5>How many hours would you like to book?</h5></label>
                                        <select class="mailpoet_text" name="hours" id="hours" required>
                                            <option value="" disabled selected>Select Hours</option>
                                            {% for hour in "123456789"|make_list %}
                                                <option value="{{ forloop.counter }}">{{ forloop.counter }}
                                                    Hour{{ forloop.counter|pluralize }}</option>
                                            {% endfor %}
                                        </select>

                                        <!-- Поле для выбора даты -->
                                        <label for="date"><h5>When would you like a Pro to come?</h5></label>
                                        <input type="date" class="mailpoet_text" name="date" id="date" required>

                                        <!-- Поле для выбора времени с выпадающим списком -->
                                        <label for="time"><h5>At what time?</h5></label>
                                        <select name="time" id="time" required>
                                            <option value="" disabled selected>Select Time</option>
                                            {% for hour in "123456789101112"|make_list %}
                                                <option value="{{ forloop.counter }}:00 AM">{{ forloop.counter }}:00
                                                    AM
                                                </option>
                                                <option value="{{ forloop.counter }}:30 AM">{{ forloop.counter }}:30
                                                    AM
                                                </option>
                                                <option value="{{ forloop.counter }}:00 PM">{{ forloop.counter }}:00
                                                    PM
                                                </option>
                                                <option value="{{ forloop.counter }}:30 PM">{{ forloop.counter }}:30
                                                    PM
                                                </option>
                                            {% endfor %}
                                        </select>

                                        <!-- Поле для электронной почты -->
                                        <label for="email"><h5>Email Address</h5></label>
                                        <input type="email" class="mailpoet_text" name="email" id="email"
                                               placeholder="Email Address" required>

                                        <!-- Поле для телефона -->
                                        <label for="phone"><h5>Phone Number (e.g. 123-456-7890)</h5></label>
                                        <input type="tel" class="mailpoet_text" name="phone" id="phone"
                                               placeholder="Phone Number (e.g. 123-456-7890)" required>
                                        <!-- Поле для загрузки фото -->
                                        <label for="photos"><h5>Upload Photos (up to 10)</h5></label>
                                        <input type="file" class="mailpoet_text" name="photos" id="photos" placeholder="Photos" accept=".jpg,.jpeg,.png,.gif"
                                               multiple required>

                                        <!-- Кнопка отправки -->
                                        <div class="button button-mail">
                                            <input type="submit" class="mailpoet_submit" value="Get a Consultations">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--*End Mail Order *-->

            </div>
        </div>
    </section>
    <!--* End Mail Order Services *-->


    <script>
        // Получаем элементы
        const quantityInput = document.getElementById('quantity-input');
        const totalPriceElement = document.getElementById('total-price');
        const totalPriceInput = document.getElementById('total-price-input');
        const quantityInputHidden = document.getElementById('quantity-input-hidden'); // Скрытое поле для количества

        // Получаем цену продукта
        const productDiscount = parseFloat("{{ product.discount }}"); // Убедитесь, что эта переменная доступна

        // Функция для обновления цены
        function updatePrice() {
            const quantity = parseInt(quantityInput.value) || 0; // Получаем количество или 0, если не указано
            let totalPrice;

            // Проверяем, введено ли количество
            if (quantity > 0) {
                totalPrice = (productDiscount * quantity).toFixed(2); // Рассчитываем общую цену
            } else {
                totalPrice = productDiscount.toFixed(2); // Если количество не указано, используем цену со скидкой
            }

            // Обновляем отображаемую цену
            totalPriceElement.textContent = `${totalPrice}`; // Добавляем знак доллара для отображения
            totalPriceInput.value = totalPrice; // Устанавливаем значение скрытого поля
            quantityInputHidden.value = quantity; // Устанавливаем значение скрытого поля для количества
        }

        // Проверяем, существует ли поле ввода количества
        if (quantityInput) {
            // Добавляем обработчик события на изменение поля ввода
            quantityInput.addEventListener('input', updatePrice);

            // Инициализируем цену при загрузке страницы
            updatePrice(); // Вызываем функцию для установки начального значения цены
        } else {
            console.warn("Quantity input not found.");
        }
    </script>



{% endblock %}
