{% extends 'main/base.html' %}
{% load static %}


{% block content %}


    <!-- pagebanner -->
    <section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'images/cc_brcr_market.png' %}{% endif %}');">
        <div class="page-title">
            {% if product in product_name %}
                <li class="active"><h2 class="white text-center">{{ product.name }}</h2></li>
                {% else %}
                    <li>No product selected.</li>
                {% endif %}
        </div>
    </section>
    <!-- End Pagebanner -->

    <!-- breadcrumb -->
    <div class="breadcrumb-main">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'webapp:home' %}"><i class="fa fa-home"></i></a></li>
                <li><a href="{% url 'webapp:services' %}">Services</a></li>
                {% if product in product_name %}
                    <li class="active">{{ product.name }}</li>
                {% else %}
                    <li>No product selected.</li>
                {% endif %}
            </ul>
        </div>
    </div>
    <!-- End breadcrumb -->

    <!-- Store Detail -->
    <section id="store-detail" class="store-detail">
        <div class="container">
            <div class="single-product-content">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="thumbnail-images">
                            <div class="slider slider-store">
                                {% if product.image %}
                                    <div>
                                        <img src="{{ product.image.url }}" alt="{{ product.name }}"
                                             class="img-fixed-size-four">
                                    </div>
                                {% else %}
                                    <p>No images available for this product.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="single-product-summary">
                            <div class="entry-summary">
                                <h2 class="single-product-title">{{ product.name }}</h2>
                                <div class="rt-product-meta-wrapper">
                                <span class="price">
                                    {% if product.discount > 0 %}
                                        <del>
                                            <span class="rt-price-amount"><span>$</span>{{ product.price }}</span>
                                        </del>
                                    {% endif %}
{#                                    <ins>#}
{#                                        <span class="rt-price-amount"><span>$</span>{{ product.discount }}</span>#}
{#                                    </ins>#}
                                      <ins>
                                          <span class="rt-price-amount">
                                              <span>$</span><span id="total-price">{{ product.discount }}</span>
                                          </span>
                                      </ins>
                                </span>
                                </div>

                                <div class="product-details_short-description mar-top-30">
                                    <h4>Description:</h4>
                                    <p>{{ product.description }}</p>
                                </div>

                                {% if product.additional_description %}
                                    <div class="product-details_short-description mar-top-30">
                                        <h6>Additional Information:</h6>
                                        <p>{{ product.additional_description }}</p>
                                    </div>
                                {% endif %}

                                {% if product.show_quantity %}
                                <div class="quantity-buttons">
                                    <label class="screen-reader-text">Quantity</label>
                                    <input type="number" class="quantity-input" name="quantity" min="1" max="100"
                                           placeholder="No." value="1" id="quantity-input">
                                </div>
                                {% endif %}

                                <div class="product_meta mar-top-30">
                                    <span class="sku_wrapper">Brand: <span class="sku">{{ product.brand }}</span></span>
                                    {% if product.color %}
                                        <span class="tagged_as">Color: <a href="#"
                                                                          rel="tag">{{ product.color }}</a></span>
                                    {% endif %}
                                    {% if product.power_source %}
                                        <span class="tagged_as">Power Source: {{ product.power_source }}</span>
                                    {% endif %}

{#                                    {% if checkout_session %}#}
{#                                        <form action="{% url 'webapp:checkout' %}?product_id={{ product.id }}"#}
{#                                              method="POST">#}
{#                                            {% csrf_token %}#}
{#                                            <input type="hidden" name="session_id"#}
{#                                                   value="{{ checkout_session.sessionId }}">#}
{#                                            <input type="hidden" name="discount_check" value="{{ product.discount }}">#}
{#                                            <button class="mt_btn_yellow mt_btn_yellow_position" type="submit">Order#}
{#                                                By#}
{#                                            </button>#}
{#                                        </form>#}
{#                                    {% else %}#}
{#                                        <p>Error creating checkout session</p>#}
{#                                    {% endif %}#}

                                    {% if checkout_session %}
                                        <form action="{% url 'webapp:checkout' %}?product_id={{ product.id }}"
                                              method="POST" id="checkout-form">
                                            {% csrf_token %}
                                            <input type="hidden" name="session_id"
                                                   value="{{ checkout_session.sessionId }}">
                                            <input type="hidden" name="discount_check" value="{{ product.discount }}">
                                            <input type="hidden" name="total_price" id="total-price-input">
                                            <input type="hidden" name="quantity" id="quantity-input-hidden">
                                            <!-- Скрытое поле для общей цены -->
                                            <button class="mt_btn_yellow mt_btn_yellow_position" id="goToCheckoutBtn" type="submit">Proceed to Checkout
                                            </button>
                                            <!-- Кнопка для перехода на страницу оформления заказа -->
{#                                            <button type="button" id="goToCheckoutBtn">Go to Checkout</button>#}
                                        </form>
                                    {% else %}
                                        <p>Error creating checkout session</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <br>
    <br>
    </section>
    <!-- /End Store Detail -->

    <script>
        // Получаем элементы
        const quantityInput = document.getElementById('quantity-input');
        const totalPriceElement = document.getElementById('total-price');
        const totalPriceInput = document.getElementById('total-price-input');
        const quantityInputHidden = document.getElementById('quantity-input-hidden'); // Скрытое поле для количества

        // Получаем цену продукта
        const productDiscount = parseFloat("{{ product.discount }}"); // Убедитесь, что эта переменная доступна

        // Функция для обновления цены
        function updatePrice() {
            const quantity = parseInt(quantityInput.value) || 0; // Получаем количество или 0, если не указано
            let totalPrice;

            // Проверяем, введено ли количество
            if (quantity > 0) {
                totalPrice = (productDiscount * quantity).toFixed(2); // Рассчитываем общую цену
            } else {
                totalPrice = productDiscount.toFixed(2); // Если количество не указано, используем цену со скидкой
            }

            // Обновляем отображаемую цену
            totalPriceElement.textContent = `${totalPrice}`; // Добавляем знак доллара для отображения
            totalPriceInput.value = totalPrice; // Устанавливаем значение скрытого поля
            quantityInputHidden.value = quantity; // Устанавливаем значение скрытого поля для количества
        }

        // Проверяем, существует ли поле ввода количества
        if (quantityInput) {
            // Добавляем обработчик события на изменение поля ввода
            quantityInput.addEventListener('input', updatePrice);

            // Инициализируем цену при загрузке страницы
            updatePrice(); // Вызываем функцию для установки начального значения цены
        } else {
            console.warn("Quantity input not found.");
        }
    </script>


    <!--*Newsletter*-->
    <div id="newsletter">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="news-content">
                        <img src="{% static 'images/cc_favicon8.png' %}" class="img-fixed-size-for-mailform"
                             alt="Awesome Logo">
                        <h3 id="consultation-title" class="slide-in">ORDER FREE CONSULTATION</h3>
                        <!-- Добавлен класс slide-in -->
                        <p class="beige"><b>WRITE US TODAY FOR A FREE CONSULTATION ON HOW WE CAN HELP YOU ACHIEVE YOUR
                            LIFESTYLE DREAMS.</b></p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="mailpoet_form">
                        <form target="_self" method="post" action="{% url 'webapp:contacts' %}" novalidate="">
                            {% csrf_token %}
                            <input type="text" name="name" placeholder="Your Name">
                            <input type="email" class="mailpoet_text" name="email" title="Email"
                                   placeholder="Please specify your email address.">
                            <input type="text" name="description" placeholder="Description Service">
                            <div class="button button-mail">
                                <input type="submit" class="button mailpoet_submit" value="Free Quote">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--*End Newsletter*-->


{% endblock %}
