{% extends 'main/base.html' %}
{% load static %}


{% block content %}

    <!-- pagebanner -->
    <section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'images/cc_key.jpg' %}{% endif %}'); background-size: cover;">
        <div class="page-title">
            <h2 class="white text-center">Logout</h2>
        </div>
    </section>
    <!-- End Pagebanner -->


    <!--* Logout*-->
    <section id="mt_faq-testi">
        <div class="container wow slideInDown">

            <div class="row">
                <div class="col-xs-12">
                    <!-- section title -->
                    <div class="section_heading">
                        <h2 class="section_title">
                            <span>Thank you for choosing US</span>
                        </h2>
                        <p class="heading_txt">You've logged out of your account, goodbye</p>
                    </div>
                    <!-- Добавляем изображение справа -->
                    <img src="{% static 'images/cc_logo1_1.png' %}" alt="Your Image" class="pull-right">
                </div>
            </div>
        </div>
    </section>
    <!--* EndLogout*-->



    <!-- breadcrumb -->
    <div class="breadcrumb-main">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'webapp:home' %}"><i class="fa fa-home"></i></a></li>
                <li class="active">Logout</li>
            </ul>
        </div>
    </div>
    <!-- End breadcrumb -->

{% endblock %}