{% extends 'main/base.html' %}
{% load static %}


{% block content %}

    <!-- pagebanner -->
    <section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'images/cc_account.jpg' %}{% endif %}');">
        <div class="page-title">
            <h2 class="white text-center">My Account</h2>
        </div>
    </section>
    <!-- End Pagebanner -->

    <!-- breadcrumb -->
    <div class="breadcrumb-main">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'webapp:home' %}"><i class="fa fa-home"></i></a></li>
                <li><a href="{% url 'webapp:services' %}">Shop</a></li>
                <li class="active">My Account</li>
            </ul>
        </div>
    </div><!-- End breadcrumb -->

    <!-- checkout -->
    <section id="checkout-main" class="checkout-main section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <div class="checkout-inner">
                        <div class="checkout-info">
                            <h3 class="mar-bottom-20">Your Payments</h3>
                            <p class="heading_txt"><b>Your payment details in history.</b></p>
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <div class="row">
                                        {% csrf_token %}
                                        <div class="order-list">
                                            <table class="shop_table rt-checkout-review-order-table">
                                                <tr class="order-total">
                                                    <th>Last Name:</th>
                                                    <td><strong><span
                                                            class="rt-Price-amount">{{ checkout_details.last_name_check }}</span></strong>
                                                    </td>
                                                </tr>
                                                <tr class="order-total">
                                                    <th>First Name:</th>
                                                    <td><strong><span
                                                            class="rt-Price-amount">{{ checkout_details.first_name_check }}</span></strong>
                                                    </td>
                                                </tr>
                                                <tr class="order-total">
                                                    <th>Town/City:</th>
                                                    <td><strong><span
                                                            class="rt-Price-amount">{{ checkout_details.town_city }}</span></strong>
                                                    </td>
                                                </tr>
                                                <tr class="order-total">
                                                    <th>Street Address:</th>
                                                    <td><strong><span
                                                            class="rt-Price-amount">{{ checkout_details.street_address }}</span></strong>
                                                    </td>
                                                </tr>
                                                <tr class="order-total">
                                                    <th>Date:</th>
                                                    <td><strong><span
                                                            class="rt-Price-amount">{{ checkout_details.date }}</span></strong>
                                                    </td>
                                                </tr>
                                                <tr class="order-total">
                                                    <th>Phone Number:</th>
                                                    <td><strong><span
                                                            class="rt-Price-amount">{{ checkout_details.phone_number }}</span></strong>
                                                    </td>
                                                </tr>
                                                <tr class="order-total">
                                                    <th>Order Notes:</th>
                                                    <td><strong><span
                                                            class="rt-Price-amount">{{ checkout_details.order_notes }}</span></strong>
                                                    </td>
                                                </tr>
                                                <tr class="order-total">
                                                    <th>Price:</th>
                                                    <td><strong><span
                                                            class="rt-Price-amount">{{ checkout_details.price_check }}</span></strong>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="sidebar-main">
                        <div class="col-xs-12">
                            <div class="checkout-inner">
                                <div class="checkout-info">
                                    <h3 class="mar-bottom-20">Account details</h3>
                                </div>
                            </div>
                            <div class="form-group">
                                {% if user.profile.photo %}
                                    <img src="{{ profile.photo.url }}" class="img-fixed-size-six" alt="Profile Picture"><br>
                                {% else %}
                                    <br><img src="{% static 'images/cc_hacker.jpg' %}" class="img-fixed-size-two" alt="Default Profile Picture"><br><br>
                                {% endif %}

                                <br><label style="font-family: 'Poppins', sans-serif; font-size: 18px;">User
                                    Name:</label>
                                <label style="font-family: 'Poppins', sans-serif; font-size: 15px; color: dimgray; font-weight: bold;">{{ profile.user }}</label><br>

                                <label style="font-family: 'Poppins', sans-serif; font-size: 18px;">First
                                    Name: </label>
                                <label style="font-family: 'Poppins', sans-serif; font-size: 15px; color: dimgray; font-weight: bold;">{{ profile.first_name }}</label><br>

                                <label for="username" style="font-family: 'Poppins', sans-serif; font-size: 17px;">Last Name:</label>
                                <label style="font-family: 'Poppins', sans-serif; font-size: 15px; color: dimgray; font-weight: bold;">{{ profile.last_name }}</label><br>

                                <label for="username" style="font-family: 'Poppins', sans-serif; font-size: 17px;">Phone:</label>
                                <label style="font-family: 'Poppins', sans-serif; font-size: 15px; color: dimgray; font-weight: bold;">{{ profile.phone }}</label><br><br>

                                <label style="font-family: 'Poppins', sans-serif; font-size: 18px;">Email
                                    Address:</label><br>
                                <label style="font-family: 'Poppins', sans-serif; font-size: 15px; color: dimgray; font-weight: bold;">{{ profile.email }}</label><br><br>

                                <a href="{% url 'webapp:update_profile' pk=profile.pk %}" class="btn mt_btn_yellow">Edit Account</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End checkout -->

    <!--*Newsletter*-->
    <div id="newsletter">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="news-content">
                        <h3>ORDER FREE CONSULTATION</h3>
                        <p class="beige"><b><br>WRITE US TODAY FOR A FREE CONSULTATION ON HOW WE CAN HELP YOU ACHIEVE YOUR
                            LIFESTYLE DREAMS.</b></p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="mailpoet_form">
                        <form target="_self" method="post" action="{% url 'webapp:contacts' %}" novalidate="">
                            {% csrf_token %}
                            <input type="text" name="name" placeholder="Your Name">
                            <input type="email" class="mailpoet_text" name="email" title="Email"
                                   placeholder="Please specify your email address.">
                            <input type="text" name="description" placeholder="Description Service">
                            <div class="button">
                                <input type="submit" class="mailpoet_submit" value="Free Quote">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--*End Newsletter*-->


{% endblock %}