{% extends 'main/base.html' %}
{% load static %}


{% block content %}

    <!-- pagebanner -->
    <section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'images/cc_well_done.jpg' %}{% endif %}'); background-size: cover;">
        <div class="page-title">
            <h2 class="white text-center"></h2>
        </div>
    </section>
    <!-- End Pagebanner -->


    <!-- breadcrumb -->
    <div class="breadcrumb-main">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'webapp:home' %}"><i class="fa fa-home"></i></a></li>
                <li class="active">Register Done</li>
            </ul>
        </div>
    </div>
    <!-- End breadcrumb -->

    <div class="container">
        <div class="success-box">
            <h1>Register Done!</h1>
            <h3>Success!</h3>
            <p>Now you can go to <a href="{% url 'webapp:home' %}">home page</a>.</p>
        </div>
    </div>

{% endblock %}