{% extends 'main/base.html' %}
{% load static %}


{% block content %}

    <!-- pagebanner -->
    <section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'webapp/images/cc_blog_br.jpg' %}{% endif %}');">
        <div class="page-title">
            <h2 class="white text-center">List View</h2>
        </div>
    </section>
    <!-- End Pagebanner -->

    <!-- breadcrumb -->
    <div class="breadcrumb-main">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'webapp:home' %}"><i class="fa fa-home"></i></a></li>
                <li class="active">Blog List View</li>
            </ul>
        </div>
    </div><!-- End breadcrumb -->

    <!--* Blog div Sec*-->
    <section id="blog_main_sec">
        <div class="container">
            <div class="row">
                <!--*Blog Content Sec*-->
                <div class="col-md-8 col-sm-12">
                    <div class="blog-listview">
                        <div class="post_item mar-bottom-30"><!-- post item -->
                            <div class="row">
                                <div class="col-sm-5 col-xs-12">
                                    <div class="blog-post-image">
                                        <div class="blog_cat">Design</div>
                                        <div class="img">
                                            <img src="{% static 'blog/images/blog-listing/blog_list_01.jpg' %}" alt="image" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-7 col-xs-12">
                                    <div class="post-detail_container">
                                    <div class="post-content pad-bottom-20">
                                        <p class="post-date text-uppercase mar-bottom-10"><a href="#"><i class="fa fa-calendar"></i> Mon, 03-09-2019</a></p>
                                        <h3 class="post-title text-uppercase">
                                            <a href="{% url 'blog:single' %}">Exercitation ullamco laboris nisi ut aliquip</a>
                                        </h3>
                                        <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud Exercitation ullamco laboris nisi ut aliquip consequat.</p>
                                    </div>
                                    <div class="post-author">
                                        <span class="pull-left author-list">
                                            <img src="{% static 'blog/images/team/member-1.jpg' %}" alt="author"> <a href="#">Jack Nelson</a>
                                        </span>
                                        <span class="pull-right comments-list pad-top-5">
                                            <i class="fa fa-comment"></i> <a href="#">Comments(5)</a>
                                        </span>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="post_item mar-bottom-30"><!-- post item -->
                            <div class="row">
                                <div class="col-sm-5 col-xs-12">
                                    <div class="blog-post-image">
                                        <div class="blog_cat">Planning</div>
                                        <div class="img">
                                            <img src="{% static 'blog/images/blog-listing/blog_list_02.jpg' %}" alt="image" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-7 col-xs-12">
                                    <div class="post-detail_container">
                                    <div class="post-content pad-bottom-20">
                                        <p class="post-date text-uppercase mar-bottom-10"><a href="#"><i class="fa fa-calendar"></i> Mon, 03-09-2019</a></p>
                                        <h3 class="post-title text-uppercase">
                                            <a href="blog-details.html">Exercitation ullamco laboris nisi ut aliquip</a>
                                        </h3>
                                        <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud Exercitation ullamco laboris nisi ut aliquip consequat.</p>
                                    </div>
                                    <div class="post-author">
                                        <span class="pull-left author-list">
                                            <img src="{% static 'blog/images/team/member-1.jpg' %}" alt="author"> <a href="#">Jack Nelson</a>
                                        </span>
                                        <span class="pull-right comments-list pad-top-5">
                                            <i class="fa fa-comment"></i> <a href="#">Comments(5)</a>
                                        </span>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="post_item mar-bottom-30"><!-- post item -->
                            <div class="row">
                                <div class="col-sm-5 col-xs-12">
                                    <div class="blog-post-image">
                                        <div class="blog_cat">Engineering</div>
                                        <div class="img">
                                            <img src="{% static 'blog/images/blog-listing/blog_list_03.jpg' %}" alt="image" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-7 col-xs-12">
                                    <div class="post-detail_container">
                                    <div class="post-content pad-bottom-20">
                                        <p class="post-date text-uppercase mar-bottom-10"><a href="#"><i class="fa fa-calendar"></i> Mon, 03-09-2019</a></p>
                                        <h3 class="post-title text-uppercase">
                                            <a href="blog-details.html">Exercitation ullamco laboris nisi ut aliquip</a>
                                        </h3>
                                        <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud Exercitation ullamco laboris nisi ut aliquip consequat.</p>
                                    </div>
                                    <div class="post-author">
                                        <span class="pull-left author-list">
                                            <img src="{% static 'blog/images/team/member-1.jpg' %}" alt="author"> <a href="#">Jack Nelson</a>
                                        </span>
                                        <span class="pull-right comments-list pad-top-5">
                                            <i class="fa fa-comment"></i> <a href="#">Comments(5)</a>
                                        </span>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="post_item mar-bottom-30"><!-- post item -->
                            <div class="row">
                                <div class="col-sm-5 col-xs-12">
                                    <div class="blog-post-image">
                                        <div class="blog_cat">Innovation</div>
                                        <div class="img">
                                            <img src="{% static 'blog/images/blog-listing/blog_list_04.jpg' %}" alt="image" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-7 col-xs-12">
                                    <div class="post-detail_container">
                                    <div class="post-content pad-bottom-20">
                                        <p class="post-date text-uppercase mar-bottom-10"><a href="#"><i class="fa fa-calendar"></i> Mon, 03-09-2019</a></p>
                                        <h3 class="post-title text-uppercase">
                                            <a href="blog-details.html">Exercitation ullamco laboris nisi ut aliquip</a>
                                        </h3>
                                        <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud Exercitation ullamco laboris nisi ut aliquip consequat.</p>
                                    </div>
                                    <div class="post-author">
                                        <span class="pull-left author-list">
                                            <img src="{% static 'blog/images/team/member-1.jpg' %}" alt="author"> <a href="#">Jack Nelson</a>
                                        </span>
                                        <span class="pull-right comments-list pad-top-5">
                                            <i class="fa fa-comment"></i> <a href="#">Comments(5)</a>
                                        </span>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="post_item mar-bottom-30"><!-- post item -->
                            <div class="row">
                                <div class="col-sm-5 col-xs-12">
                                    <div class="blog-post-image">
                                        <div class="blog_cat">Structure</div>
                                        <div class="img">
                                            <img src="{% static 'blog/images/blog-listing/blog_list_05.jpg' %}" alt="image" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-7 col-xs-12">
                                    <div class="post-detail_container">
                                    <div class="post-content pad-bottom-20">
                                        <p class="post-date text-uppercase mar-bottom-10"><a href="#"><i class="fa fa-calendar"></i> Mon, 03-09-2019</a></p>
                                        <h3 class="post-title text-uppercase">
                                            <a href="blog-details.html">Exercitation ullamco laboris nisi ut aliquip</a>
                                        </h3>
                                        <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud Exercitation ullamco laboris nisi ut aliquip consequat.</p>
                                    </div>
                                    <div class="post-author">
                                        <span class="pull-left author-list">
                                            <img src="{% static 'blog/images/team/member-1.jpg' %}" alt="author"> <a href="#">Jack Nelson</a>
                                        </span>
                                        <span class="pull-right comments-list pad-top-5">
                                            <i class="fa fa-comment"></i> <a href="#">Comments(5)</a>
                                        </span>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="post_item mar-bottom-30"><!-- post item -->
                            <div class="row">
                                <div class="col-sm-5 col-xs-12">
                                    <div class="blog-post-image">
                                        <div class="blog_cat">Implement</div>
                                        <div class="img">
                                            <img src="{% static 'blog/images/blog-listing/blog_list_06.jpg' %}" alt="image" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-7 col-xs-12">
                                    <div class="post-detail_container">
                                    <div class="post-content pad-bottom-20">
                                        <p class="post-date text-uppercase mar-bottom-10"><a href="#"><i class="fa fa-calendar"></i> Mon, 03-09-2019</a></p>
                                        <h3 class="post-title text-uppercase">
                                            <a href="blog-details.html">Exercitation ullamco laboris nisi ut aliquip</a>
                                        </h3>
                                        <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud Exercitation ullamco laboris nisi ut aliquip consequat.</p>
                                    </div>
                                    <div class="post-author">
                                        <span class="pull-left author-list">
                                            <img src="{% static 'blog/images/team/member-1.jpg' %}" alt="author"> <a href="#">Jack Nelson</a>
                                        </span>
                                        <span class="pull-right comments-list pad-top-5">
                                            <i class="fa fa-comment"></i> <a href="#">Comments(5)</a>
                                        </span>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="post_item mar-bottom-30"><!-- post item -->
                            <div class="row">
                                <div class="col-sm-5 col-xs-12">
                                    <div class="blog-post-image">
                                        <div class="blog_cat">Showing</div>
                                        <div class="img">
                                            <img src="{% static 'blog/images/blog-listing/blog_list_07.jpg' %}" alt="image" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-7 col-xs-12">
                                    <div class="post-detail_container">
                                    <div class="post-content pad-bottom-20">
                                        <p class="post-date text-uppercase mar-bottom-10"><a href="#"><i class="fa fa-calendar"></i> Mon, 03-09-2019</a></p>
                                        <h3 class="post-title text-uppercase">
                                            <a href="blog-details.html">Exercitation ullamco laboris nisi ut aliquip</a>
                                        </h3>
                                        <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud Exercitation ullamco laboris nisi ut aliquip consequat.</p>
                                    </div>
                                    <div class="post-author">
                                        <span class="pull-left author-list">
                                            <img src="{% static 'blog/images/team/member-1.jpg' %}" alt="author"> <a href="#">Jack Nelson</a>
                                        </span>
                                        <span class="pull-right comments-list pad-top-5">
                                            <i class="fa fa-comment"></i> <a href="#">Comments(5)</a>
                                        </span>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="post_item mar-bottom-30"><!-- post item -->
                            <div class="row">
                                <div class="col-sm-5 col-xs-12">
                                    <div class="blog-post-image">
                                        <div class="blog_cat">Painting</div>
                                        <div class="img">
                                            <img src="{% static 'blog/images/blog-listing/blog_list_08.jpg' %}" alt="image" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-7 col-xs-12">
                                    <div class="post-detail_container">
                                        <div class="post-content pad-bottom-20">
                                            <p class="post-date text-uppercase mar-bottom-10"><a href="#"><i class="fa fa-calendar"></i> Mon, 03-09-2019</a></p>
                                            <h3 class="post-title text-uppercase">
                                                <a href="blog-details.html">Exercitation ullamco laboris nisi ut aliquip</a>
                                            </h3>
                                            <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud Exercitation ullamco laboris nisi ut aliquip consequat.</p>
                                        </div>
                                        <div class="post-author">
                                            <span class="pull-left author-list">
                                                <img src="{% static 'blog/images/team/member-1.jpg' %}" alt="author"> <a href="#">Jack Nelson</a>
                                            </span>
                                            <span class="pull-right comments-list pad-top-5">
                                                <i class="fa fa-comment"></i> <a href="#">Comments(5)</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row"><!-- pagination -->
                            <div class="col-md-12">
                                <div class="pagination-div text-center">
                                    <ul class="pagination">
                                        <li class="prev">
                                            <a href="#"><i class="fa fa-angle-double-left"></i></a>
                                        </li>
                                        <li>
                                            <a href="#">1</a>
                                        </li>
                                        <li class="active">
                                            <a href="#">2</a>
                                        </li>
                                        <li>
                                            <a href="#">3</a>
                                        </li>
                                        <li>
                                            <a href="#">...</a>
                                        </li>
                                        <li>
                                            <a href="#">10</a>
                                        </li>
                                        <li class="next">
                                            <a href="#"><i class="fa fa-angle-double-right"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- End pagination -->
                    </div>
                </div>
                <!--* End Blog Content Sec*-->

                <!--* Blog Sidebar*-->
                <aside class="col-md-4 col-sm-12">
                    <div class="sidebar-main">
                        <div class="widget"><!-- widget list -->
                            <h3 class="blog_heading_border"> Search </h3>
                            <form class="search-form" role="search" action="http://markupthemex.com/" method="post">
                                <input id="sidebar-search" placeholder="Search" type="text" />
                                <a href="#" class="search_btn"><i class="fa fa-search"></i></a> 
                            </form>
                        </div><!-- End widget list -->

                        <div class="widget widget_recent_entries"><!-- widget list -->
                            <h3 class="blog_heading_border"> Recent Posts </h3>
                            <ul>
                                <li>
                                    <img src="{% static 'blog/images/blog/r-post-1.jpg' %}" alt="image" />
                                    <p class="date"><i class="fa fa-calendar"></i> Mon, 04-09-2016</p>
                                    <h4>
                                        <a href="blog-details.html">Always Have a Faith in Your Potential</a>
                                    </h4>
                                    <P class="Comments"><a href="#"><i class="fa fa-comments"></i> 5 Comments</a></P>
                                </li>
                                <li>
                                    <img src="{% static 'blog/images/blog/r-post-2.jpg' %}" alt="image" />
                                    <p class="date"><i class="fa fa-calendar"></i> Mon, 04-09-2016</p>
                                    <h4>
                                        <a href="blog-details.html">Nobody Knows What’s Gonna Happen</a>
                                    </h4>
                                    <P class="Comments"><a href="#"><i class="fa fa-comments"></i> 5 Comments</a></P>
                                </li>
                                <li>
                                    <img src="{% static 'blog/images/blog/r-post-3.jpg' %}" alt="image" />
                                    <p class="date"><i class="fa fa-calendar"></i> Mon, 04-09-2016</p>
                                    <h4>
                                        <a href="blog-details.html">Never Stop Believing Yourself</a>
                                    </h4>
                                    <P class="Comments"><a href="#"><i class="fa fa-comments"></i> 5 Comments</a></P>
                                </li>
                                <li>
                                    <img src="{% static 'blog/images/blog/r-post-4.jpg' %}" alt="image" />
                                    <p class="date"><i class="fa fa-calendar"></i> Mon, 04-09-2016</p>
                                    <h4>
                                        <a href="blog-details.html">Always Have a Faith in Your Potential</a>
                                    </h4>
                                    <P class="Comments"><a href="#"><i class="fa fa-comments"></i> 5 Comments</a></P>
                                </li>
                            </ul>
                        </div><!-- End widget list -->

                        <div class="widget widget_categories"><!-- widget list -->
                            <h3 class="blog_heading_border"> Blog Categories </h3>
                            <ul>
                                <li>
                                    <a href="#"> All </a>
                                    <span class="categoryCount pull-right">(50)</span>
                                </li>
                                <li>
                                    <a href="#"> Web Design </a>
                                    <span class="categoryCount pull-right">(10)</span>
                                </li>
                                <li>
                                    <a href="#"> Graphic Design </a>
                                    <span class="categoryCount pull-right">(07)</span>
                                </li>
                                <li>
                                    <a href="#"> Web Development </a>
                                    <span class="categoryCount pull-right">(18)</span>
                                </li>
                                <li>
                                    <a href="#"> Marketing </a>
                                    <span class="categoryCount pull-right">(08)</span>
                                </li>
                                <li>
                                    <a href="#"> Security </a>
                                    <span class="categoryCount pull-right">(05)</span>
                                </li>
                                <li>
                                    <a href="#"> Bug Fixing </a>
                                    <span class="categoryCount pull-right">(02)</span>
                                </li>
                            </ul>
                        </div><!-- End widget list -->

                        <div class="widget widget_custom_menu"><!-- widget list -->
                            <h3 class="blog_heading_border"> Custom Menu </h3>
                            <ul>
                                <li>
                                    <a href="#"> Home </a>
                                </li>
                                <li>
                                    <a href="#"> About us </a>
                                </li>
                                <li>
                                    <a href="#"> Single </a>
                                </li>
                                <li>
                                    <a href="#"> Video </a>
                                </li>
                                <li>
                                    <a href="#"> Gallery </a>
                                </li>
                                <li>
                                    <a href="#"> Blog </a>
                                </li>
                                <li>
                                    <a href="#"> Contact Us </a>
                                </li>
                            </ul>
                        </div><!-- End widget list -->

                        <div class="widget widget_follow"><!-- widget list -->
                            <h3 class="blog_heading_border">Follow Me</h3>
                            <div class="blog-social">
                                <a href="#">
                                    <div class="socibox">
                                        <span class="fa fa-facebook"></span>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="socibox">
                                        <span class="fa fa-twitter"></span>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="socibox">
                                        <span class="fa fa-instagram"></span>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="socibox">
                                        <span class="fa fa-google-plus"></span>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="socibox">
                                        <span class="fa fa-rss"></span>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="socibox">
                                        <span class="fa fa-youtube-play"></span>
                                    </div>
                                </a>
                            </div><!-- end blog-social -->
                        </div><!-- End widget list -->

                        <div class="widget widget_tag_cloud"><!-- widget list -->
                            <h3 class="blog_heading_border"> Blog Tags </h3>
                            <ul>
                                <li>
                                    <a href="#"> Web Design </a>
                                </li>
                                <li>
                                    <a href="#"> Graphic Design </a>
                                </li>
                                <li>
                                    <a href="#"> Html </a>
                                </li>
                                <li>
                                    <a href="#"> CSS </a>
                                </li>
                                <li>
                                    <a href="#"> Web Development </a>
                                </li>
                                <li>
                                    <a href="#"> Marketing </a>
                                </li>
                                <li>
                                    <a href="#"> php </a>
                                </li>
                                <li>
                                    <a href="#"> Wordpress </a>
                                </li>
                                <li>
                                    <a href="#"> Security </a>
                                </li>
                                <li>
                                    <a href="#"> Bug Fixing </a>
                                </li>
                            </ul>
                        </div><!-- End widget list -->

                        <div class="widget widget_instagram"><!-- widget list -->
                            <h3 class="blog_heading_border">Follow on instagram</h3>
                            <div class="instagram-wrapper clearfix">
                                <a href="#"><img src="{% static 'blog/images/insta/insta_01.jpg' %}" alt="" class="img-fluid"></a>
                                <a href="#"><img src="{% static 'blog/images/insta/insta_02.jpg' %}" alt="" class="img-fluid"></a>
                                <a href="#"><img src="{% static 'blog/images/insta/insta_03.jpg' %}" alt="" class="img-fluid"></a>
                                <a href="#"><img src="{% static 'blog/images/insta/insta_04.jpg' %}" alt="" class="img-fluid"></a>
                                <a href="#"><img src="{% static 'blog/images/insta/insta_05.jpg' %}" alt="" class="img-fluid"></a>
                                <a href="#"><img src="{% static 'blog/images/insta/insta_06.jpg' %}" alt="" class="img-fluid"></a>
                                <a href="#"><img src="{% static 'blog/images/insta/insta_07.jpg' %}" alt="" class="img-fluid"></a>
                                <a href="#"><img src="{% static 'blog/images/insta/insta_08.jpg' %}" alt="" class="img-fluid"></a>
                                <a href="#"><img src="{% static 'blog/images/insta/insta_09.jpg' %}" alt="" class="img-fluid"></a>
                                <a href="#"><img src="{% static 'blog/images/insta/insta_10.jpg' %}" alt="" class="img-fluid"></a>
                                <a href="#"><img src="{% static 'blog/images/insta/insta_11.jpg' %}" alt="" class="img-fluid"></a>
                                <a href="#"><img src="{% static 'blog/images/insta/insta_12.jpg' %}" alt="" class="img-fluid"></a>
                            </div><!-- end images/instagram wrapper -->
                        </div><!-- End widget list -->

                        <div class="widget widget-ads"><!-- widget list -->
                            <h3 class="blog_heading_border"><span>Advertisement</span></h3>
                            <a href="#"><img src="{% static 'blog/images/banner.jpg' %}" alt="" class="img-fluid"></a>
                        </div><!-- End widget list -->
                    </div>
                </aside>
                <!--* End Blog Sidebar*-->
            </div>
        </div>
    </section>
    <!--*End Blog div Sec*-->

{% endblock %}