{% extends 'main/base.html' %}
{% load static %}


{% block content %}

    <!-- pagebanner -->
    <section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'webapp/images/cc_blog_datail_br.jpg' %}{% endif %}');">
        <div class="page-title">
            <h2 class="white text-center">Blog Detail</h2>
        </div>
    </section>
    <!-- End Pagebanner -->

    <!-- breadcrumb -->
    <div class="breadcrumb-main">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'webapp:home' %}"><i class="fa fa-home"></i></a></li>
                <li class="active">Blog Detail</li>
            </ul>
        </div>
    </div>
    <!-- End breadcrumb -->

    <!--* Blog Main Sec*-->
    <section id="blog_main_sec">
        <div class="container">
            <div class="row">
                <!--*Blog Content Sec*-->
                <main class="col-md-8 col-sm-12">
                    <div class="blog-details">
                        {% for main_news_detail in news %}
                        <div class="post-detail_container">
                            <div class="post-content pad-bottom-20">
                                <p class="post-date text-uppercase mar-bottom-10"><i class="fa fa-calendar"></i> {{ main_news_detail.pub_date }}</p>
                                <h3 class="post-title text-uppercase mar-bottom-0">
                                    <a href="{% url 'blog:single' pk=main_news_detail.id %}">{{ main_news_detail.title }}</a>
                                </h3>
                            </div>
                        </div>
                        <div class="blog-post-image">
                            <div class="blog_cat">Planning</div>
                            <div class="img">
                                <img src="{{ main_news_detail.photo.url }}" alt="image" />
                            </div>
                        </div>
                        <div class="post_body mar-top-20">
                            <p>{{ main_news_detail.description_small }}
                                </p>
                            <blockquote>
                                <p>{{ main_news_detail.comment }}</p>
                                <span>{{ main_news_detail.comment_author }}</span>
                            </blockquote>

                            <p>{{ main_news_detail.description }}</p>
                        </div>
                        {% endfor %}
                        <div class="author_box mar-top-30">
                            <div class="author_img">
                                <img src="{% static 'blog/images/blog/author.png' %}" alt="Author">
                            </div>
                            <div class="author_bio">
                                <h4 class="text-uppercase">Jhon Snow</h4>
                                <p>Duis a enim vel mauris ultrices. Nullam aliquet velit ac velit tempus in semper an neque auctor. Aenean ligula mi, auctor sed tempus.Duis a enim vel mauris ultrices. Nullam aliquet velit ac velit tempus in semper an neque auctor.
                                    Aenean ligula mi, auctor sed tempus.</p>
                                <ul class="social_icons">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--=========================* Comment Sec*===========================-->
                        <div id="comments">
                            <div class="comments-wrap">
                                <h3 class="single-post_heading mar-bottom-30">Comments (4)</h3>
                                <ol class="comments-lists">
                                    <li class="comment">
                                        <div class="activity_rounded">
                                            <img src="{% static 'blog/images/blog/cmnt-1.jpg' %}" alt="image" /> </div>
                                        <div class="comment-body">
                                            <h4 class="text-left text-uppercase"> NIKLOS DELSON &nbsp;&nbsp;
                                                <small class="date-posted pull-right">18th Mar, 2019</small>
                                            </h4>
                                            <p> Duis a enim vel mauris ultrices. Nullam aliquet velit ac velit tempus in semper neque auctor. Etiam pellentesque, magna eget lobortis placerat, leo leo consequat ante, non iaculis turpis augue ac ligula. Duis a
                                                enim vel mauris ultrices, leo. </p>
                                            <a href="#" class="pull-left mt_btn_yellow mar-top-10">Reply</a>
                                            <div class="clearfix"></div>
                                        </div>
                                        <ol class="children">
                                            <li class="comment">
                                                <div class="activity_rounded">
                                                    <img src="{% static 'blog/images/blog/cmnt-2.jpg' %}" alt="image" /> </div>
                                                <div class="comment-body">
                                                    <h4 class="text-left text-uppercase"> NIKLOS DELSON &nbsp;&nbsp;
                                                        <small class="date-posted pull-right">18th Mar, 2019</small>
                                                    </h4>
                                                    <p> Duis a enim vel mauris ultrices. Nullam aliquet velit ac velit tempus in semper neque auctor. Etiam pellentesque, magna eget lobortis placerat, leo leo consequat ante, non iaculis turpis augue ac ligula.
                                                        Duis a enim vel mauris ultrices, leo. </p>
                                                    <a href="#" class="pull-left mt_btn_yellow mar-top-10">Reply</a>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </li>
                                        </ol>
                                    </li>
                                    <li class="comment">
                                        <div class="activity_rounded">
                                            <img src="{% static 'blog/images/blog/cmnt-3.jpg' %}" alt="image" /> </div>
                                        <div class="comment-body">
                                            <h4 class="text-left text-uppercase"> NIKLOS DELSON &nbsp;&nbsp;
                                                <small class="date-posted pull-right">18th Mar, 2019</small>
                                            </h4>
                                            <p> Duis a enim vel mauris ultrices. Nullam aliquet velit ac velit tempus in semper neque auctor. Etiam pellentesque, magna eget lobortis placerat, leo leo consequat ante, non iaculis turpis augue ac ligula. Duis a
                                                enim vel mauris ultrices, leo. </p>
                                            <a href="#" class="pull-left mt_btn_yellow mar-top-10">Reply</a>
                                            <div class="clearfix"></div>
                                        </div>
                                    </li>
                                    <li class="comment">
                                        <div class="activity_rounded">
                                            <img src="{% static 'blog/images/blog/cmnt-2.jpg' %}" alt="image" /> </div>
                                        <div class="comment-body">
                                            <h4 class="text-left text-uppercase"> NIKLOS DELSON &nbsp;&nbsp;
                                                <small class="date-posted pull-right">18th Mar, 2019</small>
                                            </h4>
                                            <p> Duis a enim vel mauris ultrices. Nullam aliquet velit ac velit tempus in semper neque auctor. Etiam pellentesque, magna eget lobortis placerat, leo leo consequat ante, non iaculis turpis augue ac ligula. Duis a
                                                enim vel mauris ultrices, leo. </p>
                                            <a href="#" class="pull-left mt_btn_yellow mar-top-10">Reply</a>
                                            <div class="clearfix"></div>
                                        </div>
                                    </li>
                                </ol>
                                <div class="leave_comment">
                                    <h3 class="blog_heading_border mar-bottom-30"> Leave a Comment </h3>
                                    <form action="#" method="post">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input placeholder="Name" class="form-control" type="text" required> </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input placeholder="Email" class="form-control" type="email" required> </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <textarea placeholder="Message" class="form-control" required></textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button type="submit" class="mt_btn_yellow">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--=========================*End Comment Sec*===========================-->
                    </div>
                </main>
                <!--* End Blog Content Sec*-->

                <!--* Blog Sidebar*-->
                <aside class="col-md-4 col-sm-12">
                    <div class="sidebar-main">
                        <div class="widget"><!-- widget list -->
                            <h3 class="blog_heading_border"> Search </h3>
                            <form class="search-form" role="search" action="http://markupthemex.com/" method="post">
                                <input id="sidebar-search" placeholder="Search" type="text" />
                                <a href="#" class="search_btn"><i class="fa fa-search"></i></a> 
                            </form>
                        </div><!-- End widget list -->

                        <div class="widget widget_recent_entries"><!-- widget list -->
                            <h3 class="blog_heading_border"> Recent Posts </h3>
                            {% for main_news_posts in news %}
                            <ul>
                                <li>
                                    <img src="{{ main_news_posts.photo.url }}" class="img-fixed-size_ten" alt="image" />
                                    <p class="date"><i class="fa fa-calendar"></i> {{ main_news_posts.pub_date }}</p>
                                    <h4>
                                        <a href="{% url 'blog:single' pk=main_news_posts.id %}">{{ main_news_posts.title }}</a>
                                    </h4>
                                    <P class="Comments"><a href="#"><i class="fa fa-comments"></i> 5 Comments</a></P>
                                </li>
                            </ul>
                            {% endfor %}
                        </div><!-- End widget list -->

                        <div class="widget widget_categories"><!-- widget list -->
                            <h3 class="blog_heading_border"> Blog Categories </h3>
                            <ul>
                                <li>
                                    <a href="{% url 'blog:blog' %}"> All </a>
                                </li>
                                {% for main_news_categ in news %}
                                    <li>
                                        <a href="{% url 'blog:single' pk=main_news_categ.id %}">{{ main_news_categ.title }} </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div><!-- End widget list -->


                        <div class="widget widget_custom_menu"><!-- widget list -->
                            <h3 class="blog_heading_border"> Main Menu </h3>
                            <ul>
                                <li>
                                    <a href="{% url 'webapp:home' %}"> Home </a>
                                </li>
                                <li>
                                    <a href="{% url 'webapp:services' %}"> Services </a>
                                </li>
                                <li>
                                    <a href="{% url 'webapp:about' %}"> Company </a>
                                </li>
                                <li>
                                    <a href="{% url 'webapp:shop' %}"> Shopping </a>
                                </li>
                                <li>
                                    <a href="{% url 'blog:blog' %}"> Blog </a>
                                </li>
                                <li>
                                    <a href="{% url 'webapp:contacts' %}"> Contact Us </a>
                                </li>
                            </ul>
                        </div><!-- End widget list -->


                        <div class="widget widget-ads"><!-- widget list -->
                            <h3 class="blog_heading_border"><span>Advertisement</span></h3>
                            <a href="#"><img src="{% static 'blog/images/banner.jpg' %}" alt="" class="img-fluid"></a>
                        </div><!-- End widget list -->
                    </div>
                </aside>
                <!--* End Blog Sidebar*-->
            </div>
        </div>
    </section>
    <!--*End Blog Main Sec*-->


{% endblock %}
