{% extends 'main/base.html' %}
{% load static %}


{% block content %}

    <!-- pagebanner -->
    <section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'webapp/images/cc_blog_br.jpg' %}{% endif %}');">
        <div class="page-title">
            <h2 class="white text-center">List View</h2>
        </div>
    </section>
    <!-- End Pagebanner -->

    <!-- breadcrumb -->
    <div class="breadcrumb-main">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'webapp:home' %}"><i class="fa fa-home"></i></a></li>
                <li class="active">Blog List View</li>
            </ul>
        </div>
    </div>
    <!-- End breadcrumb -->

    <!--* Blog div Sec*-->
    <section id="blog_main_sec">
        <div class="container">
            <div class="row">
                <!--*Blog Content Sec*-->
                {% for main_news in model_blog_main %}
                <div class="col-md-8 col-sm-12">
                    <div class="blog-listview">
                        <div class="post_item mar-bottom-30"><!-- post item -->
                            <div class="row">
                                <div class="col-sm-5 col-xs-12">
                                    <div class="blog-post-image">
                                        <div class="blog_cat">Confide Construction</div>
                                        <div class="img">
                                            <img src="{{ main_news.photo.url }}" alt="image" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-7 col-xs-12">
                                    <div class="post-detail_container">
                                    <div class="post-content pad-bottom-20">
                                        <p class="post-date text-uppercase mar-bottom-10"><a href="#"><i class="fa fa-calendar"></i> {{ main_news.pub_date }}</a></p>
                                        <h3 class="post-title text-uppercase">
                                            <a href="{% url 'blog:single' pk=main_news.id %}">{{ main_news.title }}</a>
                                        </h3>
                                        <p class="post-excerpt">{{ main_news.description_small }}</p>
                                    </div>
                                    <div class="post-author">
                                        <span class="pull-left author-list">
                                            <img src="{{ main_news.author_photo.url }}" alt="author"> <a href="#">{{ main_news.author }}</a>
                                        </span>
                                        <span class="pull-right comments-list pad-top-5">
                                            <a href="{% url 'blog:single' pk=main_news.id %}"><i class="fa fa-book"></i> To read</a>
                                        </span>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--* End Blog Content Sec*-->
                {% endfor %}

                <!--* Blog Sidebar*-->
                <aside class="col-md-4 col-sm-12">
                    <div class="sidebar-main">
                        <!-- widget list -->
                        <div class="widget">
                            <h3 class="blog_heading_border"> Search </h3>
                            <form class="search-form" role="search" action="http://markupthemex.com/" method="post">
                                <input id="sidebar-search" placeholder="Search" type="text" />
                                <a href="#" class="search_btn"><i class="fa fa-search"></i></a> 
                            </form>
                        </div><!-- End widget list -->

                        <div class="widget widget_recent_entries"><!-- widget list -->
                            <h3 class="blog_heading_border"> Recent Posts </h3>
                            {% for main_posts_serch in model_blog_main %}
                            <ul>
                                <li>
                                    <img src="{{ main_posts_serch.photo.url }}" class="img-fixed-size_ten" alt="image" />
                                    <p class="date"><i class="fa fa-calendar"></i> {{ main_posts_serch.pub_date }}</p>
                                    <h4>
                                        <a href="{% url 'blog:single' pk=main_posts_serch.id %}">{{ main_posts_serch.title }}</a>
                                    </h4>
                                    <p class="Comments"><a href="{% url 'blog:single' pk=main_posts_serch.id %}"><i class="fa fa-book"></i> to read</a></p>
                                </li>
                            </ul>
                            {% endfor %}
                        </div><!-- End widget list -->


                        <div class="widget widget_categories"><!-- widget list -->
                            <h3 class="blog_heading_border"> Blog Categories </h3>
                            <ul>
                                <li>
                                    <a href="{% url 'blog:blog' %}"> All </a>
                                </li>
                                {% for main_posts_serch in model_blog_main %}
                                    <li>
                                        <a href="{% url 'blog:single' pk=main_posts_serch.id %}">{{ main_posts_serch.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div><!-- End widget list -->


                        <div class="widget widget_custom_menu"><!-- widget list -->
                            <h3 class="blog_heading_border"> Main Menu </h3>
                            <ul>
                                <li>
                                    <a href="{% url 'webapp:home' %}"> Home </a>
                                </li>
                                <li>
                                    <a href="{% url 'webapp:services' %}"> Services </a>
                                </li>
                                <li>
                                    <a href="{% url 'webapp:about' %}"> Company </a>
                                </li>
                                <li>
                                    <a href="{% url 'webapp:shop' %}"> Shopping </a>
                                </li>
                                <li>
                                    <a href="{% url 'blog:blog' %}"> Blog </a>
                                </li>
                                <li>
                                    <a href="{% url 'webapp:contacts' %}"> Contact Us </a>
                                </li>
                            </ul>
                        </div><!-- End widget list -->

                        <div class="widget widget-ads"><!-- widget list -->
                            <h3 class="blog_heading_border"><span>Advertisement</span></h3>
                            <a href="#"><img src="{% static 'blog/images/banner.jpg' %}" alt="" class="img-fluid"></a>
                        </div><!-- End widget list -->
                    </div>
                </aside>
                <!--* End Blog Sidebar*-->
            </div>
        </div>
    </section>
    <!--*End Blog div Sec*-->

    <!-- pagination -->
    <div class="row">
        <div class="col-md-12">
            <div class="pagination-div text-center">
                <ul class="pagination">
                    <li class="prev">
                        <a href="#"><i class="fa fa-angle-double-left"></i></a>
                    </li>
                    <li>
                        <a href="#">1</a>
                    </li>
                    <li class="active">
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">...</a>
                    </li>
                    <li>
                        <a href="#">10</a>
                    </li>
                    <li class="next">
                        <a href="#"><i class="fa fa-angle-double-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End pagination -->


    <!--*Newsletter*-->
    <div id="newsletter">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="news-content">
                        <h3>ORDER FREE CONSULTATION</h3>
                        <p class="beige"><b>CALL US TODAY FOR A FREE CONSULTATION ON HOW WE CAN HELP YOU ACHIEVE YOUR
                            LIFESTYLE DREAMS.</b></p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="mailpoet_form">
                        <form target="_self" method="post" action="" novalidate="">
                            <input type="text" name="name" placeholder="Your Name">
                            <input type="email" class="mailpoet_text" name="email" title="Email"
                                   placeholder="Please specify your email address.">
                            <input type="text" name="description" placeholder="Description Service">
                            <div class="button">
                                <input type="submit" class="mailpoet_submit" value="Free Quote">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--*End Newsletter*-->

{% endblock %}