<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $('#placeOrderBtn').on('click', function() {
        // Получение данных из формы
        var lastName = $('input[name="last_name_check"]').val();
        var companyName = $('input[name="company_name"]').val(); // Убедитесь, что это поле существует
        var streetAddress = $('input[name="street_address"]').val();
        var townCity = $('input[name="town_city"]').val();
        var phoneNumber = $('input[name="phone_number"]').val();
        var email = $('input[name="email"]').val();
        var orderNotes = $('textarea[name="order_notes"]').val();

        // Получение скрытых полей
        var discountCheck = $('input[name="discount_check"]').val(); // Скрытое поле для скидки
        var nameCheck = $('input[name="name_check"]').val(); // Скрытое поле для имени

        // Отправка данных на страницу "process_payment"
        $.ajax({
            url: "{% url 'webapp:process_payment' %}", // Укажите путь к вашему представлению "process_payment"
            method: 'POST',
            data: {
                'last_name': lastName,
                'company_name': companyName,
                'street_address': streetAddress,
                'town_city': townCity,
                'phone_number': phoneNumber,
                'email': email,
                'order_notes': orderNotes,
                'discount_check': discountCheck,
                'name_check': nameCheck,
            },
            success: function(response) {
                window.location.href = "{% url 'webapp:process_payment' %}"; // Перенаправление на страницу "process_payment"
            },
            error: function(error) {
                console.log(error); // Обработка ошибки, если она есть
            }
        });
    });
});
</script>
