{% extends 'main/base.html' %}
{% load static %}


{% block content %}

    <!-- pagebanner -->
    <section id="pagebanner">
        <div class="page-title">
            <h2 class="white text-center">About us</h2>
        </div>
    </section>
    <!-- End Pagebanner -->

    <!-- breadcrumb -->
    <div class="breadcrumb-main">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'webapp:home' %}"><i class="fa fa-home"></i></a></li>
                <li class="active">About Us</li>
            </ul>
        </div>
    </div><!-- End breadcrumb -->

    <!--*About*-->
    <section id="mt_about">
        <div class="container">
   
            <div class="about_inner">
                <div class="row">

                    <div class="col-md-6 col-sm-12">
                        <div class="about-content">
                            <span class="mar-bottom-15">About Company</span>
                            <h2 class="mar-bottom-30">We individually assess each <br> plan and offer optimal solutions</h2>
                            <p class="mar-bottom-40">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrudexe rc itation ullamco laboris nisi ut aliquip ex ea com modo consequat. Duis aute irure.</p>
                            <a href="#" class="btn mt_btn_yellow">Our Services</a>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <div class="about-img">
                            <img src="{% static 'webapp/images/project/bw12.jpg' %}">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--*EndAbout*-->

    <!--* Choose Us*-->
    <section id="choose_us" class="about_choose_us"> 
        <div class="container">

            <div class="row">
                <div class="col-xs-12">
                    <!-- section title -->
                    <div class="section_heading">
                        <h2 class="section_title">
                            <span>Why Choose us?</span>
                        </h2>
                        <p class="heading_txt">There are variations available majoritaey suffered alteration words which look believable 
                        dolor sit amet consectetuer adipiscing elit suspendisse justdo structure versions.</p>
                    </div>
                </div>
            </div>

            <div class="row ">
                <div class="col-md-5 col-sm-12 col-xs-12 mission-image">
                    <img src="{% static 'webapp/images/pic1.png' %}" alt="mission-image">
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12 mission-list">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="choose-list mar-bottom-30">
                                <i class="fa fa-users"></i>
                                <h3>Team Of Professional</h3>
                                <p>Dolor sit amet consectetuer adipiscing elit suspendisse justdo structure versions.</p>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="choose-list mar-bottom-30">
                                <i class="fa fa-paint-brush"></i>
                                <h3>Full Of Services</h3>
                                <p>Dolor sit amet consectetuer adipiscing elit suspendisse justdo structure versions.</p>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="choose-list mar-bottom-30">
                                <i class="fa fa-phone"></i>
                                <h3>27/7 Support</h3>
                                <p>Dolor sit amet consectetuer adipiscing elit suspendisse justdo structure versions.</p>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="choose-list mar-bottom-30">
                                <i class="fa fa-cogs"></i>
                                <h3>Unique Technology</h3>
                                <p>Dolor sit amet consectetuer adipiscing elit suspendisse justdo structure versions.</p>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="choose-list">
                                <i class="fa fa-building"></i>
                                <h3>Attractive Building</h3>
                                <p>Dolor sit amet consectetuer adipiscing elit suspendisse justdo structure versions.</p>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="choose-list">
                                <i class="fa fa-picture-o"></i>
                                <h3>Perfect Interior</h3>
                                <p>Dolor sit amet consectetuer adipiscing elit suspendisse justdo structure versions.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--* End choose us*-->

    <!--*About*-->
    <section id="mt_about" class="mission">
        <div class="container">
   
            <div class="about_inner">
                <div class="row">

                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="about-content">
                            <span class="mar-bottom-15">Our mission</span>
                            <h2 class="mar-bottom-30">Our Mission is to Turn <br>Your Ideas Into Businesses.</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br><br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <div class="mission-progress-bar">
                            <div class="progress-wrap">
                                <h5>Design</h5>
                                <div class="progress">
                                  <div class="progress-bar  color1" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                    <span class="bar-width">85%</span>
                                  </div>

                                </div>
                            </div>

                            <div class="progress-wrap">
                                <h5>Market Research</h5>
                                <div class="progress">
                                  <div class="progress-bar  color1" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                    <span class="bar-width">60%</span>
                                  </div>

                                </div>
                            </div>

                            <div class="progress-wrap">
                                <h5>Strategic Consultingh</h5>
                                <div class="progress">
                                  <div class="progress-bar  color1" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                    <span class="bar-width">90%</span>
                                  </div>

                                </div>
                            </div>

                            <div class="progress-wrap">
                                <h5>Sales Services</h5>
                                <div class="progress">
                                  <div class="progress-bar  color1" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <span class="bar-width">75%</span>
                                  </div>

                                </div>
                            </div>

                            <div class="progress-wrap">
                                <h5>Online Reputation</h5>
                                <div class="progress">
                                  <div class="progress-bar  color1" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                    <span class="bar-width">80%</span>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--*EndAbout*-->

    <!--*Team*-->
    <section id="const-team" class="about-const-team">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <!-- section title -->
                    <div class="section_heading">
                        <h2 class="section_title">
                            <span>Our Expert Team Members</span>
                        </h2>
                        <p class="heading_txt">There are variations available majoritaey suffered alteration words which look believable 
                        dolor sit amet consectetuer adipiscing elit suspendisse justdo structure versions.</p>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="row slider-team">
                        <div class="col-md-4 item">
                            <div class="team_member">
                                <figure class="effect-julia">
                                    <img src="{% static 'webapp/images/team/team1.png' %}" alt="team">
                                </figure>
                                <div class="member_name">
                                    <h4 class="white">Monica Wagase</h4>
                                    <span>Camical officer</span>
                                </div>
                                <div class="team-overlay">
                                     <ul class="socialicons">
                                          <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                          <li><a href="#"><i class="fa fa-google"></i></a></li>
                                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 item">
                            <div class="team_member">
                                <figure class="effect-julia">
                                    <img src="{% static 'webapp/images/team/team2.png' %}" alt="team">

                                </figure>
                                <div class="member_name">
                                    <h4 class="white">Jhoseph Low</h4>
                                    <span>Interior Designer</span>
                                </div>
                                <div class="team-overlay">
                                     <ul class="socialicons">
                                          <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                          <li><a href="#"><i class="fa fa-google"></i></a></li>
                                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 item">
                            <div class="team_member">
                                <figure class="effect-julia">
                                    <img src="{% static 'webapp/images/team/team3.png' %}" alt="team">

                                </figure>
                                <div class="member_name">
                                    <h4 class="white">Jhon Doe</h4>
                                    <span>Building Worker</span>
                                </div>
                                <div class="team-overlay">
                                     <ul class="socialicons">
                                          <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                          <li><a href="#"><i class="fa fa-google"></i></a></li>
                                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 item">
                            <div class="team_member">
                                <figure class="effect-julia">
                                    <img src="{% static 'webapp/images/team/team4.png' %}" alt="team">

                                </figure>
                                <div class="member_name">
                                    <h4 class="white">JHON DOE</h4>
                                    <span>Building Worker</span>
                                </div>
                                <div class="team-overlay">
                                     <ul class="socialicons">
                                          <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                          <li><a href="#"><i class="fa fa-google"></i></a></li>
                                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--* End Team*-->

    <!--* Fun And Facts*-->
    <section id="mt_fun">
        <div class="container">
            
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="fun-content">
                        <span class="mar-bottom-15">EXPERTS IN FIELD</span>
                        <h2 class="mar-bottom-0">Design Startup Movement</h2>
                    </div>
                </div>
                <div class="col-md-9 col-sm-12">
                    <div class="row facts_row">
                        <div class="col-md-3 col-sm-3 col-xs-6 facts_col">
                            <div class="fun-facts_wrapper text-center">
                                <p class="fun-facts_title mar-bottom-30"> Years of Experience </p>
                                <p class="fun-facts_figure timer" data-to="15" data-speed="3000"></p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 facts_col">
                            <div class="fun-facts_wrapper text-center">
                                <p class="fun-facts_title mar-bottom-30"> Happy Clients </p>
                                <p class="fun-facts_figure timer" data-to="520" data-speed="3000"></p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 facts_col">
                            <div class="fun-facts_wrapper text-center">
                                <p class="fun-facts_title mar-bottom-30"> Projects Completed </p>
                                <p class="fun-facts_figure timer" data-to="850" data-speed="3000"></p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 facts_col">
                            <div class="fun-facts_wrapper text-center">
                                <p class="fun-facts_title mar-bottom-30"> Comments </p>
                                <p class="fun-facts_figure timer" data-to="950" data-speed="3000"></p>
                            </div>
                        </div>      
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--* End Fun And Facts*-->

    <!--* Testimonial*-->
    <section id="mt_faq-testi" class="about_mt_faq-testi">
        <div class="container">
            
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <!-- section title -->
                    <div class="section_heading">
                        <h2 class="section_title">
                            <span>Frequemtly Asked Question</span>
                        </h2>
                        <p class="heading_txt">There are variations available majoritaey suffered alteration words which look believable 
                        dolor sit.</p>
                    </div>

                    <div class="accrodion-grp faq-accrodion" data-grp-name="faq-accrodion">
                        <div class="accrodion active">
                            <div class="accrodion-title">
                                <h4>Lorem ipsum dolor sit amet</h4>
                            </div>
                            <div class="accrodion-content" style="display: block;">
                                <div class="inner">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque veniam, praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit voluptatem.</p>
                                </div><!-- /.inner -->
                            </div>
                        </div>
                        <div class="accrodion ">
                            <div class="accrodion-title">
                                <h4>Dolor sit amet, consectetuer adipiscing elit</h4>
                            </div>
                            <div class="accrodion-content" style="display: none;">
                                <div class="inner">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque veniam, praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit voluptatem.</p>
                                </div><!-- /.inner -->
                            </div>
                        </div>
                        <div class="accrodion">
                            <div class="accrodion-title">
                                <h4>Sed diam nonummy nibh euismod</h4>
                            </div>
                            <div class="accrodion-content" style="display: none;">
                                <div class="inner">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque veniam, praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit voluptatem.</p>
                                </div><!-- /.inner -->
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-sm-6 col-xs-12">
                    <div class="mt_testimonial">
                            <!-- section title -->
                        <div class="section_heading">
                            <h2 class="section_title">
                                <span>What Say Our Client</span>
                            </h2>
                            <p class="heading_txt">There are variations available majoritaey suffered alteration words which look believable 
                            dolor sit.</p>
                        </div>

                        <div class="row slider-testi">
                            <div class="col-xs-12">
                                <div class="testimonial_main">
                                    <p class="mar-bottom-30">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                                    <div class="client-pic"><img src="{% static 'webapp/images/team/member-1.jpg' %}" alt=""></div>
                                    <h4>
                                        <a href="#">Christopher Daniel</a>
                                        <span>MD of Nicolos</span>
                                    </h4>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="testimonial_main">
                                    <p class="mar-bottom-30">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                                    <div class="client-pic"><img src="{% static 'webapp/images/team/member-2.jpg' %}" alt=""></div>
                                    <h4>
                                        <a href="#">John Wakson</a>
                                        <span>CEO Of Micro group</span>
                                    </h4>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="testimonial_main">
                                    <p class="mar-bottom-30">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                                    <div class="client-pic"><img src="{% static 'webapp/images/team/member-3.jpg' %}" alt=""></div>
                                    <h4>
                                        <a href="#">Tim Loran</a>
                                        <span>CEO Of Tim Lake</span>
                                    </h4>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="testimonial_main">
                                    <p class="mar-bottom-30">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                                    <div class="client-pic"><img src="{% static 'webapp/images/team/member-2.jpg' %}" alt=""></div>
                                    <h4>
                                        <a href="#">John Wakson</a>
                                        <span>CEO Of Micro group</span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!--* EndTestimonial*-->


{% endblock %}
