{% extends 'main/base.html' %}
{% load static %}


{% block content %}

    <!-- pagebanner -->
    <section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'images/cc_comp.jpg' %}{% endif %}');">
        <div class="page-title">
            <h2 class="white text-center">About us</h2>
        </div>
    </section>
    <!-- End Pagebanner -->

    <!-- breadcrumb -->
    <div class="breadcrumb-main">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'webapp:home' %}"><i class="fa fa-home"></i></a></li>
                <li class="active">About Us</li>
            </ul>
        </div>
    </div><!-- End breadcrumb -->

    <!--*About*-->
    <section id="mt_about">
        <div class="container">
   
            <div class="about_inner">
                <div class="row">

                    <div class="col-md-6 col-sm-12">
                        <div class="about-content">
                            <span class="mar-bottom-15">About Company</span>
                            <h2 class="mar-bottom-30 custom-h2">We individually assess each <br> plan and offer optimal solutions</h2>
                            <p class="mar-bottom-40 custom-margin">The Confide.Co company was founded in 2008. More than 10 years we
                                do minor and major repairs of any kinds of premises.
                                We have a huge experience, wide range of materials and use only reliable up-to-date
                                technologies.
                                We do only what's necessary. And we do it well.
                                Order a free estimate – test our team in the field!</p>
                            <a href="{% url 'webapp:services' %}" class="btn mt_btn_yellow">Our Services</a>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        {% for main_ser in assessment %}
                        <div class="about-img">
                            <img src="{{ main_ser.image.url }}">
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--*EndAbout*-->

    <!--* Choose Us*-->
    <section id="choose_us" class="choose_us mt_services_process">
        <div class="container">

            <div class="row">
                <div class="col-xs-12">
                    <!-- section title -->
                    <div class="section_heading">
                        <h2 class="section_title">
                            <span>Our Special Services</span>
                        </h2>
                        <p class="heading_txt">The Confide.Co company was founded in 2008.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12 mission-image">
                    <div class="choose-image"><img src="{% static 'images/pic1.png' %}" alt="mission-image"></div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12  wow slideInRight mission-list">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="choose-list mar-bottom-30">
                                <i class="fa fa-users"></i>
                                <h3>Team Of Professional</h3>
                                <p>More than 10 years we do minor and major repairs of any kinds of premises.</p>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="choose-list mar-bottom-30">
                                <i class="fa fa-paint-brush"></i>
                                <h3>Full Of Services</h3>
                                <p>We reliable partner providing top-notch services to meet all your needs.</p>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="choose-list mar-bottom-30">
                                <i class="fa fa-phone"></i>
                                <h3>Support</h3>
                                <p>Our support team is your partner, ready to assist and guide you towards success.</p>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="choose-list mar-bottom-30">
                                <i class="fa fa-cogs"></i>
                                <h3>Unique Technology</h3>
                                <p>We utilize only the most cutting-edge technologies to deliver our services</p>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="choose-list">
                                <i class="fa fa-building"></i>
                                <h3>Attractive Building</h3>
                                <p>Experience innovation and quality like never before with Confide.Co, where form meets function in perfect harmony.</p>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="choose-list">
                                <i class="fa fa-picture-o"></i>
                                <h3>Perfect Interior</h3>
                                <p>We turn your spaces into captivating masterpieces, creating a perfect blend of aesthetics and functionality.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--* End choose us*-->


    <!--* Services*-->
    <section id="mt_services">
        <div class="container wow slideInLeft">
            <div class="row">
                <div class="col-xs-12">
                    <!-- section title -->
                    <div class="section_heading text-left">
                        <h2 class="section_title">
                            <span>Our Best Services</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row slider-services1">
                {% for slider in servis_sliders %}
                    <div class="col-md-4 col-sm-6 col-xs-6">
                        <div class="box text-center">
                            <img src="{{ slider.image.url }}" class="img-fixed-size-two" alt="services-1">
                            <div class="box-content">
                                <h3><a href="{{ slider.link }}">{{ slider.name }}</a></h3>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--* End Services*-->


    <!--*Newsletter*-->
    <div id="newsletter">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="news-content">
                        <h3>ORDER FREE CONSULTATION</h3>
                        <p class="beige"><b><br>WRITE US TODAY FOR A FREE CONSULTATION ON HOW WE CAN HELP YOU ACHIEVE
                            YOUR
                            LIFESTYLE DREAMS.</b></p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="mailpoet_form">
                        <form target="_self" method="post" action="{% url 'webapp:contacts' %}" novalidate="">
                            {% csrf_token %}
                            <input type="text" name="name" placeholder="Your Name">
                            <input type="email" class="mailpoet_text" name="email" title="Email"
                                   placeholder="Please specify your email address.">
                            <input type="text" name="description" placeholder="Description Service">
                            <div class="button">
                                <input type="submit" class="mailpoet_submit" value="Free Quote">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--*End Newsletter*-->


{% endblock %}
