{% extends 'main/commig_footer.html' %}
{% load static %}


{% block content %}

    <!-- pagebanner -->
    <section id="coming">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="coming-main">
                        <div class="coming-content mar-bottom-30">
                            <h1 class="">Coming Soon</h1>

                            <p class="">Follow us for update now!</p>
                        </div>

                        <form>
                            <div class="mailpoet_form">
                                <form target="_self" method="post" action="" novalidate="">
                                    <div class="form-group">
                                        <input type="email" class="mailpoet_text" name="" title="Email" placeholder="Please specify a valid email address.">
                                    </div>    

                                    <div class="button mar-top-30"><input type="submit" class="mailpoet_submit" value="Subscribe!"></div>
                                </form>
                            </div>     
                        </form>

                        <div class="top-bar-right mar-top-30 pad-0">
                            <ul>
                              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                              <li><a href="#"><i class="fa fa-google"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <div class="count-content text-center">
                        <div class="act-counter">
                            <p id="demo"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Pagebanner -->

{% endblock %}
