{% extends 'main/base.html' %}
{% load static %}


{% block content %}

<!-- pagebanner -->
<section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'webapp/images/cc_contact_center.jpg' %}{% endif %}')">
    <div class="page-title">
        <h2 class="white text-center">Contact Us</h2>
    </div>
</section>
<!-- End Pagebanner -->


    <!-- breadcrumb -->
    <div class="breadcrumb-main">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'webapp:home' %}"><i class="fa fa-home"></i></a></li>
                <li class="active">Contact Us</li>
            </ul>
        </div>
    </div><!-- End breadcrumb -->

    <!--* Contact*-->
    <section id="mt_contact" class="contact-main">
        <div class="container">

            <div class="row">
                <div class="col-xs-12 mar-bottom-30">
                    <div class="contact-info text-center">
                        <ul>
                            <li><i class="fa fa-map-marker"></i> WASHINGTON DC.</li>
                            <li><i class="fa fa-phone"></i> +1 (703) 3445671</li>
                            <li><i class="fa fa-envelope"></i> confideco@gmail.com</li>
                            <li><i class="fa fa-globe"></i> www.dchomefix.com</li>
                        </ul>
                    </div>
                </div>


                <div class="col-sm-6 col-xs-12">
                    <!-- Contact Us Map -->
                    <iframe width="100%" height="400" frameborder="0" style="border: 2px solid #000; box-shadow: 0 0 10px rgba(241, 241, 241, 1)"
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA8R7_Rhd8xtER8nCzfy_XvV3nhT0Gj8OA    &amp;q=Alexandria, Arlington+VA"
                            allowfullscreen="">
                    </iframe>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="contact-inner">
                        <div class="contact_form">
                            <form id="contact_form">
                                <div class="form-group">
                                    <input type="text" name="name" id="name" placeholder="Your name" required>
                                </div>

                                <div class="form-group">
                                    <input type="email" name="email" id="email" placeholder="Your email" required>
                                </div>

                                <div class="form-group">
                                    <textarea cols="30" rows="5" name="message" id="message" placeholder="Your message"
                                              required></textarea>
                                </div>
                                <button class="mt_btn_yellow" id="submit-btn">SEND MESSAGE
                                    <span class="mt_load">
                                        <span></span>
                                    </span>
                                </button>
                                <div id="msg"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!--* End Contact*-->

{% endblock %}
