{% extends 'main/base.html' %}
{% load static %}


{% block content %}

    <!-- pagebanner -->
    <section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'webapp/images/cc_contact_center.jpg' %}{% endif %}')">
        <div class="page-title">
            <h2 class="white text-center">Contacts</h2>
        </div>
    </section>
    <!-- End Pagebanner -->


    <!-- breadcrumb -->
    <div class="breadcrumb-main">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'webapp:home' %}"><i class="fa fa-home"></i></a></li>
                <li class="active">Contact Us</li>
            </ul>
        </div>
    </div><!-- End breadcrumb -->

    <!--* Contact*-->
    <section id="mt_services_four" class="contact-main">
        <div class="container">

            <div class="row">
                <div class="col-xs-12 mar-bottom-30">
                    <div class="contact-info text-center">
                        <ul>
                            <li><i class="fa fa-map-marker"></i> WASHINGTON DC.</li>
                            <li><i class="fa fa-phone"></i> <a href="tel:+17033445671">+1 (703) 344-5671</a></li>
                            <li><i class="fa fa-envelope"></i> <a
                                    href="mailto:confideco@gmail.com">confideco@gmail.com</a></li>
                            <li><i class="fa fa-globe"></i> <a href="http://www.dchomefix.com" target="_blank">www.dchomefix.com</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <!-- Contact Us Map -->
                    <iframe class="map-frame" frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA8R7_Rhd8xtER8nCzfy_XvV3nhT0Gj8OA
&amp;q=Alexandria, Arlington+VA" allowfullscreen="">
                    </iframe>
                </div>
            </div>
        </div>
    </section>
    <!--* End Contact*-->

    <!--*Newsletter*-->
    <div id="newsletter">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="news-content">
                        <h3>ORDER FREE CONSULTATION</h3>
                        <p class="beige"><b><br>CALL US TODAY FOR A FREE CONSULTATION ON HOW WE CAN HELP YOU ACHIEVE YOUR
                            LIFESTYLE DREAMS.</b></p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="mailpoet_form">
                        <form target="_self" method="post" action="{% url 'webapp:contacts' %}" novalidate="">
                            {% csrf_token %}
                            <input type="text" name="name" placeholder="Your Name">
                            <input type="email" class="mailpoet_text" name="email" title="Email"
                                   placeholder="Please specify your email address.">
                            <input type="text" name="description" placeholder="Description Service">
                            <div class="button">
                                <input type="submit" class="mailpoet_submit" value="Free Quote">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--*End Newsletter*-->

{% endblock %}
