{% extends 'main/base.html' %}
{% load static %}


{% block content %}

    <!-- pagebanner -->
    <section id="pagebanner_two" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'webapp/images/cc_updates.jpg' %}{% endif %}');">
        <div class="page-title">
            <h2 class="white text-center"></h2>
        </div>
    </section>
    <!-- End Pagebanner -->

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button type="submit">Update Profile</button>
        <a href="{% url 'webapp:my_account' %}" class="btn mt_btn_yellow">Cancel</a>
    </form>



{% endblock %}
