{% extends 'main/base.html' %}
{% load static %}


{% block content %}

    <!-- pagebanner -->
    <section id="pagebanner">
        <div class="page-title">
            <h2 class="white text-center">Error 404</h2>
        </div>
    </section>
    <!-- End Pagebanner -->

    <!-- breadcrumb -->
    <div class="breadcrumb-main">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'webapp:home' %}"><i class="fa fa-home"></i></a></li>
                <li><a href="{% url 'webapp:home' %}">Erorr</a></li>
                <li class="active">Error 404</li>
            </ul>
        </div>
    </div><!-- End breadcrumb -->

    <!--* error Section*=-->
    <section id="error" class="">
        <div class="container">
            <div class="notfound text-center">
                <div class="notfound-404">
                    <div></div>
                    <h1 class="white">404</h1>
                </div>
                <h2 class="text-uppercase">Page not found</h2>
                <p class="mar-top-20">The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
                <a href="{% url 'webapp:home' %}" class="mt_btn_yellow mar-top-20">home page</a>
            </div>
        </div>
    </section>
    <!--* End error Section*=-->

    <!--*Newsletter*-->
    <div id="newsletter">
        <div class="container">
            <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="news-content">
                    <h3>SUBSCRIBE TO OUR NEWSLETTER</h3>
                    <p class="white">Subscribe to our brief newsletter to get exclusive discounts and new theme launches right in your inbox.</p>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="mailpoet_form">
                    <form target="_self" method="post" action="" novalidate="">
                        <input type="email" class="mailpoet_text" name="" title="Email" placeholder="Please specify a valid email address.">

                        <div class="button"><input type="submit" class="mailpoet_submit" value="Subscribe!"></div>
                    </form>
                </div>
            </div>
            </div>
        </div>    
    </div>
    <!--*End Newsletter*-->

{% endblock %}