{% extends 'main/base.html' %}
{% load static %}


{% block content %}

    <!-- pagebanner -->
    <section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'webapp/images/cc_conf_event.jpg' %}{% endif %}');">
        <div class="page-title">
            <h2 class="white text-center">Events</h2>
        </div>
    </section>
    <!-- End Pagebanner -->

    <!-- breadcrumb -->
    <div class="breadcrumb-main">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'webapp:home' %}"><i class="fa fa-home"></i></a></li>
                <li><a href="{% url 'webapp:services' %}">Services</a></li>
                <li class="active">Events</li>
            </ul>
        </div>
    </div><!-- End breadcrumb -->

    <!--* Event*-->
    <section id="event" class="event">

        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <ul id="nav-tabs-wrapper" class="nav nav-tabs nav-pills nav-stacked well">
                        <li class="active"><a href="#vtab1" data-toggle="tab">Janaury</a></li>
                        <li><a href="#vtab2" data-toggle="tab">February</a></li>
                        <li><a href="#vtab3" data-toggle="tab">March</a></li>
                        <li><a href="#vtab4" data-toggle="tab">April</a></li>
                        <li><a href="#vtab5" data-toggle="tab">May</a></li>
                        <li><a href="#vtab6" data-toggle="tab">June</a></li>
                    </ul>
                </div>
                <div class="col-sm-9">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="vtab1">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <div class="event-inner">
                                        <a class="img-box" href="blog-details.html">
                                            <img src="{% static 'webapp/images/project/bw10.jpg' %}" alt="event-img" >
                                        </a>

                                        <div class="event-box-content">
                                            <div class="event-date white">02 <span>JAN</span></div>
                                            <h3><a href="blog-details.html">Metan turbine engineering presentation</a></h3>
                                            <p>
                                                Lorem ipsum dolor sitamet, consectetur adipisicing elito, sed do eiusmod tempor incididunt
                                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, qrem aperiamo ...
                                            </p>
                                            <a class="mt_btn_yellow mar-top-20" href="blog-details.html">Event details </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-xs-12">
                                    <div class="event-inner">
                                        <a class="img-box" href="blog-details.html">
                                            <img src="{% static 'webapp/images/project/bw9.jpg' %}" alt="event-img" >
                                        </a>
                                        <div class="event-box-content">
                                            <div class="event-date white">02 <span>JAN</span></div>
                                            <h3><a href="blog-details.html">Metan turbine engineering presentation</a></h3>
                                            <p>
                                                Lorem ipsum dolor sitamet, consectetur adipisicing elito, sed do eiusmod tempor incididunt
                                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, qrem aperiamo ...
                                            </p>
                                            <a class="mt_btn_yellow mar-top-20" href="blog-details.html">Event details </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="vtab2">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <div class="event-inner">
                                        <a class="img-box" href="blog-details.html">
                                            <img src="{% static 'webapp/images/project/bw8.jpg' %}" alt="event-img" >
                                        </a>

                                        <div class="event-box-content">
                                            <div class="event-date white">02 <span>JAN</span></div>
                                            <h3><a href="blog-details.html">Metan turbine engineering presentation</a></h3>
                                            <p>
                                                Lorem ipsum dolor sitamet, consectetur adipisicing elito, sed do eiusmod tempor incididunt
                                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, qrem aperiamo ...
                                            </p>
                                            <a class="mt_btn_yellow mar-top-20" href="blog-details.html">Event details </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-xs-12">
                                    <div class="event-inner">
                                        <a class="img-box" href="blog-details.html">
                                            <img src="{% static 'webapp/images/project/bw7.jpg' %}" alt="event-img" >
                                        </a>
                                        <div class="event-box-content">
                                            <div class="event-date white">02 <span>JAN</span></div>
                                            <h3><a href="blog-details.html">Metan turbine engineering presentation</a></h3>
                                            <p>
                                                Lorem ipsum dolor sitamet, consectetur adipisicing elito, sed do eiusmod tempor incididunt
                                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, qrem aperiamo ...
                                            </p>
                                            <a class="mt_btn_yellow mar-top-20" href="blog-details.html">Event details </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="vtab3">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <div class="event-inner">
                                        <a class="img-box" href="blog-details.html">
                                            <img src="{% static 'webapp/images/project/bw6.jpg' %}" alt="event-img" >
                                        </a>

                                        <div class="event-box-content">
                                            <div class="event-date white">02 <span>JAN</span></div>
                                            <h3><a href="blog-details.html">Metan turbine engineering presentation</a></h3>
                                            <p>
                                                Lorem ipsum dolor sitamet, consectetur adipisicing elito, sed do eiusmod tempor incididunt
                                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, qrem aperiamo ...
                                            </p>
                                            <a class="mt_btn_yellow mar-top-20" href="blog-details.html">Event details </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-xs-12">
                                    <div class="event-inner">
                                        <a class="img-box" href="blog-details.html">
                                            <img src="{% static 'webapp/images/project/bw5.jpg' %}" alt="event-img" >
                                        </a>
                                        <div class="event-box-content">
                                            <div class="event-date white">02 <span>JAN</span></div>
                                            <h3><a href="blog-details.html">Metan turbine engineering presentation</a></h3>
                                            <p>
                                                Lorem ipsum dolor sitamet, consectetur adipisicing elito, sed do eiusmod tempor incididunt
                                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, qrem aperiamo ...
                                            </p>
                                            <a class="mt_btn_yellow mar-top-20" href="blog-details.html">Event details </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!--* End event*-->

    <!--*Newsletter*-->
    <div id="newsletter">
        <div class="container">
            <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="news-content">
                    <h3>SUBSCRIBE TO OUR NEWSLETTER</h3>
                    <p class="white">Subscribe to our brief newsletter to get exclusive discounts and new theme launches right in your inbox.</p>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="mailpoet_form">
                    <form target="_self" method="post" action="" novalidate="">
                        <input type="email" class="mailpoet_text" name="" title="Email" placeholder="Please specify a valid email address.">

                        <div class="button"><input type="submit" class="mailpoet_submit" value="Subscribe!"></div>
                    </form>
                </div>
            </div>
            </div>
        </div>    
    </div>
    <!--*End Newsletter*-->

{% endblock %}
