{% extends 'main/base.html' %}
{% load static %}


{% block content %}

    {% include 'slider/slider_main.html' %}

    <!--* Services*-->
    <section id="mt_services" class="wow slideInLeft">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!-- section title -->
                    <div class="section_heading">
                        <h2 class="section_title">
                            <span>OUR SERVICES</span>
                        </h2>
                        <p class="heading_txt">We offer a range of services in the field of repair and construction.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for main_serv in serv|slice:":8" %}
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="box mar-bottom-30 text-center">
                            <img src="{{ main_serv.image.url }}" class="img-fixed-size">
                            <div class="box-content">
                                <h3><a href="{{ main_serv.link }}">{{ main_serv.name }}</a></h3>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:4 %} {# Закрываем текущий ряд после каждой третьей модели #}
                        </div>
                        <div class="row">
                    {% endif %}
                {% endfor %}
                </div>
        </div>
    </section>
    <!--* End Services*-->

    <!--* Choose Us*-->
    <section id="choose_us" class="about_choose_us">
        <div class="container">

            <div class="row">
                <div class="col-xs-12">
                    <!-- section title -->
                    <div class="section_heading">
                        <h2 class="section_title">
                            <span>Why Choose us?</span>
                        </h2>
                        <p class="heading_txt">There are variations available majoritaey suffered alteration words which
                            look believable
                            dolor sit amet consectetuer adipiscing elit suspendisse justdo structure versions.</p>
                    </div>
                </div>
            </div>

            <div class="row ">
                <div class="col-md-5 col-sm-12 col-xs-12 mission-image">
                    <img src="{% static 'webapp/images/pic1.png' %}" alt="mission-image">
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12 mission-list">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="choose-list mar-bottom-30">
                                <i class="fa fa-users"></i>
                                <h3>Team Of Professional</h3>
                                <p>Dolor sit amet consectetuer adipiscing elit suspendisse justdo structure
                                    versions.</p>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="choose-list mar-bottom-30">
                                <i class="fa fa-paint-brush"></i>
                                <h3>Full Of Services</h3>
                                <p>Dolor sit amet consectetuer adipiscing elit suspendisse justdo structure
                                    versions.</p>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="choose-list mar-bottom-30">
                                <i class="fa fa-phone"></i>
                                <h3>27/7 Support</h3>
                                <p>Dolor sit amet consectetuer adipiscing elit suspendisse justdo structure
                                    versions.</p>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="choose-list mar-bottom-30">
                                <i class="fa fa-cogs"></i>
                                <h3>Unique Technology</h3>
                                <p>Dolor sit amet consectetuer adipiscing elit suspendisse justdo structure
                                    versions.</p>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="choose-list">
                                <i class="fa fa-building"></i>
                                <h3>Attractive Building</h3>
                                <p>Dolor sit amet consectetuer adipiscing elit suspendisse justdo structure
                                    versions.</p>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="choose-list">
                                <i class="fa fa-picture-o"></i>
                                <h3>Perfect Interior</h3>
                                <p>Dolor sit amet consectetuer adipiscing elit suspendisse justdo structure
                                    versions.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--* End choose us*-->

    <!--* Slider Services*-->
    <section id="mt_services" class="services_one">
        <div class="container">
            <div class="services-detail mar-bottom-80">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <span class="page-title mar-bottom-15">Confide Construction</span>
                        <h2 class="mar-bottom-15">We individually assess each <br> plan and offer optimal solutions</h2>
                        <p class="mar-bottom-15">Each project undergoes a meticulous assessment,
                            <br>enabling us to deliver the most efficient and effective solutions tailored to your specific requirements.</p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="slider-services">
                            {% for slider in servis_slider %}
                                <div><img src="{{ slider.image.url }}" class="img-fixed-size-two" alt="{{ main_slider.name }}"><h3>{{ slider.name }}</h3></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--* End Slider Services*-->

    <!--* Portfolio*-->
    <section id="mt_project" class="">
        <div class="container wow slideInDown">

            <div class="row">
                <div class="col-xs-12">
                    <!-- section title -->
                    <div class="section_heading">
                        <h2 class="section_title">
                            <span>Fascinating projects</span>
                        </h2>
                        <p class="heading_txt">Discover our array of projects that exemplify our dedication to quality and innovation.</p>
                    </div>
                </div>
            </div>

            <div class="project_list">
                <div class="row">
                    {% for project in project_constract %}
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="project-image">
                                <a href="{{ project.image.url }}" data-toggle="lightbox"
                                   data-footer="{{ project.description }}" data-gallery="example-gallery">
                                    <img src="{{ project.image.url }}" class="img-fluid">
                                    <div class="project-overlay text-center">
                                        <h3 class="text-center white">{{ project.title }}</h3>
                                        <p class="white">{{ project.description }}</p>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="project-image">
                                <a href="{{ project.image.url }}" data-toggle="lightbox"
                                   data-footer="{{ project.description }}" data-gallery="example-gallery">
                                    <img src="{{ project.image.url }}" class="img-fluid">
                                    <div class="project-overlay text-center">
                                        <h3 class="text-center white">{{ project.title }}</h3>
                                        <p class="white">{{ project.description }}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!--* End Portfolio*-->


    <!--=* Get Started Section*=-->
    <section id="mt_get_started">
        <div class="container">
            <div class="watch_inner">
                <img src="{% static 'webapp/images/watch_inner.jpg' %}" alt="">
                <div class="watch_content">
                    <h3 class="white">We Build, Your Dream</h3>
                    <h2 class="white">Quality Comes First</h2>
                    <p>To develop a financial strategy for your future, it's important for your financial professional
                        to see a complete, 360-degree view of your financial picture, including how your retirement
                        assets are intadfegrated and work with one another.</p>
                    <a href="#" class="btn mt_btn_yellow mar-top-30">View Work Process</a>
                </div>
                <div class="pulses">
                    <button type="button" class="play-btn js-video-button" data-video-id='152879427'
                            data-channel="vimeo"><i class="fa fa-play"></i></button>
                </div>
            </div>
        </div>
    </section>
    <!--* End Get Started Section*-->


    <!--*Team*-->
    <section id="const-team">
        <div class="container wow slideInDown">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <!-- section title -->
                    <div class="section_heading">
                        <h2 class="section_title">
                            <span>Our Expert Team Members</span>
                        </h2>
                        <p class="heading_txt">There are variations available majoritaey suffered alteration words which
                            look believable
                            dolor sit amet consectetuer adipiscing elit suspendisse justdo structure versions.</p>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="row slider-team">
                        <div class="col-md-4 item">
                            <div class="team_member">
                                <figure class="effect-julia">
                                    <img src="{% static 'webapp/images/team/team1.png' %}" alt="team">
                                </figure>
                                <div class="member_name">
                                    <h4 class="white">Monica Wagase</h4>
                                    <span>Camical officer</span>
                                </div>
                                <div class="team-overlay">
                                    <ul class="socialicons">
                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 item">
                            <div class="team_member">
                                <figure class="effect-julia">
                                    <img src="{% static 'webapp/images/team/team2.png' %}" alt="team">

                                </figure>
                                <div class="member_name">
                                    <h4 class="white">Jhoseph Low</h4>
                                    <span>Interior Designer</span>
                                </div>
                                <div class="team-overlay">
                                    <ul class="socialicons">
                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 item">
                            <div class="team_member">
                                <figure class="effect-julia">
                                    <img src="{% static 'webapp/images/team/team3.png' %}" alt="team">

                                </figure>
                                <div class="member_name">
                                    <h4 class="white">Jhon Doe</h4>
                                    <span>Building Worker</span>
                                </div>
                                <div class="team-overlay">
                                    <ul class="socialicons">
                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 item">
                            <div class="team_member">
                                <figure class="effect-julia">
                                    <img src="{% static 'webapp/images/team/team4.png' %}" alt="team">

                                </figure>
                                <div class="member_name">
                                    <h4 class="white">JHON DOE</h4>
                                    <span>Building Worker</span>
                                </div>
                                <div class="team-overlay">
                                    <ul class="socialicons">
                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--* End Team*-->


    <!--* Testimonial*-->
    <section id="mt_faq-testi">
        <div class="container wow slideInDown">

            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <!-- section title -->
                    <div class="section_heading">
                        <h2 class="section_title">
                            <span>Frequemtly Asked Question</span>
                        </h2>
                        <p class="heading_txt">There are variations available majoritaey suffered alteration words which
                            look believable
                            dolor sit.</p>
                    </div>

                    <div class="accrodion-grp faq-accrodion" data-grp-name="faq-accrodion">
                        <div class="accrodion active">
                            <div class="accrodion-title">
                                <h4>Lorem ipsum dolor sit amet</h4>
                            </div>
                            <div class="accrodion-content" style="display: block;">
                                <div class="inner">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque
                                        veniam, praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit
                                        voluptatem.</p>
                                </div><!-- /.inner -->
                            </div>
                        </div>
                        <div class="accrodion ">
                            <div class="accrodion-title">
                                <h4>Dolor sit amet, consectetuer adipiscing elit</h4>
                            </div>
                            <div class="accrodion-content" style="display: none;">
                                <div class="inner">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque
                                        veniam, praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit
                                        voluptatem.</p>
                                </div><!-- /.inner -->
                            </div>
                        </div>
                        <div class="accrodion">
                            <div class="accrodion-title">
                                <h4>Sed diam nonummy nibh euismod</h4>
                            </div>
                            <div class="accrodion-content" style="display: none;">
                                <div class="inner">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque
                                        veniam, praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit
                                        voluptatem.</p>
                                </div><!-- /.inner -->
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-sm-6 col-xs-12">
                    <div class="mt_testimonial">
                        <!-- section title -->
                        <div class="section_heading">
                            <h2 class="section_title">
                                <span>What Say Our Client</span>
                            </h2>
                            <p class="heading_txt">There are variations available majoritaey suffered alteration words
                                which look believable
                                dolor sit.</p>
                        </div>

                        <div class="row slider-testi">
                            <div class="col-xs-12">
                                <div class="testimonial_main">
                                    <p class="mar-bottom-30">It is a long established fact that a reader will be
                                        distracted by the readable content of a page when looking at its layout. The
                                        point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                                    <div class="client-pic"><img src="{% static 'webapp/images/team/member-1.jpg' %}"
                                                                 alt=""></div>
                                    <h4>
                                        <a href="#">Christopher Daniel</a>
                                        <span>MD of Nicolos</span>
                                    </h4>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="testimonial_main">
                                    <p class="mar-bottom-30">It is a long established fact that a reader will be
                                        distracted by the readable content of a page when looking at its layout. The
                                        point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                                    <div class="client-pic"><img src="{% static 'webapp/images/team/member-2.jpg' %}"
                                                                 alt=""></div>
                                    <h4>
                                        <a href="#">John Wakson</a>
                                        <span>CEO Of Micro group</span>
                                    </h4>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="testimonial_main">
                                    <p class="mar-bottom-30">It is a long established fact that a reader will be
                                        distracted by the readable content of a page when looking at its layout. The
                                        point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                                    <div class="client-pic"><img src="{% static 'webapp/images/team/member-3.jpg' %}"
                                                                 alt=""></div>
                                    <h4>
                                        <a href="#">Tim Loran</a>
                                        <span>CEO Of Tim Lake</span>
                                    </h4>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="testimonial_main">
                                    <p class="mar-bottom-30">It is a long established fact that a reader will be
                                        distracted by the readable content of a page when looking at its layout. The
                                        point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                                    <div class="client-pic"><img src="{% static 'webapp/images/team/member-2.jpg' %}"
                                                                 alt=""></div>
                                    <h4>
                                        <a href="#">John Wakson</a>
                                        <span>CEO Of Micro group</span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!--* EndTestimonial*-->


    <!--* Blog*-->
    <section id="mt_blog" class="light-bg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!-- section title -->
                    <div class="section_heading">
                        <h2 class="section_title">
                            <span>Latest Blog</span>
                        </h2>
                        <p class="heading_txt">There are variations available majoritaey suffered alteration words which
                            look believable
                            dolor sit amet consectetuer adipiscing elit suspendisse justdo structure versions.</p>
                    </div>
                </div>
            </div>
            <div class="blog_post_inner">
                <div class="row">
                    <div class="col-md-4 col-sm-12 wow slideInDown" data-wow-delay=".2s">
                        <div class="blog-post-inner_wrapper">
                            <div class="blog-post-image">
                                <div class="blog_cat">Innovation</div>
                                <div class="img">
                                    <img src="{% static 'webapp/images/blog-listing/blog_08.jpg' %}" alt="image"/>
                                </div>
                            </div>
                            <div class="post-detail_container">
                                <div class="post-content">
                                    <p class="post-date text-uppercase mar-bottom-10"><a href="#"><i
                                            class="fa fa-calendar"></i> Mon, 03-09-2019</a></p>
                                    <h3 class="post-title text-uppercase">
                                        <a href="blog-details.html">Established fact </a>
                                    </h3>
                                    <p class="post-excerpt"> Sed ut perspiciatis unde omnis iste natus erro sit
                                        voluiptatem accusantium doloremque ips totam quae ab illo inventore. </p>
                                </div>
                                <div class="post-author">
                                    <span class="pull-left author-list">
                                        <img src="{% static 'webapp/images/team/member-1.jpg' %}" alt="author"> <a
                                            href="#">Jack Nelson</a>
                                    </span>
                                    <span class="pull-right comments-list pad-top-5">
                                        <i class="fa fa-comment"></i> <a href="#">Comments(5)</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 wow slideInDown" data-wow-delay=".2s">
                        <div class="blog-post-inner_wrapper">
                            <div class="blog-post-image">
                                <div class="blog_cat">Structure</div>
                                <div class="img">
                                    <img src="{% static 'webapp/images/blog-listing/blog_09.jpg' %}" alt="image"/>
                                </div>
                            </div>
                            <div class="post-detail_container">
                                <div class="post-content">
                                    <p class="post-date text-uppercase mar-bottom-10"><a href="#"><i
                                            class="fa fa-calendar"></i> Mon, 03-09-2019</a></p>
                                    <h3 class="post-title text-uppercase">
                                        <a href="blog-details.html">Established fact </a>
                                    </h3>
                                    <p class="post-excerpt"> Sed ut perspiciatis unde omnis iste natus erro sit
                                        voluiptatem accusantium doloremque ips totam quae ab illo inventore. </p>
                                </div>
                                <div class="post-author">
                                    <span class="pull-left author-list">
                                        <img src="{% static 'webapp/images/team/member-1.jpg' %}" alt="author"> <a
                                            href="#">Jack Nelson</a>
                                    </span>
                                    <span class="pull-right comments-list pad-top-5">
                                        <i class="fa fa-comment"></i> <a href="#">Comments(5)</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 wow slideInDown" data-wow-delay=".2s">
                        <div class="blog-post-inner_wrapper">
                            <div class="blog-post-image">
                                <div class="blog_cat">Design</div>
                                <div class="img">
                                    <img src="{% static 'webapp/images/blog-listing/blog_10.jpg' %}" alt="image"/>
                                </div>
                            </div>
                            <div class="post-detail_container">
                                <div class="post-content">
                                    <p class="post-date text-uppercase mar-bottom-10"><a href="#"><i
                                            class="fa fa-calendar"></i> Mon, 03-09-2019</a></p>
                                    <h3 class="post-title text-uppercase">
                                        <a href="blog-details.html">Established fact </a>
                                    </h3>
                                    <p class="post-excerpt"> Sed ut perspiciatis unde omnis iste natus erro sit
                                        voluiptatem accusantium doloremque ips totam quae ab illo inventore. </p>
                                </div>
                                <div class="post-author">
                                    <span class="pull-left author-list">
                                        <img src="{% static 'webapp/images/team/member-1.jpg' %}" alt="author"> <a
                                            href="#">Jack Nelson</a>
                                    </span>
                                    <span class="pull-right comments-list pad-top-5">
                                        <i class="fa fa-comment"></i> <a href="#">Comments(5)</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--* End Blog*-->

    <!--* Partner*-->
    <section id="mt_partner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!-- section title -->
                    <div class="section_heading">
                        <h2 class="section_title">
                            <span>Our Partner</span>
                        </h2>
                        <p class="heading_txt">There are variations available majoritaey suffered alteration words which
                            look believable
                            dolor sit amet consectetuer adipiscing elit suspendisse justdo structure versions.</p>
                    </div>
                </div>
            </div>

            <div class="row slider-partner">
                {% for recomended in company %}
                    <div class="col-sm-2">
                        <img src="{{ recomended.image.url }}" class="img-fixed-size-three" alt="partner">
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--* End partner*-->

{% endblock %}
