{% extends 'main/base.html' %}
{% load static %}


{% block content %}

    <div class="slider-container">
        {% include 'slider/slider_main.html' %}
    </div>

    <div class="slider-mobile">
        {% include 'slider/mobile_slider.html' %}
    </div>

    <!--* Category *-->
    <section id="mt_services" class="services_two">
        <div class="container">

            <div class="row">
                <div class="col-xs-12">
                    <!-- section title -->
                    <div class="section_heading">
                        <h2 class="section_title">
                            <span><i class="fa fa-star-o"></i> Browse by category</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    {% for category in categories %}
                        <div class="col-md-2 col-sm-6 col-xs-6">
                            <div class="box box-categories text-center transparent-background">
                                <div class="box-content">
                                    <a href="{% url 'webapp:category_detail' category.slug %}"
                                       class="category-link"><img src="{{ category.image.url }}" alt="{{ category.name }}"></a>
                                </div>
                            </div>
                            <div class="text-left">
                                <a href="{% url 'webapp:category_detail' category.slug %}"
                                   class="category-link">
                                    <p>{{ category.name }}</p>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!--* End Category *-->

    <!--* We INSTALL and SELL waste disposal units buy NOW*-->
    <section id="mt_services">
        <div class="container wow slideInRight">
            <div class="row">
                <div class="col-xs-12 mar-bottom-30">
                    <div class="contact-info text-center slide-in">
                        <ul>
                            <a href="https://dchomefix.co/services/disposal"><h2>We INSTALL and SELL waste disposal units buy NOW <i class="fa fa-get-pocket"></i></h2></a>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <div class="main_disposal">
                        <a href="https://dchomefix.co/services/disposal"><img src="{% static 'images/confide_disposal.png' %}"
                                class="img-fixed-size-for-disposal-main" loading="lazy">
                        </a>
                    </div>
                    <a href="https://dchomefix.co/services/disposal" class="mt_btn_yellow">Get to service</a>
                </div>
            </div>
        </div>
    </section>
    <!--* End We INSTALL and SELL waste disposal units buy NOW*-->

    <!--*Ceiling fan*-->
    <section id="mt_about">
        <div class="container wow slideInLeft">
            <div class="contact-info-two description slide-in">
                <ul>
                    <h2>We offer a wide range of services <i
                            class="fa fa-star-half-empty"></i></h2>
                </ul>
            </div>
            <div class="about_inner">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="about-img">
                            <a href="https://dchomefix.co/services/ceiling-fan/">
                            <img src="{% static 'images/cc_ceiling_fan_two.png' %}" alt="TV Mount Image">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="about-content">
                            <span class="mar-bottom-15">Ceiling Fan</span>
                            <h2 class="mar-bottom-30 custom-h2">Choose your own Ceiling Fan <br> Select an individual plan
                            </h2>
                            <h5 class="mar-bottom-40 custom-margin">Book a free consultation or pay now. Click to
                                Get  <i class="fa fa-get-pocket"></i></h5>
                            <div class="text-right mt-3">
                                <a href="https://dchomefix.co/services/ceiling-fan/" class="btn mt_btn_yellow">Get to service ></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--*End Ceiling fan*-->

    <!--*Tv Mount*-->
    <section id="mt_about">
        <div class="container wow slideInRight">
            <div class="about_inner">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="about-content about-content-two">
                            <span class="mar-bottom-15">TV Mount</span>
                            <h2 class="mar-bottom-30 custom-h2">Approach to each client <br> Select an individual plan
                            </h2>
                            <h5 class="mar-bottom-40 custom-margin">Book a free consultation or pay now
                                Click to Get  <i class="fa fa-get-pocket"></i></h5>
                            <a href="https://dchomefix.co/services/tv-mount/" class="btn mt_btn_yellow">Get to service ></a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="about-img">
                            <a href="https://dchomefix.co/services/tv-mount/">
                                <img src="{% static 'images/tv_mount_banner.png' %}" alt="TV Mount Service">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--*End Tv Mount*-->

    <!--* Products*-->
    <section id="mt_services_prod">
        <div class="container wow slideInLeft">
            <div class="row">
                <div class="col-xs-12">
                    <!-- Section title -->
                    <div class="section_heading">
                        <h2 class="section_title">
                            <span>Most Popular Projects</span>
                        </h2>
                        <p class="heading_txt">We offer a range of projects in the field of repair and construction.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for main_product in product|slice:":8" %}
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="box mar-bottom-30 text-center text_products">
                            {% if main_product.image %}
                                <a href="{% url 'webapp:services_with_slug' main_product.slug %}">
                                <img src="{{ main_product.image.url }}" class="img-fixed-size"
                                     alt="{{ main_product.name }}">
                                </a>
                            {% else %}
                                <a href="{% url 'webapp:services_with_slug' main_product.slug %}">
                                <img src="{% static 'images/cc_hacker.jpg' %}" class="img-fixed-size"
                                     alt="Default product image">
                                </a>
                            {% endif %}
                            <div class="box-content">
                                <h3>
                                    <a href="{% url 'webapp:services_with_slug' main_product.slug %}">{{ main_product.name }}</a>
                                </h3>
                                <span class="price">${{ main_product.discount }}</span>
                            </div>
                        </div>
                    </div>

                    {% if forloop.counter|divisibleby:4 and not forloop.last %}
                        </div>
                        <div class="row">
                    {% endif %}
                {% endfor %}
                </div>
        </div>
    </section>
    <!--* End Products*-->

    <!--* Improvement or Service *-->
    <section id="mt_services" class="services_two">
        <div class="container">
            <div class="service-pro-search">
                <h4 class="service-pro-title">Are You a Home Improvement or Service Pro?</h4>
                <form action="/learn-more" method="GET" class="service-pro-form">
                    <p><i>Find out how ConfideConstruction can help your business.</i></p>
                    <button type="submit" class="service-pro-button">Learn More</button>
                </form>
            </div>
        </div>
    </section>
    <!--* End Improvement or Service *-->


{% endblock %}
