{% extends 'main/base.html' %}
{% load static %}


{% block content %}

    <!-- pagebanner -->
    <section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'webapp/images/cc_account.jpg' %}{% endif %}');">
        <div class="page-title">
            <h2 class="white text-center">My Account</h2>
        </div>
    </section>
    <!-- End Pagebanner -->

    <!-- breadcrumb -->
    <div class="breadcrumb-main">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'webapp:home' %}"><i class="fa fa-home"></i></a></li>
                <li><a href="{% url 'webapp:services' %}">Shop</a></li>
                <li class="active">My Account</li>
            </ul>
        </div>
    </div><!-- End breadcrumb -->
    
    <!-- checkout -->
    <section id="checkout-main" class="checkout-main section-padding">
        <div class="container">
            <div class="checkout-inner">
                <div class="checkout-coupon mar-bottom-30">Have a coupon? <a href="#" class="showcoupon">Click here to
                    enter your code</a></div>

                <div class="checkout-info">
                    <h3 class="mar-bottom-20">Account details</h3>
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <div class="checkout-billing">
                                <form method="post" action="{% url 'webapp:my_account' %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label>First Name: <abbr class="required"
                                                                         title="required">*</abbr></label>
                                                <input type="text" name="first_name" class="form-control"
                                                       value="{{ user_profile.first_name }}">
                                            </div>
                                        </div>

                                        {% if user_profile %}
                                            <p>First Name: {{ user_profile.first_name }}</p>
                                            <p>Last Name: {{ user_profile.last_name }}</p>
                                            <p>Email: {{ user_profile.email }}</p>
                                            <!-- Другие поля профиля -->
                                        {% else %}
                                            <p>No profile found for this user.</p>
                                        {% endif %}


                                        {% for photo in photos %}
                                            <div class="col-md-3 col-sm-4 col-xs-6">
                                                <img src="{{ photo.image.url }}" alt="User Photo"
                                                     class="img-responsive">
                                            </div>
                                        {% endfor %}

                                        <form method="post" action="{% url 'webapp:my_account' %}"
                                              enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <input type="file" name="image">
                                            <button type="submit">Upload Photo</button>
                                        </form>


                                        <div class="col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label>Last Name: <abbr class="required"
                                                                        title="required">*</abbr></label>
                                                <input type="text" name="last_name" class="form-control"
                                                       value="{{ user_profile.last_name }}">
                                            </div>
                                        </div>

                                        <!-- Остальные поля формы могут быть заполнены аналогичным образом -->

                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label>Email Address: <abbr class="required"
                                                                            title="required">*</abbr></label>
                                                <input type="text" name="email" class="form-control"
                                                       value="{{ user_profile.email }}">
                                            </div>
                                        </div>

                                        <!-- Другие поля формы -->
                                    </div>
                                    <button class="mt_btn_yellow" type="submit">Update Profile</button>
                                </form>
                            </div>
                        </div>
                        <!-- Остальная часть формы -->
                    </div>
                </div>


                <div class="checkout-order">
                    <h3 class="mar-bottom-40">History</h3>
                    <div class="order-list">
                        <table class="shop_table rt-checkout-review-order-table">
                            <thead>
                            <tr>
                                <th class="product-name">Product</th>
                                <th class="product-total">Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="cart_item">
                                <td class="product-name">
                                    Blue Dress&nbsp; <strong class="product-quantity">× 1</strong></td>
                                <td class="product-total">
                                    <span class="rt-Price-amount"><span>$</span>329.00</span>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>

                            <tr class="cart-subtotal">
                                <th>Subtotal</th>
                                <td><span class="rt-Price-amount"><span>$</span>329.00</span>
                                </td>
                            </tr>

                            <tr class="rt-shipping-totals shipping">
                                <th>Shipping</th>
                                <td data-title="Shipping">
                                    Enter your address to view shipping options.
                                </td>
                            </tr>

                            <tr class="order-total">
                                <th>Total</th>
                                <td><strong><span class="rt-Price-amount"><span>$</span>329.00</span></strong></td>
                            </tr>

                            </tfoot>
                        </table>
                    </div>
                </div>

                <div class="checkout-place-order">
                    <p>Your personal data will be used to process your order, support your experience throughout this
                        website, and for other purposes described in our <a href="#">privacy policy</a>.
                    </p>

                    <button type="submit" class="btn mt_btn_yellow">Place order</button>
                </div>
            </div>
        </div>
    </section>
    <!-- End checkout -->


    <!--*Newsletter*-->
    <div id="newsletter">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="news-content">
                        <h3>ORDER FREE CONSULTATION</h3>
                        <p class="beige"><b>CALL US TODAY FOR A FREE CONSULTATION ON HOW WE CAN HELP YOU ACHIEVE YOUR
                            LIFESTYLE DREAMS.</b></p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="mailpoet_form">
                        <form target="_self" method="post" action="" novalidate="">
                            <input type="text" name="name" placeholder="Your Name">
                            <input type="email" class="mailpoet_text" name="email" title="Email"
                                   placeholder="Please specify your email address.">
                            <input type="text" name="description" placeholder="Description Service">
                            <div class="button">
                                <input type="submit" class="mailpoet_submit" value="Free Quote">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--*End Newsletter*-->

{% endblock %}