{% extends 'main/base.html' %}
{% load static %}


{% block content %}

    <!-- pagebanner -->
    <section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'webapp/images/cc_account.jpg' %}{% endif %}');">
        <div class="page-title">
            <h2 class="white text-center">My Account</h2>
        </div>
    </section>
    <!-- End Pagebanner -->

    <!-- breadcrumb -->
    <div class="breadcrumb-main">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'webapp:home' %}"><i class="fa fa-home"></i></a></li>
                <li><a href="{% url 'webapp:services' %}">Shop</a></li>
                <li class="active">My Account</li>
            </ul>
        </div>
    </div><!-- End breadcrumb -->

    <!-- checkout -->
    <section id="checkout-main" class="checkout-main section-padding">
        <div class="container">
            <div class="checkout-inner">
                <div class="checkout-info">
                    <h3 class="mar-bottom-20">Account details</h3>
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        {% if user.profile.profile_pic %}
                                            <img src="{{ profile.profile_pic.url }}" height=100 width=100><br>
                                        {% else %}
                                            <br><img src="{% static 'webapp/images/cc_hacker.jpg' %}" height=100
                                                     width=100><br><br>
                                        {% endif %}
                                        <label style="font-family: 'Poppins', sans-serif; font-size: 17px;">User
                                            Name: </label>
                                        <input type="text" name="first_name" class="form-control"
                                               value="{{ profile.user }}"
                                               style="font-family: 'Poppins', sans-serif; font-size: 15px;"><br>
                                        <label style="font-family: 'Poppins', sans-serif; font-size: 17px;">First
                                            Name: </label>
                                        <input type="text" name="first_name" class="form-control"
                                               value="{{ profile.first_name }}"
                                               style="font-family: 'Poppins', sans-serif; font-size: 15px;"><br>
                                        <label style="font-family: 'Poppins', sans-serif; font-size: 17px;">Last
                                            Name: </label>
                                        <input type="text" name="first_name" class="form-control"
                                               value="{{ profile.last_name }}"
                                               style="font-family: 'Poppins', sans-serif; font-size: 15px;"><br>
                                        <label style="font-family: 'Poppins', sans-serif; font-size: 17px;">Email
                                            Address:</label>
                                        <input type="text" name="first_name" class="form-control"
                                               value="{{ profile.email }}"
                                               style="font-family: 'Poppins', sans-serif; font-size: 15px;"><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End checkout -->



{#      {% if user.id == profile.user.id %}#}
{#      <a href="{% url 'webapp:create_user_profile' profile.id %}"><button class="button">Edit</button></a>#}
{#      {% endif %}#}


    <!--*Newsletter*-->
    <div id="newsletter">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="news-content">
                        <h3>ORDER FREE CONSULTATION</h3>
                        <p class="beige"><b>CALL US TODAY FOR A FREE CONSULTATION ON HOW WE CAN HELP YOU ACHIEVE YOUR
                            LIFESTYLE DREAMS.</b></p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="mailpoet_form">
                        <form target="_self" method="post" action="" novalidate="">
                            <input type="text" name="name" placeholder="Your Name">
                            <input type="email" class="mailpoet_text" name="email" title="Email"
                                   placeholder="Please specify your email address.">
                            <input type="text" name="description" placeholder="Description Service">
                            <div class="button">
                                <input type="submit" class="mailpoet_submit" value="Free Quote">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--*End Newsletter*-->




{% endblock %}