{% extends 'main/base.html' %}
{% load static %}


{% block content %}

    <!-- pagebanner -->
    <section id="pagebanner">
        <div class="page-title">
            <h2 class="white text-center">Services</h2>
        </div>
    </section>
    <!-- End Pagebanner -->

    <!-- breadcrumb -->
    <div class="breadcrumb-main">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="index.html"><i class="fa fa-home"></i></a></li>
                <li><a href="index.html">Pages</a></li>
                <li class="active">Services</li>
            </ul>
        </div>
    </div><!-- End breadcrumb -->

    <!--* Services*-->
    <section id="mt_services" class="services_one">
        <div class="container">

            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="box mar-bottom-30 text-center">
                        <img src="{% static 'webapp/images/blog-listing/blog_01.jpg' %}" alt="services-1">
                        <div class="box-content">
                            <h3><a href="#">Mechanical Engineering</a></h3>
                            <p>Excepteur sint occaecat cupi datat non proi dent, sunt in culpa qui off icia..</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="box mar-bottom-30 text-center">
                        <img src="{% static 'webapp/images/blog-listing/blog_13.jpg' %}" alt="services-2">
                        <div class="box-content">
                            <h3><a href="#">Pharmaceutical Research</a></h3>
                            <p>Excepteur sint occaecat cupi datat non proi dent, sunt in culpa qui off icia..</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="box mar-bottom-30 text-center">
                        <img src="{% static 'webapp/images/blog-listing/blog_10.jpg' %}" alt="services-3">
                        <div class="box-content">
                            <h3><a href="#">Asbestos Remediation</a></h3>
                            <p>Excepteur sint occaecat cupi datat non proi dent, sunt in culpa qui off icia..</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="box mar-bottom-30 text-center">
                        <img src="{% static 'webapp/images/blog-listing/blog_11.jpg' %}" alt="services-4">
                        <div class="box-content">
                            <h3><a href="#">Petroleum and Gas</a></h3>
                            <p>Excepteur sint occaecat cupi datat non proi dent, sunt in culpa qui off icia..</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="box mar-bottom-30 text-center">
                        <img src="{% static 'webapp/images/blog-listing/blog_14.jpg' %}" alt="services-5">
                        <div class="box-content">
                            <h3><a href="#">Industrial Cleaning Services</a></h3>
                            <p>Excepteur sint occaecat cupi datat non proi dent, sunt in culpa qui off icia..</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="box mar-bottom-30 text-center">
                        <img src="{% static 'webapp/images/blog-listing/blog_12.jpg' %}" alt="services-6">
                        <div class="box-content">                              
                            <h3><a href="#">Painting and Protective</a></h3>
                            <p>Excepteur sint occaecat cupi datat non proi dent, sunt in culpa qui off icia..</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="box text-center">
                        <img src="{% static 'webapp/images/blog-listing/blog_03.jpg' %}" alt="services-1">
                        <div class="box-content">
                            <h3><a href="#">Mechanical Engineering</a></h3>
                            <p>Excepteur sint occaecat cupi datat non proi dent, sunt in culpa qui off icia..</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="box text-center">
                        <img src="{% static 'webapp/images/blog-listing/blog_02.jpg' %}" alt="services-2">
                        <div class="box-content">
                            <h3><a href="#">Pharmaceutical Research</a></h3>
                            <p>Excepteur sint occaecat cupi datat non proi dent, sunt in culpa qui off icia..</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="box text-center">
                        <img src="{% static 'webapp/images/blog-listing/blog_05.jpg' %}" alt="services-3">
                        <div class="box-content">
                            <h3><a href="#">Asbestos Remediation</a></h3>
                            <p>Excepteur sint occaecat cupi datat non proi dent, sunt in culpa qui off icia..</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--* End Services*-->

    <!--=* Get Started Section*=-->
    <section id="mt_get_started">
        <div class="container">
            <div class="watch_inner">
                <img src="{% static 'webapp/images/watch_inner.jpg' %}" alt="">
                <div class="watch_content">
                    <h3 class="white">We Build, Your Dream</h3>
                    <h2 class="white">Quality Comes First</h2>
                    <p>To develop a financial strategy for your future, it's important for your financial professional to see a complete, 360-degree view of your financial picture, including how your retirement assets are intadfegrated and work with one another.</p>
                    <a href="#" class="btn mt_btn_yellow mar-top-30">View Work Process</a>
                </div>
                <div class="pulses">
                    <button type="button" class="play-btn js-video-button" data-video-id='152879427' data-channel="vimeo"><i class="fa fa-play"></i></button>
                </div>
            </div>
        </div>
    </section>
    <!--* End Get Started Section*-->

    <!--*Newsletter*-->
    <div id="newsletter">
        <div class="container">
            <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="news-content">
                    <h3>SUBSCRIBE TO OUR NEWSLETTER</h3>
                    <p class="white">Subscribe to our brief newsletter to get exclusive discounts and new theme launches right in your inbox.</p>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="mailpoet_form">
                    <form target="_self" method="post" action="" novalidate="">
                        <input type="email" class="mailpoet_text" name="" title="Email" placeholder="Please specify a valid email address.">

                        <div class="button"><input type="submit" class="mailpoet_submit" value="Subscribe!"></div>
                    </form>
                </div>
            </div>
            </div>
        </div>    
    </div>
    <!--*End Newsletter*-->

{% endblock %}
