{% extends 'main/base.html' %}
{% load static %}


{% block content %}

    <!-- pagebanner -->
    <section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'webapp/images/cc_shop.jpg' %}{% endif %}');">
        <div class="page-title">
            <h2 class="white text-center">Our Shop</h2>
        </div>
    </section>
    <!-- End Pagebanner -->

    <!-- breadcrumb -->
    <div class="breadcrumb-main">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="index.html"><i class="fa fa-home"></i></a></li>
                <li class="active">our Shop</li>
            </ul>
        </div>
    </div><!-- End breadcrumb -->
    
    <!-- store -->
    <section id="our_store" class="our_store">
        <div class="container">

            <div class="row">
                {% for main_shop in services_shop %}
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="rt-product-wrapper">
                        <div class="product-thumbnail-wrapper">
                                <div class="product-image">
                                    <img src="{{ main_shop.image.url }}" class="img-fixed-size" class="" alt="product-list">
                                </div>
                            <div class="product-label"><span class="onsale">Sale</span></div>
                        </div>
                        <div class="rt-product-meta-wrapper">
                            <h3 class="product_title">
                                <a href="{{ main_shop.link }}">{{ main_shop.name }}</a>
                            </h3>
                            <div class="rt-cartprice-wrapper"> 
                                <span class="price mar-bottom-20">
                                    <ins>
                                        <span class="rrt-price-amount">
                                            <span>$</span>{{ main_shop.price }}
                                        </span>
                                    </ins>
                                </span>
                                <div class="button">
                                    <a href="{{ main_shop.link }}" class="mt_btn_yellow">Add to service</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="row"><!-- pagination -->
                <div class="col-md-12">
                    <div class="pagination-div text-center">
                        <ul class="pagination">
                            <li class="prev">
                                <a href="#"> <i class="fa fa-angle-double-left"></i> </a>
                            </li>
                            <li>
                                <a href="#">1</a>
                            </li>
                            <li class="active">
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a href="#">...</a>
                            </li>
                            <li>
                                <a href="#">10</a>
                            </li>
                            <li class="next">
                                <a href="#"> <i class="fa fa-angle-double-right"></i> </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- End pagination -->
        </div>
    </section>
    <!-- End store -->

{% endblock %}
