{% extends 'main/base.html' %}
{% load static %}


{% block content %}

    <!-- pagebanner -->
    <section id="pagebanner">
        <div class="page-title">
            <h2 class="white text-center">Our Shop</h2>
        </div>
    </section>
    <!-- End Pagebanner -->

    <!-- breadcrumb -->
    <div class="breadcrumb-main">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="index.html"><i class="fa fa-home"></i></a></li>
                <li class="active">our Shop</li>
            </ul>
        </div>
    </div><!-- End breadcrumb -->
    
    <!-- store -->
    <section id="our_store" class="our_store">
        <div class="container">

            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="rt-product-wrapper">
                        <div class="product-thumbnail-wrapper">
                                <div class="product-image">
                                    <img src="{% static 'webapp/images/product/prd-1.jpg' %}" class="" alt="product-list">
                                </div>
                            <div class="product-label"><span class="onsale">Sale</span></div>
                        </div>
                        <div class="rt-product-meta-wrapper">
                            <h3 class="product_title">
                                <a href="store-detail.html">Building Dozer</a>
                            </h3>
                            <div class="rt-cartprice-wrapper"> 
                                <span class="price mar-bottom-20">
                                    <del>
                                        <span class="rt-price-amount">
                                            <span >$</span>370.00
                                        </span>
                                    </del> 
                                    <ins>
                                        <span class="rrt-price-amount">
                                            <span>$</span>320.00
                                        </span>
                                    </ins>
                                </span>
                                <div class="button">
                                    <a href="store-detail.html" class="mt_btn_yellow">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="rt-product-wrapper">
                        <div class="product-thumbnail-wrapper">
                                <div class="product-image">
                                    <img src="{% static 'webapp/images/product/prd-2.jpg' %}" class="" alt="product-list">
                                </div>
                            <div class="product-label"><span class="onsale pull-left">Sale</span></div>
                            <div class="product-label"><span class="hot pull-right">Hot</span></div>
                        </div>
                        <div class="rt-product-meta-wrapper">

                            <h3 class="product_title">
                                <a href="store-detail.html">Bricks</a>
                            </h3>
                            <div class="rt-cartprice-wrapper"> 
                                <span class="price mar-bottom-20">
                                    <del>
                                        <span class="rt-price-amount">
                                            <span >$</span>370.00
                                        </span>
                                    </del> 
                                    <ins>
                                        <span class="rrt-price-amount">
                                            <span>$</span>320.00
                                        </span>
                                    </ins>
                                </span>
                                <div class="button">
                                    <a href="store-detail.html" class="mt_btn_yellow">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="rt-product-wrapper">
                        <div class="product-thumbnail-wrapper">
                                <div class="product-image">
                                    <img src="{% static 'webapp/images/product/prd-3.jpg' %}" class="" alt="product-list">
                                </div>
                            <div class="product-label"><span class="onsale">Sale</span></div>
                        </div>
                        <div class="rt-product-meta-wrapper">
                            <h3 class="product_title">
                                <a href="store-detail.html">Still Cutter</a>
                            </h3>
                            <div class="rt-cartprice-wrapper"> 
                                <span class="price mar-bottom-20">
                                    <del>
                                        <span class="rt-price-amount">
                                            <span >$</span>370.00
                                        </span>
                                    </del> 
                                    <ins>
                                        <span class="rrt-price-amount">
                                            <span>$</span>320.00
                                        </span>
                                    </ins>
                                </span>
                                <div class="button">
                                    <a href="store-detail.html" class="mt_btn_yellow">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="rt-product-wrapper">
                        <div class="product-thumbnail-wrapper">
                                <div class="product-image">
                                    <img src="{% static 'webapp/images/product/prd-4.jpg' %}" class="" alt="product-list">
                                </div>
                            <div class="product-label"><span class="onsale">Sale</span></div>
                        </div>
                        <div class="rt-product-meta-wrapper">
                            <h3 class="product_title">
                                <a href="store-detail.html">Elements Carrier</a>
                            </h3>
                            <div class="rt-cartprice-wrapper"> 
                                <span class="price mar-bottom-20">
                                    <del>
                                        <span class="rt-price-amount">
                                            <span >$</span>370.00
                                        </span>
                                    </del> 
                                    <ins>
                                        <span class="rrt-price-amount">
                                            <span>$</span>320.00
                                        </span>
                                    </ins>
                                </span>
                                <div class="button">
                                    <a href="store-detail.html" class="mt_btn_yellow">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="rt-product-wrapper">
                        <div class="product-thumbnail-wrapper">
                                <div class="product-image">
                                    <img src="{% static 'webapp/images/product/prd-5.jpg' %}" class="" alt="product-list">
                                </div>
                            <div class="product-label"><span class="onsale">Sale</span></div>
                        </div>
                        <div class="rt-product-meta-wrapper">
                            <h3 class="product_title">
                                <a href="store-detail.html">Pipeline Elements</a>
                            </h3>
                            <div class="rt-cartprice-wrapper"> 
                                <span class="price mar-bottom-20">
                                    <del>
                                        <span class="rt-price-amount">
                                            <span >$</span>370.00
                                        </span>
                                    </del> 
                                    <ins>
                                        <span class="rrt-price-amount">
                                            <span>$</span>320.00
                                        </span>
                                    </ins>
                                </span>
                                <div class="button">
                                    <a href="store-detail.html" class="mt_btn_yellow">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="rt-product-wrapper">
                        <div class="product-thumbnail-wrapper">
                                <div class="product-image">
                                    <img src="{% static 'webapp/images/product/prd-6.jpg' %}" class="" alt="product-list">
                                </div>
                            <div class="product-label"><span class="onsale">Sale</span></div>
                        </div>
                        <div class="rt-product-meta-wrapper">
                            <h3 class="product_title">
                                <a href="store-detail.html">Bull Dozer</a>
                            </h3>
                            <div class="rt-cartprice-wrapper"> 
                                <span class="price mar-bottom-20">
                                    <del>
                                        <span class="rt-price-amount">
                                            <span >$</span>370.00
                                        </span>
                                    </del> 
                                    <ins>
                                        <span class="rrt-price-amount">
                                            <span>$</span>320.00
                                        </span>
                                    </ins>
                                </span>
                                <div class="button">
                                    <a href="store-detail.html" class="mt_btn_yellow">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="rt-product-wrapper">
                        <div class="product-thumbnail-wrapper">
                                <div class="product-image">
                                    <img src="{% static 'webapp/images/product/prd-7.jpg' %}" class="" alt="product-list">
                                </div>
                            <div class="product-label"><span class="onsale pull-left">Sale</span></div>
                            <div class="product-label"><span class="hot pull-right">Hot</span></div>
                        </div>
                        <div class="rt-product-meta-wrapper">
                            <h3 class="product_title">
                                <a href="store-detail.html">Concrete Vibrator</a>
                            </h3>
                            <div class="rt-cartprice-wrapper"> 
                                <span class="price mar-bottom-20">
                                    <del>
                                        <span class="rt-price-amount">
                                            <span >$</span>370.00
                                        </span>
                                    </del> 
                                    <ins>
                                        <span class="rrt-price-amount">
                                            <span>$</span>320.00
                                        </span>
                                    </ins>
                                </span>
                                <div class="button">
                                    <a href="store-detail.html" class="mt_btn_yellow">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="rt-product-wrapper">
                        <div class="product-thumbnail-wrapper">
                                <div class="product-image">
                                    <img src="{% static 'webapp/images/product/prd-8.jpg' %}" class="" alt="product-list">
                                </div>
                            <div class="product-label"><span class="onsale">Sale</span></div>
                        </div>
                        <div class="rt-product-meta-wrapper">
                            <h3 class="product_title">
                                <a href="store-detail.html">Surveying Element</a>
                            </h3>
                            <div class="rt-cartprice-wrapper"> 
                                <span class="price mar-bottom-20">
                                    <del>
                                        <span class="rt-price-amount">
                                            <span >$</span>370.00
                                        </span>
                                    </del> 
                                    <ins>
                                        <span class="rrt-price-amount">
                                            <span>$</span>320.00
                                        </span>
                                    </ins>
                                </span>
                                <div class="button">
                                    <a href="store-detail.html" class="mt_btn_yellow">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row"><!-- pagination -->
                <div class="col-md-12">
                    <div class="pagination-div text-center">
                        <ul class="pagination">
                            <li class="prev">
                                <a href="#"> <i class="fa fa-angle-double-left"></i> </a>
                            </li>
                            <li>
                                <a href="#">1</a>
                            </li>
                            <li class="active">
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a href="#">...</a>
                            </li>
                            <li>
                                <a href="#">10</a>
                            </li>
                            <li class="next">
                                <a href="#"> <i class="fa fa-angle-double-right"></i> </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- End pagination -->
        </div>
    </section>
    <!-- End store -->

    <!--*Newsletter*-->
    <div id="newsletter">
        <div class="container">
            <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="news-content">
                    <h3>SUBSCRIBE TO OUR NEWSLETTER</h3>
                    <p class="white">Subscribe to our brief newsletter to get exclusive discounts and new theme launches right in your inbox.</p>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="mailpoet_form">
                    <form target="_self" method="post" action="" novalidate="">
                        <input type="email" class="mailpoet_text" name="" title="Email" placeholder="Please specify a valid email address.">

                        <div class="button"><input type="submit" class="mailpoet_submit" value="Subscribe!"></div>
                    </form>
                </div>
            </div>
            </div>
        </div>    
    </div>
    <!--*End Newsletter*-->

{% endblock %}
