{% extends 'main/base.html' %}
{% load static %}


{% block content %}

    <!-- pagebanner -->
    <section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'images/cc_invoice_brcr.jpg' %}{% endif %}')">
        <div class="page-title">
            <h2 class="white text-center">Send Invoice</h2>
        </div>
    </section>
    <!-- End Pagebanner -->

    <!-- breadcrumb -->
    <div class="breadcrumb-main">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'webapp:home' %}"><i class="fa fa-home"></i></a></li>
                <li><a href="{% url 'webapp:home' %}">Invoice</a></li>
                <li class="active">New</li>
            </ul>
        </div>
    </div><!-- End breadcrumb -->
    <section id="mt_services">
        <div class="container wow slideInLeft">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <h2>Send Invoice</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="mt_btn_yellow" type="submit">Send Invoice</button>
                    </form>
                </div>
                <div class="col-md-6 col-sm-12 image-invoice">
                    <img src="{% static 'images/confide_dollars_nbg.png' %}" alt="Invoice Image" class="img-fluid"/>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
