{% extends 'main/base.html' %}
{% load static %}


{% block content %}


    <!-- pagebanner -->
    <section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'webapp/images/cc_disposal1.jpg' %}{% endif %}');">
        <div class="page-title">
            <h2 class="white text-center">PAYMENTS</h2>
        </div>
    </section>
    <!-- End Pagebanner -->

    <!-- breadcrumb -->
    <div class="breadcrumb-main">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'webapp:home' %}"><i class="fa fa-home"></i></a></li>
                <li><a href="{% url 'webapp:services' %}">Services</a></li>
                <li class="active">Disposal</li>
            </ul>
        </div>
    </div>
    <!-- End breadcrumb -->


    <section class="section">
        <div class="container">
            <button class="btn mt_btn_yellow" id="submitBtn">Purchase!</button>
        </div>
    </section>


    <!-- store -->
    <section id="our_store" class="our_store related_store">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!-- section title -->
                    <div class="section_heading">
                        <h2 class="section_title">
                            <span>Our Services</span>
                        </h2>
                        <p class="heading_txt">We offer a range of services in the field of repair and construction.</p>
                    </div>
                </div>
            </div>

            <div class="row slider-shop">
                {% for main_sl_cart_prod in main_serv %}
                    <div class="col-md-3 col-xs-12">
                        <div class="rt-product-wrapper">
                            <div class="product-thumbnail-wrapper">
                                <div class="product-image">
                                    <img src="{{ main_sl_cart_prod.image.url }}" class="img-fixed-size"
                                         alt="product-list">
                                </div>
                                <div class="product-label"><span class="onsale">Sale</span></div>
                            </div>
                            <div class="rt-product-meta-wrapper">
                                <h3 class="product_title">
                                    <a href="store-detail.html">{{ main_sl_cart_prod.name }}</a>
                                </h3>
                                <div class="rt-cartprice-wrapper">
                                <span class="price mar-bottom-20">
{#                                    <del>#}
{#                                        <span class="rt-price-amount">#}
{#                                            <span >$</span>#}
{#                                        </span>#}
{#                                    </del>#}
                                    <ins>
                                        <span class="rrt-price-amount">
                                            <span>$</span>{{ main_sl_cart_prod.price }}
                                        </span>
                                    </ins>
                                </span>
                                    <div class="button">
                                        <a href="{{ main_sl_cart_prod.link }}" id="submitBtn" class="mt_btn_yellow">Go to service</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End store -->


{% endblock %}