<!DOCTYPE html>
{% extends 'main/base.html' %}
{% load static %}


{% block content %}


    <!-- pagebanner -->
    <section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'images/cc_brcump_card1.png' %}{% endif %}');">
        <div class="page-title">
            <h2 class="white text-center">PAYMENTS</h2>
        </div>
    </section>
    <!-- End Pagebanner -->

    <!-- breadcrumb -->
    <div class="breadcrumb-main">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'webapp:home' %}"><i class="fa fa-home"></i></a></li>
                <li><a href="{% url 'webapp:services' %}">Data Validation</a></li>
                <li class="active">{{ checkout_details.name_check }}</li>
            </ul>
        </div>
    </div>
    <!-- End breadcrumb -->


    <!-- checkout -->
    <section id="checkout-main" class="checkout-main section-padding">
        <div class="container">
            <div class="checkout-inner">
                <div class="checkout-order">
                    <div class="section_heading">
                        <h2 class="section_title">
                            <span>Order</span>
                        </h2>
                        <p class="heading_txt"><b>Review data, proceed to payment in the STRIPE if accurate.</b></p>
                    </div>
                    <div class="row">
                        {% csrf_token %}
                        <input type="hidden" name="product_object_id" value="{{ product_id }}">
                        <!-- Передаем ID продукта -->
                        <div class="order-list">
                            <table class="shop_table rt-checkout-review-order-table">
                                <tr class="order-total">
                                    <th>Product Name:</th>
                                    <td><strong><span
                                            class="rt-Price-amount">{{ checkout_details.name_check }}</span></strong>
                                    </td>
                                </tr>
                                <tr class="order-total">
                                    <th>Name:</th>
                                    <td><strong><span
                                            class="rt-Price-amount">{{ checkout_details.last_name_check }}</span></strong>
                                    </td>
                                </tr>
                                <tr class="order-total">
                                    <th>Town/City:</th>
                                    <td><strong><span
                                            class="rt-Price-amount">{{ checkout_details.town_city }}</span></strong>
                                    </td>
                                </tr>
                                <tr class="order-total">
                                    <th>Street Address:</th>
                                    <td><strong><span
                                            class="rt-Price-amount">{{ checkout_details.street_address }}</span></strong>
                                    </td>
                                </tr>
                                <tr class="order-total">
                                    <th>Date:</th>
                                    <td><strong><span
                                            class="rt-Price-amount">{{ checkout_details.date }}</span></strong>
                                    </td>
                                </tr>
                                <tr class="order-total">
                                    <th>Phone Number:</th>
                                    <td><strong><span
                                            class="rt-Price-amount">{{ checkout_details.phone_number }}</span></strong>
                                    </td>
                                </tr>
                                <tr class="order-total">
                                    <th>Order Notes:</th>
                                    <td><strong><span
                                            class="rt-Price-amount">{{ checkout_details.email }}</span></strong>
                                    </td>
                                </tr>
                                <tr class="order-total">
                                    <th>Order Notes:</th>
                                    <td><strong><span
                                            class="rt-Price-amount">{{ checkout_details.order_notes }}</span></strong>
                                    </td>
                                </tr>
                                <tr class="order-total">
                                    <th>Price:</th>
                                    <td><strong><span
                                            class="rt-Price-amount">{{ checkout_details.discount_check|floatformat:0 }} $</span></strong>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="checkout-place-order" style="text-align: right;">
                            <div style="text-align: center; padding: 15px;">
                                <p>Your personal data will be used to process your order, support your experience
                                    throughout
                                    this website, and for other purposes described in our <a href="#">privacy
                                        policy</a>.
                                </p>
                            </div>
                            <input type="hidden" name="session_id" value="{{ checkout_session.sessionId }}">
                            <button class="btn mt_btn_yellow" id="submitBtn">Pay with Stripe ></button>
                        </div>

{#                        <button type="button" onclick="window.location.href='{% url 'webapp:checkout' %}?product_id={{ product.id }}'" class="back-to-checkout-btn btn mt_btn_yellow_checkout"> < Back#}
{#                            to Checkout#}
{#                        </button>#}
                        <button type="button" onclick="window.location.href='{% url 'webapp:services' %}'" class="back-to-checkout-btn btn mt_btn_yellow_checkout"> Cancel Payment
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End checkout -->

    <!--*Newsletter*-->
    <div id="newsletter">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="news-content">
                        <img src="{% static 'images/cc_favicon8.png' %}" class="img-fixed-size-for-mailform"
                             alt="Awesome Logo">
                        <h3 id="consultation-title" class="slide-in">ORDER FREE CONSULTATION</h3>
                        <!-- Добавлен класс slide-in -->
                        <p class="beige"><b>WRITE US TODAY FOR A FREE CONSULTATION ON HOW WE CAN HELP YOU ACHIEVE YOUR
                            LIFESTYLE DREAMS.</b></p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="mailpoet_form">
                        <form target="_self" method="post" action="{% url 'webapp:contacts' %}" novalidate="">
                            {% csrf_token %}
                            <input type="text" name="name" placeholder="Your Name">
                            <input type="email" class="mailpoet_text" name="email" title="Email"
                                   placeholder="Please specify your email address.">
                            <input type="text" name="description" placeholder="Description Service">
                            <div class="button button-mail">
                                <input type="submit" class="button mailpoet_submit" value="Free Quote">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--*End Newsletter*-->


{% endblock %}