{% load static %}


<!-- Slider -->
    <div id="home-banner" class="video-banner carousel kbrns_zoomInOut ps_easeOutQuart" data-ride="carousel" data-pause="hover" data-interval="10000" data-duration="2000">

        <!-- Wrapper For Slides -->
        <div class="carousel-inner" role="listbox">

            <!-- First Slide -->
            <div class="item active">
                <!-- Slide Background -->
                <div class="home-banner_vid">
                    <video autoplay loop>
                        <source src="{% static 'webapp/images/cc_working.mp4' %}" type="video/mp4">
                    </video>
                </div>
                <!-- Left Slide Text Layer -->
                <div class="caption_slide1 fadeInRight" data-animation="animated fadeInRight">
                    <span class="white">Experts in Field</span>
                    <h1 class="white">We Plan Your Big Dreams</h1>
                    <p class="white mar-bottom-25">We exist to make your dreams come true.</p>
                    <a href="#" class="btn mt_btn_yellow">learn more</a>
                </div><!-- /Left Slide Text Layer -->
            </div><!-- /item -->
        </div><!-- End of Wrapper For Slides -->
    </div> <!-- End Slider -->
